# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

### Members:
    - NOBLEJAS GARCÍA, JIMMY ALEXANDER
    - PINILLOS ZEGARRA, XIMENA ALEJANDRA
    - POGGI SOLANO, CESAR ALEJANDRO
    - TORRES TAPIA, SEBASTIAN ELIAS

## 1.1 Conditional statements

1. You work at a college admissions office. When inspecting a dataset of college applicants, you notice that some students have represented their grades with letters (`"AD"`, `"A"`, `"B"`, `"C"`), whereas others have represented their grades with a number between 0 and 20.

    You realize that for consistency, all of the grades should be formatted in the same way, and you decide to format them all as letters. For the conversion, you decide to assign:

    - `"AD"` - any grade 18-20, inclusive
    - `"A"` - any grade 14-17, inclusive
    - `"B"` - any grade 10-13, inclusive
    - `"C"` - any grade <10

    Write a function get_grade() that takes as input:
    - `score` - an integer 0-20 corresponding to a numerical grade

   It should return a Python string with the letter grade that it corresponds to. For instance,

    - A score of 12 corresponds to a B grade. In other words, `get_grade(12)` should return `"B"`.
    - A score of 3 corresponds to an C grade. In other words, `get_grade(3)` should return `"C"`.

   Make sure that when supplying the grade that is returned by the function, it is enclosed in quotes. (For instance, if you want to return `"A"`, you should write `return "A"` and not `return A`.)

In [1]:
#We create a function using conditionals for every letter grade. We assure that the letter is between quotes

def get_grade(x):
    if (x >= 18 and x<=20):
        return "AD"

    elif (x >=14 and x<=17):
        return "A"
    
    elif (x>=10 and x<=13):
        return "B"
    
    elif (x>=0 and x<=10):
        return "C"

In [ ]:
#Now we test and use our function!
get_grade(12)

'B'

In [2]:
get_grade(16)

'A'

In [ ]:
get_grade(3)

'C'

2. You are a programmer at a water agency. Recently, you have been tasked to write a function `get_water_bill()` that takes as input:

    - `num_gallons` = the number of gallons of water that a customer used that month. (This will always be an integer with no decimal part.)

   It should output the water bill.

   The water agency uses this pricing structure:

| Tier        | Amount in gallons | Price per 1000 gallons |
| ----------- | ----------------  | ---------------------- |
| Tier 1      | 0 - 8,000         | 5                      |
| Tier 2      | 8,001 - 22,000    | 6                      |
| Tier 3      | 22,001 - 30,000	  | 7                      |
| Tier 4      | 30,001+	      	  | 10                     |

## 1.2 For Loop

1. Do the following to create a program that simulates how websites ensure that everyone has a unique username.

    - Make a list of five or more usernames called `current_users`. Make another list of five usernames called `new_users`. Make sure one or two of the new usernames are also in the `current_users` list.
    - Loop through the `new_users` list to see if each new username has already been used. If it has, print a message that the person will need to enter a new username. If a username has not been used, print a message saying that the username is available.
    - Make sure your comparison is case insensitive. If `John` has been used, `JOHN` should not be accepted.

In [ ]:
current_users = ['eric', 'willie', 'admin', 'erin', 'Ever']
new_users = ['sarah', 'Willie', 'PHIL', 'ever', 'Iona']

In [ ]:
# First, in order to loop trough the new_user list to see if any username has already been used, we can use lowercase method to recognize similar names (so it can be in case insensitive). 
current_users_low = [username.lower() for username in current_users]

In [ ]:
# Second, we can loop trough the new_user list to check the usernames. If one username is already been used, we print "has already been taken. Enter a new username.". Otherwise, we will print "The username is available."
for username in new_users:
    if username.lower() in current_users_low:
        print(f"The username {username} has already been taken. Enter a new one.")
    else:
        print(f"The username {username} is available.")

The username sarah is available.
The username Willie has already been taken. Enter a new one.
The username PHIL is available.
The username ever has already been taken. Enter a new one.
The username Iona is available.

2. Make a dictionary called `cities`. Use the names of three cities as keys in your dictionary. Create a dictionary of information about each city and include the country that the city is in, its approximate population, and one fact about that city. The keys for each city’s dictionary should be something like `country`, `population`, and `fact`. Print the name of each city and all of the information you have stored about it.

In [ ]:
cities = {
    'santiago': {
        'country': 'chile',
        'population': 6158080,
        'fact': 'is the longest country in the world that stretches from North to South in a narrow strip.',
        },
    'talkeetna': {
        'country': 'alaska',
        'population': 876,
        'fact': 'began in 1916 when the area was chosen as a district headquarters for the Alaska Railroad.',
        },
    'kathmandu': {
        'country': 'nepal',
        'population': 1003285,
        'fact': 'is home to the oldest community of inhabitants: the Newar.',
        }
    }

In [ ]:
#First, we print the cities dictionary to check the info we will require.
print(cities)

{'santiago': {'country': 'chile', 'population': 6158080, 'fact': 'Chile is the longest country in the world that stretches from North to South in a narrow strip.'}, 'talkeetna': {'country': 'alaska', 'population': 876, 'fact': 'Talkeetna began in 1916 when the area was chosen as a district headquarters for the Alaska Railroad.'}, 'kathmandu': {'country': 'nepal', 'population': 1003285, 'fact': 'Kathmandu valley is home to the oldest community of inhabitants, the Newar.'}}

In [ ]:
# Then, we create a neat output for the cities and the additional info.
for ct, ct_inf in cities.items():
    country = ct_inf['country'].title()
    population = ct_inf['population']
    fact = ct_inf['fact'].title()

  # Finally, we print the name of the city and the information we have just stored abut them. 
    print("\n" + ct.title() + " is a city in " + country + ".")
    print("  Its population is about " + str(population) + " " + "people.")
    print("  A fact is that this city " + fact)

Santiago is a city in Chile.
  Its population is about 6158080 people.
  A fact is that this city Is The Longest Country In The World That Stretches From North To South In A Narrow Strip.

Talkeetna is a city in Alaska.
  Its population is about 876 people.
  A fact is that this city Began In 1916 When The Area Was Chosen As A District Headquarters For The Alaska Railroad.

Kathmandu is a city in Nepal.
  Its population is about 1003285 people.
  A fact is that this city Is Home To The Oldest Community Of Inhabitants: The Newar.

## 1.2 While Loop

1. How a game will stay active as long as the player has enough power? Make a variable called `power`, and set its initial value to 5. So, the player's power starts out at 5 and is allowed to keep playing as long as their power is over 0. 

    - Inside the while loop, print a message that reports the player's current power.
    - Inside the while loop, write a statement that decreases the player's power.
    - Outside the while loop, print a message reporting that the player has grown too weak, and that the game is over.

In [3]:
#Firstly, we set the initial value in 5
power = 5

#Then we create the while loop
while power > 0:
    print("The player's current power is ", power) #This function will report the player's current power
    #break code
    power = power - 1
    
print("THE GAME IS OVER! The player has grown too weak") #Final message

The player's current power is  5
The player's current power is  4
The player's current power is  3
The player's current power is  2
The player's current power is  1
THE GAME IS OVER! The player has grown too weak