# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [12]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

### Answer 1

In [13]:
answer1 = tuple1[1]
answer1[0]

10

### Answer 2

In [14]:
tuple1[-1]

(5, 15, 25)

### Answer 3

In [1]:
tuple1[0] = "pink_grapefruit"
tuple1
# It's not possible to modify any tuple's value

NameError: name 'tuple1' is not defined

### Answer 4

In [20]:
len(tuple1)

3

### Answer 5

In [13]:
def function(x):
    return x[0] + x[1]
    # this takes a tuple of two numbers and returns their sum. It works since tuple2 already has its values paired.
    # this accesses the first value of the tuple with "x[0]" and the second with "x[1]"
answer_5 = sum(map(function, tuple2))
answer_5

42

### Answer 6

In [9]:
def function2(sublist):
    # "sublist" represents each individual list within tuple2
    return [value / 2 for value in sublist]
    # this creates a new list by applying the operation "value / 2" to each element in "sublist"
tuple3 = tuple(map(function2, tuple2))
    #tuple creates a tuple
tuple3

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])