# 1 Assignment 2

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [1]:
import numpy as np

In [2]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [3]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [4]:
p2_list = [ 2 , 3, 4, 5 ]

In [5]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [6]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

## Tarea 1.2.1

Como primer paso se define una función que toma un valor como argumento,  en el cual se evalua si un valor NaN utilizando np.isnan(value), luego si no es Nan devuelve false. En resumen, la función ayuda a determinar si un valor es NaN o no

Luego se usa "indices_nan = np.where([custom_isnan(x) for x in f_list])[0]" 
En esta usamos custom_isnan(x) a cada elemento de f list, el resultado es una lista de booleanos que indica si cada elemento es NaN o no. 
np.where se utiliza para obtener los índices donde el valor es True (es decir, donde encontramos NaN).
[0] se añade al final para obtener solo el primer conjunto de índices (ya que np.where devuelve una tupla de arrays y estamos interesados en el primer array)

Luego se usa print para mostrar los resultados acompañados de un texto

In [7]:
def custom_isnan(value):
    try:
        return np.isnan(value)
    except TypeError:
        return False

indices_nan = np.where([custom_isnan(x) for x in f_list])[0]

print(f'Los índices {", ".join(map(str, indices_nan))} tienen valores np.nan.')

Los índices 0, 1, 4, 7 tienen valores np.nan.

## Tarea 1.2.2

En este ejemplo p2_list se replica 4 veces utilizando el signo *4

In [8]:
p2_list_replicada = p2_list * 4
print(p2_list_replicada)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

## Tarea 1.2.3

Se usa la función len para observar la longitud de f_list

In [9]:
print(f"La longitud de f_list es {len(f_list)}.")

La longitud de f_list es 8.

## Tarea 1.2.4

Se utiliza join para unir las cadenas en un solo texto, en el cual se usa (' ') como separador de las cadenas, posteriormente se imprime el resultado

In [10]:
text1_output = ' '.join(text1)
print(text1_output)

My teacher assistant is so boring.

## Tarea 1.2.5

Primero se almacena el nuestro trabajo con el comando copy(), posteriormente usamos extend() para agragar la nueva cadena de texto. Finalmente, usamos join() para unir las cadenas en un solo texto, usando el separador de cadenas ('')

In [11]:
text1_extendida = text1.copy()
text1_extendida.extend(["but", "is", "very", "funny."])
text1_output_extendida = ' '.join(text1_extendida)
print(text1_output_extendida)

My teacher assistant is so boring. but is very funny.

## Tarea 1.2.6

Este código encuentra e imprime el valor máximo y mínimo en una lista llamada values1 junto con sus índices, todo en cuatro líneas de código.

In [12]:
indice_max_valor = values1.index(max(values1))
indice_min_valor = values1.index(min(values1))
print(f"El valor máximo de values1 es {max(values1)} y se encuentra en el índice {indice_max_valor}.")
print(f"El valor mínimo de values1 es {min(values1)} y se encuentra en el índice {indice_min_valor}.")

El valor máximo de values1 es 86 y se encuentra en el índice 0.
El valor mínimo de values1 es 0 y se encuentra en el índice 7.

## Tarea 1.2.7

Este código separa las cadenas "apellido, nombre" en dos listas, nombres y apellidos, en una sola línea

In [13]:
nombres, apellidos = zip(*map(lambda x: x.split(', '), last_and_name))

## Tarea 1.2.8

Este código crea una lista llamada apellidos_sin_email con los apellidos asociados a emails vacíos o nulos en la lista emails.

In [14]:
apellidos_sin_email = [apellidos[i] for i, email in enumerate(emails) if not email]

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

## Tarea 1.3.1 
Lo primero que tenemos que hacer es dividir la cadena en palabras.
Luego dividimos las palablar con un solo espacio entre ellos (para que se visualice de manera adecuada).
Después de terminado todo ello simplemente imprimimos el resultado con el comando print

In [15]:
str1 = 'I am                            too                                                        old'

In [16]:
words = str1.split()
result_str = ' '.join(words)
print(result_str)

I am too old

## Tarea 1.3.2
En esta segunda parte simplemente usaremos la función len para obtener el número de letras de la cadena

In [17]:
num_letras = len([char for char in str1 if char.isalpha()])
print(f"Número de letras en la cadena: {num_letras}")

Número de letras en la cadena: 9

## Tarea 1.3.3
Obtenemos el número de espacios en blanco de la cadena usando count (" "), a través del cual solicitamos contar los espacios en blancos existentes dentro de la cadena str1. Luego de ello simplemente imprimimos el resultado.

In [18]:
num_espacios_en_blanco = str1.count(' ')
print(f"Número de espacios en blanco: {num_espacios_en_blanco}")

Número de espacios en blanco: 85

## Tarea 1.3.4 
Primero crearemos una función y usamos método find. Luego usamos map para aplicar la función a cada elemento de la lista que tengamos. Por último, imprimimos el resultado

In [19]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [20]:
def obtener_posicion_arroba(cadena):
    return cadena.find('@')
posiciones_arroba = list(map(obtener_posicion_arroba, emails))
print(f"Posiciones de '@' en cada correo electrónico: {posiciones_arroba}")

Posiciones de '@' en cada correo electrónico: [9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

## Tarea 1.3.5
En primer lugar definiremos la función "existe_edu". Luego usamos "map". Esta última función (de orden superior) toma dos argumentos: una función y una secuencia iterable (por ejemplo, una lista). Aplica la función a cada elemento de la secuencia y devuelve un nuevo iterable (en este caso, una lista) que contiene los resultados de aplicar la función a cada elemento de la secuencia. Finalmente imprimimos los resultados y obtenemos la lista de valores booleanos.

In [21]:
def existe_edu(cadena):
    return ".edu." in cadena
resultados_edu = list(map(existe_edu, emails))
print(f"Existencia de '.edu.' en cada correo electrónico: {resultados_edu}")

Existencia de '.edu.' en cada correo electrónico: [True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

## Tarea 1.3.6
Definimos función para obtener las cadenas antes del primer punto y contar cuántas contienen @. Luego usaremos "map" tal y como en la sección anterior.

In [22]:
def obtener_cadenas_anteriores(cadena):
    index_punto = cadena.find('.')
    cadena_anterior = cadena[:index_punto]
    tiene_arroba = '@' in cadena_anterior
    return tiene_arroba
# Usamos map
resultados_anteriores = list(map(obtener_cadenas_anteriores, emails))
print(f"Número de cadenas con '@' antes del primer punto: {sum(resultados_anteriores)}")

Número de cadenas con '@' antes del primer punto: 14

## 1.4 Pandas

You can and should always ask ChatGPT, BARD, Bing, etc.
In this exercise, you will work with financial data. Follow the steps below:

1. Load Data:
   Load the financial data available at this URL:    https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv
   Use `pd.read_csv()` adn the link to load the data into a DataFrame.

2. Explore Data:
   a) Display the first five rows of the DataFrame.
   b) Display the summary statistics of the DataFrame.

3. Add Columns:
   a) Add a new column 'Level' that categorizes the 'Close' column values into 'Low' (< 20), 'Medium' (20-30), and 'High' (>30). You need to make a filter to make this categorization. You can see below some suggestions how to do it.
   b) Add a new column 'Year' extracted from the 'Date' column. You need to work with dates. You can do it directly workiwith the column splitting it or changing it to date format an dfollowing the below suggestion. 

4. Add Rows:
   a) Add a new row with a date of your choice and fill the other columns with appropriate values. 

5. Analysis:
   a) Calculate the average of the column 'Close' for each 'Year'. You need to group for this task.
   b) Count the number of 'High', 'Medium', and 'Low'  Level days in the data.

Suggestions:
   - Use `pd.cut()` for categorizing 'Close' values.
   - Use `pd.to_datetime()` and `dt.year` to extract the year from a date.
   - Use `DataFrame.append()` or `pd.concat()` to add rows.
   - Use `groupby()` for aggregation tasks.

## 1.4.1

In [23]:
#En primer lugar creamos un data frame con la información del URL, y usamos la biblioteca panda que nos ayudará a leer archivos .csv

In [24]:
url = 'https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv'
data_frame = pd.read_csv(url)

NameError: name 'pd' is not defined

In [ ]:
# a) Mostramos las primeras cinco filas del DataFrame
print("Primeras cinco filas del DataFrame:")
data_frame.head()

In [ ]:
# b) Mostramos estadísticas resumidas del DataFrame
print("\nEstadísticas resumidas del DataFrame:")
data_frame.describe()

## 1.4.3

In [ ]:
# Añadimos una nueva columna 'Level' basada en la columna 'Close'
data_frame['LEVEL'] = pd.cut(data_frame['CLOSE'], bins=[-float('inf'), 20, 30, float('inf')], 
                             labels=['Low', 'Medium', 'High'])
# Convertimos columna 'Date' a formato de fecha
data_frame['DATE'] = pd.to_datetime(data_frame['DATE'])

# Añadimos nueva columna 'Year' extrayendo el año de la columna 'Date'
data_frame['YEAR'] = data_frame['DATE'].dt.year

# Mostramos DataFrame con la nueva columna 'Level'
data_frame.head()

## 1.4.4

In [ ]:
# Se crea una nueva fila con la fecha '2024-01-06' y valores apropiados para las otras columnas
new_row = pd.DataFrame({'DATE': ['2024-01-06'], 'OPEN': [14.25],
                        'HIGH': [13.80], 'LOW': [13.70], 'CLOSE': [14.22], 
                        'ADJ CLOSE': [14.15], 'VOLUME': [1150000], 
                        'LEVEL': ['High'], 'YEAR': [2024]})

# Concatenar la nueva fila al DataFrame existente
data_frame = pd.concat([data_frame, new_row], ignore_index=True)

In [ ]:
# Ajustar el formato de la columna 'DATE'
data_frame['DATE'] = pd.to_datetime(data_frame['DATE'],
                                    errors='coerce').dt.strftime('%Y-%m-%d')

# Eliminar las columnas 'ADJ CLOSE' y 'VOLUME'
data_frame = data_frame.drop(['ADJ CLOSE', 'VOLUME'], axis=1)

# Mostrar el DataFrame actualizado
print(data_frame.head())

# Mostrar el DataFrame con la nueva fila
print(data_frame.tail())

## 1.4.5

In [ ]:
# Calcular el promedio de la columna 'Close' para cada 'Year'
average_close_by_year = data_frame.groupby('YEAR')['CLOSE'].mean()

# Mostrar el resultado
average_close_by_year

In [ ]:
# Contar el número de días en cada nivel ('High', 'Medium', 'Low')
level_counts = data_frame['LEVEL'].value_counts()

# Mostrar el resultado
print(level_counts)