# 1 Assignment 2

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [1]:
# 1
import numpy as np
# Primero se crea la lista f_list
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ] 
#Crea un nuevo array NumPy llamado filtered_arr. Recorrer cada elemento x en f_list y convierte los elementos que 
# son números enteros o flotantes a tipo de dato float, mientras que los demás elementos se convierten en np.nan.
# El resultado es un array NumPy de tipo float.
filtered_arr = np.array([float(x) if isinstance(x, (int, float)) else np.nan for x in f_list]) 
#Encuentra los índices de los elementos np.nan
nan_indices = np.flatnonzero(np.isnan(filtered_arr)) 
#Imprime un mensaje utilizando f-strings. Utiliza ', '.join(map(str, nan_indices)) para convertir los índices de 
# nan_indices a una cadena y luego los imprime en el mensaje.
print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")

The indices 0, 1, 2, 3, 4, 5, 6, 7 have np.nan values.

In [19]:
# 2
# Se crea una lista p2_list 
p2_list = [ 2 , 3, 4, 5 ]
# Se crea una nueva lista llamada replicated_list. Python genera una nueva lista que contiene múltiples copias de la original.
replicated_list = p2_list * 4
# Se imprime el resultado
print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [20]:
#3
# Se obtiene la longitud de la secuencia con len()
len(f_list)

8

In [21]:
#4 
# Se crea la lista text1
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring']
# Se utiliza el método join de las cadenas para concatenar los elementos de la lista text1 separados por
# un espacio en blanco. Esto crea una cadena única que representa la oración.
sentence = ' '.join(text1)
# Se imprime la cadena
print(sentence)

My teacher assistant is so boring

In [22]:
#5
# Se crea una nueva lista llamada new_text 
new_text = text1.copy()
# Se utiliza el método extend() para agregar los elementos requeridos
new_text.extend([',but', 'is', 'very', 'funny.'])
# Se utiliza el método join de las cadenas para concatenar los elementos de la lista new_text
# separados por un espacio en blanco. Esto crea una cadena única que representa la oración
sentence = ' '.join(new_text)
# Se imprime el resultado
print(sentence)

My teacher assistant is so boring ,but is very funny.

In [1]:
#6
# Se crea una lista values1
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 
# Se utiliza la función max() para obtener el valor máximo de la lista
max_value = max(values1)
# Se utiliza el método index() para encontrar el índice del valor máximo
max_index = values1.index(max_value)
# Se utiliza la función min() para obtener el valor mínimo de la lista values1
min_value = min(values1)
# Se utiliza el método index() para encontrar el índice del valor mínimo 
min_index = values1.index(min_value)
# Imprime el mensaje utilizando f-strings que incluye el valor máximo y su índice en la lista.
print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [2]:
#7
# These two lists a
# Se define una lista llamada last_and_name que contiene nombres completos en el formato "Apellido, Nombre"
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
# Se utiliza la función map para aplicar la función lambda x: x.split(', ', 1) a cada elemento de last_and_name. 
# Esta función divide cada cadena en dos partes utilizando ', ' como separador.
# Luego, zip(*...) se utiliza para desempaquetar las tuplas resultantes en dos listas separadas
last_names, names = zip(*(map(lambda x: x.split(', ', 1), last_and_name)))
# Se imprimen los resultados de la lista de apellidos y nombres
print(last_names)
print(names)

('CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO')
('CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS')

In [3]:
#8 
# Se crea la lista de emails
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]
# Combina las listas emails y last_and_name en una lista de tuplas.
# Filtra las tuplas donde el primer elemento (correo electrónico) es una cadena vacía ''.
# Mapea para obtener el segundo elemento de cada tupla después de la filtración, que es el nombre completo en el formato "Apellido, Nombre".
# Convierte el resultado en una lista.
last_names_no_email = list(map(lambda x: x[1], filter(lambda y: y[0] == '', zip(emails, last_and_name))))

# Se imprime los apellidos de estudiantes sin correo electrónico
print("Last Names without Email:", last_names_no_email)

Last Names without Email: ['HUANCAYA IDONE, CESAR DANTE', 'CALVO PORTOCARRERO, GABRIELA ISABEL', 'IBAÑEZ ABANTO, ANGEL MAURICIO', 'MELÉNDEZ APONTE, JUAN DIEGO', 'CRISTIAN SERRANO, ARONE', 'ANGLAS GARCÍA, KEVIN ARTURO', 'ALDAVE ACOSTA, CESAR ERNESTO', 'NÚÑEZ HUAMÁN, CÉSAR AGUSTO', 'OBREGON HUAMAN, DIANA EDITH', 'SOTO PACHERRES, RODRIGO FRANCO', 'INGARUCA RIVERA, GRETTEL ALEXANDRA', 'ROJAS HUAMAN, ROSA ANGELA', 'NEYRA SALAS, DANTE OMAR', 'HUERTA ESPINOZA, YAJAIRA ALEXANDRA', 'HUANCA MARTINEZ, JORGE ALBERTO']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [6]:
str1 = 'I am                            too                                                        old'

In [7]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [8]:
#Question number 1  
str2 = " ".join(str1.split())  # We separated elements using double quotes and then converted list. So, we ingore special characters (like spaces)
print(str2)                    # Finally, we join the elements of a list. So, We need to indicate separated spaces to eliminate double quotes.

I am too old

In [9]:
#Question number 2
len("".join(str1.split()))  #We used only len to contain numbers elements

9

In [10]:
#Question number 3
print(str1.count(" "))  #We used the "count" fuction to count the blank space in the string.

85

In [11]:
#Question number 4
def find_a(emails):   #in this case we use copilot to guide about this question. So, we difine a fuction
    return emails.find("@")  #we use return method to find @ 
find_a = list(map(find_a, emails)) #we called the find_A
print(find_a)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [12]:
#Question number 5
def find_edu(emails):   #First, we define a function to find_edu in each strings with a True/False condition
    if emails.find(".edu") != -1:  #we use if, else to conditional fuction and return method. 
        return True
    else:
        return False
find_edu = list(map(find_edu, emails))   #We called fuction and the print the result. obs: we use copilotgpt4 to understand this exercise.

print(find_edu)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [13]:
#Question number 6
def before_dot(emails):  ## First we define a function to get all the strings before the first dot
    return emails.split(".")[0] 
before_dot = list(map(before_dot, emails)) # Then we print the new list 
print(before_dot)

['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']

## 1.4 Pandas

You can and should always ask ChatGPT, BARD, Bing, etc.
In this exercise, you will work with financial data. Follow the steps below:

1. Load Data:
   Load the financial data available at this URL:    https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv
   Use `pd.read_csv()` adn the link to load the data into a DataFrame.

2. Explore Data:
   a) Display the first five rows of the DataFrame.
   b) Display the summary statistics of the DataFrame.

3. Add Columns:
   a) Add a new column 'Level' that categorizes the 'Close' column values into 'Low' (< 20), 'Medium' (20-30), and 'High' (>30). You need to make a filter to make this categorization. You can see below some suggestions how to do it.
   b) Add a new column 'Year' extracted from the 'Date' column. You need to work with dates. You can do it directly workiwith the column splitting it or changing it to date format an dfollowing the below suggestion. 

4. Add Rows:
   a) Add a new row with a date of your choice and fill the other columns with appropriate values. 

5. Analysis:
   a) Calculate the average of the column 'Close' for each 'Year'. You need to group for this task.
   b) Count the number of 'High', 'Medium', and 'Low'  Level days in the data.

Suggestions:
   - Use `pd.cut()` for categorizing 'Close' values.
   - Use `pd.to_datetime()` and `dt.year` to extract the year from a date.
   - Use `DataFrame.append()` or `pd.concat()` to add rows.
   - Use `groupby()` for aggregation tasks.

In [19]:
import pandas as pd
url = "https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv"
df  = pd.read_csv(url)

In [15]:
#Question number 2 a) display the first five rows of the DataFrame
df.head(5) #Show the first five rows

         DATE   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26

In [20]:
#Display the summarize statistics of data fram
df.describe(include="all") #the function "describe" provide us descriptive statistics about the variables

              DATE         OPEN         HIGH          LOW        CLOSE
count         8577  8577.000000  8577.000000  8577.000000  8577.000000
unique        8577          NaN          NaN          NaN          NaN
top     01/02/1990          NaN          NaN          NaN          NaN
freq             1          NaN          NaN          NaN          NaN
mean           NaN    19.666454    20.474364    18.914884    19.580374
std            NaN     7.979066     8.439927     7.469827     7.906214
min            NaN     9.010000     9.310000     8.560000     9.140000
25%            NaN    13.940000    14.540000    13.400000    13.880000
50%            NaN    17.790000    18.470000    17.220000    17.760000
75%            NaN    23.100000    23.960000    22.320000    22.990000
max            NaN    82.690000    89.530000    72.760000    82.690000

In [21]:
#question number 3 a) 
bins = [0, 20, 30, float('inf')]  #categorization
labels = ['Low', 'Medium', 'High'] #Label for each category
df['Level'] = pd.cut(df['CLOSE'], bins=bins, labels=labels, right=False) #add the column 
print(df)

            DATE   OPEN   HIGH    LOW  CLOSE   Level
0     01/02/1990  17.24  17.24  17.24  17.24     Low
1     01/03/1990  18.19  18.19  18.19  18.19     Low
2     01/04/1990  19.22  19.22  19.22  19.22     Low
3     01/05/1990  20.11  20.11  20.11  20.11  Medium
4     01/08/1990  20.26  20.26  20.26  20.26  Medium
...          ...    ...    ...    ...    ...     ...
8572  12/29/2023  12.55  13.19  12.36  12.45     Low
8573  01/02/2024  13.22  14.23  13.10  13.20     Low
8574  01/03/2024  13.35  14.22  13.33  14.04     Low
8575  01/04/2024  13.93  14.20  13.64  14.13     Low
8576  01/05/2024  14.24  14.58  13.29  13.35     Low

[8577 rows x 6 columns]

In [22]:
#question number 3 b)
df['year'] = df['DATE'].str[-4:] #Extract the last 4 digits of the 'DATE' column
print(df)

            DATE   OPEN   HIGH    LOW  CLOSE   Level  year
0     01/02/1990  17.24  17.24  17.24  17.24     Low  1990
1     01/03/1990  18.19  18.19  18.19  18.19     Low  1990
2     01/04/1990  19.22  19.22  19.22  19.22     Low  1990
3     01/05/1990  20.11  20.11  20.11  20.11  Medium  1990
4     01/08/1990  20.26  20.26  20.26  20.26  Medium  1990
...          ...    ...    ...    ...    ...     ...   ...
8572  12/29/2023  12.55  13.19  12.36  12.45     Low  2023
8573  01/02/2024  13.22  14.23  13.10  13.20     Low  2024
8574  01/03/2024  13.35  14.22  13.33  14.04     Low  2024
8575  01/04/2024  13.93  14.20  13.64  14.13     Low  2024
8576  01/05/2024  14.24  14.58  13.29  13.35     Low  2024

[8577 rows x 7 columns]

In [23]:
#question number 4

new_row = {'DATE': '01/06/2024', 'OPEN': 13.55, 'HIGH':14.25, 'LOW': 13.52, 'CLOSE':14.03}
df = df.append(new_row, ignore_index=True)
df['year'] = df['DATE'].str[-4:]
bins = [0, 20, 30, float('inf')]  
labels = ['Low', 'Medium', 'High']
df['Level'] = pd.cut(df['CLOSE'], bins=bins, labels=labels, right=False)
print(df)

            DATE   OPEN   HIGH    LOW  CLOSE   Level  year
0     01/02/1990  17.24  17.24  17.24  17.24     Low  1990
1     01/03/1990  18.19  18.19  18.19  18.19     Low  1990
2     01/04/1990  19.22  19.22  19.22  19.22     Low  1990
3     01/05/1990  20.11  20.11  20.11  20.11  Medium  1990
4     01/08/1990  20.26  20.26  20.26  20.26  Medium  1990
...          ...    ...    ...    ...    ...     ...   ...
8573  01/02/2024  13.22  14.23  13.10  13.20     Low  2024
8574  01/03/2024  13.35  14.22  13.33  14.04     Low  2024
8575  01/04/2024  13.93  14.20  13.64  14.13     Low  2024
8576  01/05/2024  14.24  14.58  13.29  13.35     Low  2024
8577  01/06/2024  13.55  14.25  13.52  14.03     Low  2024

[8578 rows x 7 columns]

C:\Users\Hp\AppData\Local\Temp\ipykernel_16204\2524339065.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

In [24]:
#question number 5  later a)
average_close_per_year = df.groupby('year')['CLOSE'].mean() 
#Calculate the average 'Close' for each year, the groupby method is used to group the DataFrame by the 'Year' column
print(average_close_per_year)

year
1990    23.063478
1991    18.373373
1992    15.452047
1993    12.686245
1994    13.925516
1995    12.388770
1996    16.442165
1997    22.363984
1998    25.602976
1999    24.371912
2000    23.315000
2001    25.749677
2002    27.292460
2003    21.982857
2004    15.479644
2005    12.807063
2006    12.810320
2007    17.535936
2008    32.695534
2009    31.479008
2010    22.548889
2011    24.202579
2012    17.801640
2013    14.230119
2014    14.175992
2015    16.674087
2016    15.825635
2017    11.090239
2018    16.639841
2019    15.387540
2020    29.251304
2021    19.656151
2022    25.637148
2023    16.849027
2024    13.750000
Name: CLOSE, dtype: float64

In [25]:
#question number 5 later b)
level_counts = df['Level'].value_counts() 
#the value_counts() method is applied to the 'Level' column, which counts the occurrences of each unique value in that column
print(level_counts)

Low       5273
Medium    2583
High       722
Name: Level, dtype: int64