In [1]:
import numpy as np
import pandas as pd

# 4. If and Loops

- <a href='#def'>4.1. If condition</a>
     - <a href='#4.1.1.'>4.1.1. The structure of the code </a> 
     - <a href='#4.1.2.'>4.1.2. If condition with more than 1 expression </a> 
     - <a href='#4.1.3.'>4.1.3. Logical Operators </a> 
     - <a href='#4.1.4.'>4.1.4. Python Identity Operators </a> 
     - <a href='#4.1.5.'>4.1.5. Final IF condition structure </a>
     - <a href='#4.1.6.'>4.1.6. Python Nested if Statement </a> 
- <a href='#4.2.'>4.2. For Loops </a> 
     - <a href='#4.2.1.'>4.2.1. In numpy </a> 
     - <a href='#4.2.2.'> 4.2.2. In List </a> 
     - <a href='#4.2.3.'> 4.2.3. In Dictionary </a> 
     - <a href='#4.2.4.'> 4.2.4. For loop using range</a>
     - <a href='#4.2.5.'> 4.2.5. Nested For Loop</a>
     - <a href='#4.2.6.'> 4.2.6. Iterations over Pandas</a>
- <a href='#4.3.'> 4.3. Pass, Continue, Break, Try</a>
     - <a href='#4.3.1.'>4.3.1. Pass</a>
     - <a href='#4.3.2.'>4.3.2. Continue</a>
     - <a href='#4.3.3.'>4.3.3. Break</a>
     - <a href='#4.3.4.'>4.3.4. Try </a>
     
- <a href='#4.4.'>4.4. While Loop </a>
     - <a href='#4.4.1.'>4.4.1. Structure </a>
- <a href='#4.5.'>4.5. References </a>

## 4.1. <a id='def'> If condition </a>

Function **if** test conditions. 
- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

<img src="../_images/if-statement.jpg" alt="image info" />

## 4.1.1.  <a id='4.1.1.'> The structure of the code </a> <br>

<font size="4">
if <font color='green'>test expresion</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code to excute<br>
</font>

The function **if** tests the veracity of a logic expression. The result of test statement should be a **<font color='red'>boolean</font>**. In other words, the output of the test statemen must be **<font color='red'>True</font>** or **<font color='red'>False</font>**. To sum, any function that its output is **boolean** can be used as a test expression in the **if** function.

#### Examples

In [1]:
A = 30
B = 20
result = A > B
result

True

In [2]:
A = 20
B = 30

In [3]:
A == B

False

In [58]:
result = A == B
print( f' Is A greater than B? \t{result}') # f'' help us to use numeric variables in strings

 Is A greater than B? 	False

In [10]:
daniela = 2024
silvana = 2023

In [12]:
if daniela > silvana:
    print("Daniela is older than silvana")

Daniela is older than silvana

In [11]:
if daniela == silvana:
    print("Daniela & silvana are prom")

In [7]:
daniela == silvana

False

In [3]:
jose = 2017
bianca = 2018

In [4]:
jose == bianca

False

In [8]:
if jose != bianca:
    print("jose is not equal to bianca")

jose is not equal to bianca

In [13]:
A = 20
B = 30

if A != B:
    print( 'A is not equal B' )

A is not equal B

In [71]:
A = 2012
B = 2015

result = A == B
print( f'result A == B \t{result} \n')

result = A != B
print(f'result A != B \t  {result} \n' )

result = A > B
print(f'result A > B \t {result} \n')

result A == B 	False

result A != B 	  True

result A > B 	 False

### 4.1.2.   <a id='4.1.2.'> If condition with more than 1 expression </a> 

We will use **elif**. This function allows us to add more test expressions.  <br><br>



<font size="4">
if <font color='green'>test expresion1</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;Code1<br><br>
elif <font color='green'>test expresion2</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code2<br><br>
elif <font color='green'>test expresion3</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code3<br><br>
elif <font color='green'>test expresion4</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code4<br><br>
elif <font color='green'>test expresion5</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code5<br><br>
else :<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code6<br><br>
</font>

Python will read the conditions of the test in order. 
If **Test expression 1** is `True`, the rest of the test expressions will not be evaluated. 
R execute **Code2** and will not test the next conditions. <br>

In case no Test expression is `True`, the **Code6** will be excuted.

#### Examples

In [15]:
A = 40
B = 30

if A == B:
    print( 'Test expresion 1 is True' )

elif A > B:
    print( 'Test expresion 2 is True' )

elif A >= B:
    print( 'Test expresion 3 is True' )
    
elif A < B:
    print( 'Test expresion 4 is True' )
   
else:
    print( 'Test expresion 5 is True "A<=B"' )

Test expresion 2 is True

In [7]:
# A = 20
# B = 30

if A == B:
     print ('A is the same as B. Condition 1 is true.')
    
elif A > B:
     print ('A is greater than B. Condition 2 is true.')

elif A >= B:
     print ('A is greater than or equal to B. Condition 3 is true.')
    
elif A < B:
     print ('A is less than B. Condition 4 is true.')
    
elif A <= B:
     print ('A is less than or equal to B. Condition 5 is true.')
    
else:
     print ('When neither condition is true, this phrase is printed.')

A is less than B. Condition 4 is true.

### 4.1.3.   <a id='4.1.3.'> [Logical Operators](https://www.geeksforgeeks.org/python-logical-operators-with-examples-improvement-needed/) </a> 


Three key logical operators: **<font color = 'red' >and</font>**, **<font color = 'red' > or</font>**, and **<font color = 'red' > not</font>**.

In [18]:
A = 30
B = 30
C = 25

if ( A == B ) and ( A < C ):
     print ('A is equal to B and less than C. Condition 1 is true.')
    
elif ( A >= B ) or ( A > C ):
     print ('A is greater than B or greater than C. Condition 2 is true.')

elif ( B > C ) and ( B > A ):
     print ('B is greater than C and greater than A. Condition 3 is true.')
    
else:
     print ('When neither condition is true, this phrase is printed.')

A is greater than B or greater than C. Condition 2 is true.

In [86]:
True, 30, "String"

True

In [10]:
def power(a, b, c, d):
    n = a*b*c*d
    return n

In [11]:
a = 10
b = 15
c = 20
d = 25

In [85]:
# A = 20
# B = 30
# C = 25

if not (B> 30):
     print ('B is not equal to 30. Condition 1 is true.')
        
else:
     print ('When neither condition is true, this phrase is printed.')

B is not equal to 30. Condition 1 is true.

### 4.1.4.   <a id='4.1.4.'> [Python Identity Operators](https://www.w3schools.com/python/gloss_python_identity_operators.asp) </a> 

These operators help us to compare whether variables refer to the same object.
We have **<font color = 'red' >is</font>**, and **<font color = 'red' > is not</font>** as identity operators.

In [92]:
C = None
C

In [93]:
if C is None:
    print( 'Ohh C is None :(')

Ohh C is None :(

In [95]:
if C is not float:
    print( 'C is not a float')

C is not a float

#### Difference between **<font color = 'red' > ==</font>** and **<font color = 'red' > is</font>** operator in Python

1. **<font color = 'red' > ==</font>** operator compares the values of both the operands and checks for value equality.
2. **<font color = 'red' > is</font>** operator checks whether both the operands refer to the same object or not (present in the same memory location).

In [109]:
a = 5
b = 5

In [110]:
a is b

True

In [112]:
a = np.arange(0, 4)
b = np.array( [0, 1 , 2 , 3 ] )

In [104]:
a

array([0, 1, 2, 3])

In [105]:
b

array([0, 1, 2, 3])

In [103]:
a == b

array([ True,  True,  True,  True])

In [113]:
a

array([0, 1, 2, 3])

In [114]:
b

array([0, 1, 2, 3])

In [115]:
a is b

False

### 4.1.5.   <a id='4.1.5.'> Final IF condition structure </a>

The strict way to run the if conditions is as follows: <br>

<font size = "4">


if <font color = 'green'> condition1 </font>: <font color = 'red'> (Required) </font> <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code1 <br> <br>
elif <font color = 'green'> condition2 </font>:**(Optional)**<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code2 <br> <br>
elif <font color = 'green'> condition3 </font>:**(Optional)**<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code3 <br> <br>
elif <font color = 'green'> condition4 </font>:**(Optional)**<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code4 <br> <br>
else: <font color = 'red'> (Required) </font> <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code5 <br>
<br>
</font>

### 4.1.6.   <a id='4.1.6.'> Python Nested if Statement </a>

In [118]:
total = 120
country = "AR"
#country = "AR"

if country == "PE":
    if total <= 50:
        print("Shipping Cost is  $50")
    elif total <= 100:
        print("Shipping Cost is $25")
    elif total <= 150:
        print("Shipping Costs $5")
    else:
        print("FREE")
    
if country == "AR": 
    if total <= 50:
        print("Shipping Cost is  $100")

    else:
        print("FREE")

FREE

The **if** function is not only useful with logical expressions, but also with functions whose result is a **<font color = 'red' > Boolean </font>** (**True** or **False**).<br>
For example, the **isinstance** function evaluates whether a variable is string, bool, int, float and returns a Boolean (True or False) as a result. For more information [here](https://docs.python.org/3/library/functions.html#isinstance). <br>

In [21]:
# The result of isinstance is a Boolean. Then it can be used as a condition in the if function.
isinstance (A, str)

False

In [126]:
A = np.array([3, 4, 5])
type(A)

numpy.ndarray

In [124]:
#A = [15, "Meir", True]
A = np.array([3, 4, 5])

if isinstance( A, str ):
    print( 'A is a string' )

elif isinstance( A, bool ):
    print( 'A is a boolean' )

elif isinstance( A, float ):
    print( 'A is a float' )

elif isinstance( A, int ):
    print( 'A is an integer' )

elif isinstance( A, complex ):
    print( 'A is a complex' )

elif isinstance(A, list):
    print( 'A is a List' )

elif isinstance(A, dict):
    print( 'A is a Dictionary' )

else:
    print( 'A is another type of variable')

A is a List

## 4.2.   <a id='4.2.'> For Loops </a> 


A for loop is used for iterating over a sequence. It executes a code a definite number of times. It has the following structure:

<img src="../_images/for_loop.jpg" alt="image info" />

### 4.2.1. <a id='4.2.1.'> In numpy </a>

In [20]:
import numpy as np

In [21]:
sequence = np.array( [15, 20, 25, 30 , 35 , 40 , 50 ] )
sequence

array([15, 20, 25, 30, 35, 40, 50])

In [28]:
list_1 = [15, 20, 25, 30 , 35 , 40 , 50 ]

In [29]:
for n in list_1:
    x_sq = n**2
    print(x_sq)

225
400
625
900
1225
1600
2500

In [30]:
for n in sequence:
    print(n**2)

225
400
625
900
1225
1600
2500

In [141]:
for number in sequence:
    #print(i)
    square = number**2
    print(square)

225
400
625
900
1225
1600
2500

In [24]:
i = 0
for element in sequence:
    print( element )

15
20
25
30
35
40
48

### 4.2.2 <a id='4.2.2.'> In List </a>

In [142]:
birthday = [29, 15, 24, 12]

In [144]:
for day in birthday:
    result = (day**2) / 20
    print(result)

42.05
11.25
28.8
7.2

In [25]:
class_age = [ [11, 12, 11] , [15, 16, 16] , [17, 17, 18]]

for age in class_age:
    print( type(age) )

<class 'list'>
<class 'list'>
<class 'list'>

In [26]:
ages = [ 21, 23, 25, 24, 20]

for age in ages:
    print( type(age) )

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

### 4.2.3  <a id='4.2.3.'>In Dictionary </a>

In [31]:
class_1 = { "students" : ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason'] , 
           "age" : [20, 18, 15, 20, 22] }

In [32]:
class_1

{'students': ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason'],
 'age': [20, 18, 15, 20, 22]}

In [35]:
class_1["age"]

[20, 18, 15, 20, 22]

In [149]:
type(class_1.keys())

dict_keys

In [150]:
# Step 1
class_1["students"]

['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']

In [151]:
# Step 2
class_1["age"]

[20, 18, 15, 20, 22]

In [159]:
class_1_list = ['students', 'age']

In [164]:
class_1["age"]

[20, 18, 15, 20, 22]

In [37]:
class_1["age"]

[20, 18, 15, 20, 22]

In [38]:
for val in class_1["students"]:
    print(val)

Miguel
Anthony
Paul
Rodrigo
Jason

In [165]:
 for val in class_1["age"]:
         print (val)

20
18
15
20
22

In [ ]:
for key in class_1.keys():
    for val in class_1[key]:
         print (val)

In [161]:
for key in class_1.keys():
    print(key)

students
age

In [157]:
 class_1.keys()

dict_keys(['students', 'age'])

In [148]:
for key in class_1.keys():
    print(key)

students
age

In [154]:
for val in class_1["students"]:
         print (val)

Miguel
Anthony
Paul
Rodrigo
Jason

In [153]:
for val in class_1["age"]:
         print (val)

20
18
15
20
22

1. class_1["students"], iteration over each value
2. class_1["age"], iteration over each value

In [167]:
class_1.keys()

dict_keys(['students', 'age'])

In [169]:
class_1["age"]

[20, 18, 15, 20, 22]

In [166]:
for key in class_1.keys():
    for val in class_1[key]:
         print (val)

Miguel
Anthony
Paul
Rodrigo
Jason
20
18
15
20
22

In [29]:
for key in class_1.keys():
    print(key)

students
age

In [174]:
class_1.values()

dict_values([['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason'], [20, 18, 15, 20, 22]])

In [171]:
for val in class_1.values():
    print( val )

['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']
[20, 18, 15, 20, 22]

In [170]:
class_1.values()

dict_values([['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason'], [20, 18, 15, 20, 22]])

In [175]:
class_1.items()

dict_items([('students', ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']), ('age', [20, 18, 15, 20, 22])])

In [178]:
class_1

{'students': ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason'],
 'age': [20, 18, 15, 20, 22]}

In [ ]:
students!!!
20**20

In [186]:
for key, val in class_1.items():
    for element in key[1]:
        print(element + "!!!")

t!!!
g!!!

In [192]:
for key, val in class_1.items():
    print(key + "!!!")
    if isinstance
    print(val)

students!!!
['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']
age!!!
[20, 18, 15, 20, 22]

In [182]:
class_1.items()

dict_items([('students', ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']), ('age', [20, 18, 15, 20, 22])])

In [180]:
for key, val in class_1.items():
    key_mod = key + "!!!"
    #print(val)
    val_mod = val**2
    print(key_mod, val_mod)

['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']

NameError: name 'val_mod' is not defined

In [ ]:
for key, val in class_1.items():
    print( key, val )

In [194]:
for key in class_1.keys():
    for val in class_1[key]:
         print (val)

Miguel
Anthony
Paul
Rodrigo
Jason
20
18
15
20
22

In [193]:
for key, val in class_1.items():
    print( key, val )

students ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']
age [20, 18, 15, 20, 22]

In [32]:
dict1 = {}

for i in range(5):
    dict1[f'random_{i+1}' ] = np.random.rand(3)

In [33]:
dict1

{'random_1': array([0.77981349, 0.01011835, 0.94038728]),
 'random_2': array([0.76725221, 0.75078297, 0.61888277]),
 'random_3': array([0.54934833, 0.31321792, 0.96721227]),
 'random_4': array([0.36236705, 0.31003589, 0.84999468]),
 'random_5': array([0.96113044, 0.76248359, 0.05376629])}

### 4.2.4 <a id = '4.2.4.'>  For loop using range </a>

In [40]:
# Class
students = ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason', 'Yajaira']

# Ages
ages = [20, 18, 15, 20, 22, 25]

In [41]:
len(students)

6

In [44]:
for index in range(0, len(students)):
    print(index)

0
1
2
3
4
5

In [ ]:
for index in range(0, len(students))

In [45]:
for index in range (0, len (students)):
     print ( f'{ students[index] } is { ages[index] } years old.' )

Miguel is 20 years old.
Anthony is 18 years old.
Paul is 15 years old.
Rodrigo is 20 years old.
Jason is 22 years old.
Yajaira is 25 years old.

In [208]:
for i, element in enumerate( students ):
    print ( f'{ students[i] } is { ages[i] } years old.' )

Miguel is 20 years old.
Anthony is 18 years old.
Paul is 15 years old.
Rodrigo is 20 years old.
Jason is 22 years old.
Yajaira is 25 years old.

In [ ]:
for index in range (0, len (students)):
     print ( f'{ students[index] } is { ages[index] } years old.' )

In [199]:
len(students)

5

In [202]:
for index in range ( 0, len(students) ):
     print (f'{ students[ index ] } is { ages[ index ] } years old.')

Miguel is 20 years old.
Anthony is 18 years old.
Paul is 15 years old.
Rodrigo is 20 years old.
Jason is 22 years old.
Yajaira is 25 years old.

### 4.2.5 <a id='4.2.5.'>  Nested For Loop </a>

A for loop inside of another for loop.

In [35]:
age_class = [ [11, 12, 11] , [15, 16, 16] , [17, 17, 18]]
age_class

[[11, 12, 11], [15, 16, 16], [17, 17, 18]]

In [36]:
for classs in age_class:
    print( classs )
    
    for age in classs:
        print( age )

[11, 12, 11]
11
12
11
[15, 16, 16]
15
16
16
[17, 17, 18]
17
17
18

In [37]:
# sequence
students = [ 'Justin' , 'Pogba', 'Paul', 'Carrillo', 'Xavi' ]

# age
gr_age = [ 20, 18, 15, 20, 22]

# Loops
for student, age in zip( students , gr_age ):
    print(f'{ student } is { age }')

Justin is 20
Pogba is 18
Paul is 15
Carrillo is 20
Xavi is 22

In [38]:
## Diferent dimmensions
# sequence
students = [ 'Justin' , 'Pogba', 'Paul', 'Carrillo', 'Xavi' ]

# Edades
gr_age = [ 20, 18, 15, 20 ]

for student, age in zip( students , gr_age ):
    print(f'{ student } is { age }')

Justin is 20
Pogba is 18
Paul is 15
Carrillo is 20

### 4.2.6. <a id = '4.2.6.'> Iterations over Pandas</a>

[Marine fishing extraction by destination and main species (thousands of tons)](https://estadisticas.bcrp.gob.pe/estadisticas/series/anuales/extraccion-pesquera-maritima-por-destino-y-principales-especies-miles-de-toneladas)

In [209]:
extraction_fish = pd.read_csv( r"..\_data\production_fish.csv" )

In [210]:
extraction_fish.columns

Index(['year', 'Consumo Industrial - Anchoveta',
       'Consumo Humano - Congelado - Concha de abanico',
       'Consumo Humano - Congelado - Langostino',
       'Consumo Humano - Congelado - Merluza',
       'Consumo Humano - Congelado - Calamar gigante',
       'Consumo Humano - Conservas - Atún',
       'Consumo Humano - Conservas - Caballa',
       'Consumo Humano - Conservas - Jurel',
       'Consumo Humano - Conservas - Sardina',
       'Consumo Humano - Fresco - Concha de abanico',
       'Consumo Humano - Fresco - Jurel', 'Consumo Humano - Fresco - Liza',
       'Consumo Humano - Fresco - Tollo', 'total_production'],
      dtype='object')

In [211]:
for index, row in extraction_fish.iloc[ :, 1:-2 ].iterrows():
    extraction_fish.at[ index, 'Max_min'] = row.max() - row.min()

In [212]:
extraction_fish.head()

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production,Max_min
0,2005,8628.396,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.16500,1.843080,56.167940,5.875600,0.430000,9030.413620,8628.23100
1,2006,5891.838,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.04800,4.048000,136.827000,3.166000,1.584000,6646.923000,5891.79000
2,2007,6084.713,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.00102,4.822991,134.887316,9.317622,2.834958,6790.849328,6084.71198
3,2008,6159.387,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.00000,0.828187,80.092885,14.514054,2.933360,6909.715000,6159.38700
4,2009,5828.636,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.00000,1.843072,47.079175,17.311344,4.057886,6394.982610,5828.63600

#### Exercise - Rename Columns

In [213]:
extraction_fish.head(3)

col_names = extraction_fish.columns.to_list()[ 1:-1 ]

for col in col_names:
    extraction_fish[ f'%_{col}' ]  = extraction_fish[ f'{col}' ] * 100 / extraction_fish[ 'total_production' ]

extraction_fish.head()

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,...,%_Consumo Humano - Congelado - Calamar gigante,%_Consumo Humano - Conservas - Atún,%_Consumo Humano - Conservas - Caballa,%_Consumo Humano - Conservas - Jurel,%_Consumo Humano - Conservas - Sardina,%_Consumo Humano - Fresco - Concha de abanico,%_Consumo Humano - Fresco - Jurel,%_Consumo Humano - Fresco - Liza,%_Consumo Humano - Fresco - Tollo,%_total_production
0,2005,8628.396,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.16500,...,2.609294,0.109375,0.284716,0.226800,0.001827,0.020410,0.621986,0.065065,0.004762,100.0
1,2006,5891.838,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.04800,...,5.502230,0.170545,0.876270,1.849036,0.000722,0.060900,2.058501,0.047631,0.023831,100.0
2,2007,6084.713,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.00102,...,5.589236,0.054681,0.386531,1.220912,0.000015,0.071022,1.986310,0.137208,0.041747,100.0
3,2008,6159.387,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.00000,...,7.006976,0.047523,0.690247,0.851905,0.000000,0.011986,1.159134,0.210053,0.042453,100.0
4,2009,5828.636,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.00000,...,5.552894,0.031541,0.803066,0.223441,0.000000,0.028821,0.736189,0.270702,0.063454,100.0

## 4.3. <a id = '4.3.'> Pass, Continue, Break, Try</a>

|Function|Description|
|---|---|
| `Pass`| Allows you to handle the condition <br> without the loop being impacted in any way|
| `Continue`| The current iteration of the loop will be disrupted, <br> but the program will return to the top of the loop|
| `Break`| The loop will exit|
| `Try`| This command lets you test a block of code for errors.|
| `Exception`| An exception is an event, which occurs during <br> the execution of a program that disrupts the normal <br> flow of the program's instructions. <br> It allows you to raise a message to help the user.|


### 4.3.1 <a id = '4.3.1.'> Pass</a>

In [214]:
for number in range(10):
    print('Number is ' + str(number))

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9

In [44]:
a = 2
if a == 1:
    print(a)

In [45]:
prime = [2 , 3, 5, 7]

In [ ]:
0,1,2,3,4,5,6,7,8,9

In [222]:
# This is looking for prime numbers
for number in range(10):
    
    print('Number is ' + str(number))
    
    if (number in prime):
        # comment
        # pass
        print("This is a prime number")

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('This is not a prime number' , '\n')

print('Out of loop')

Number is 0
This is not a prime number

Number is 1
This is not a prime number

Number is 2
This is a prime number
Number is 3
This is a prime number
Number is 4
This is not a prime number

Number is 5
This is a prime number
Number is 6
This is not a prime number

Number is 7
This is a prime number
Number is 8
This is not a prime number

Number is 9
This is not a prime number

Out of loop

In [223]:
# This is looking for prime numbers
for number in range(10):
    
    print('Number is ' + str(number))
    
    if (number in prime):
        # comment
        pass
        #print("This is a prime number")

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('This is not a prime number' , '\n')

print('Out of loop')

Number is 0
This is not a prime number

Number is 1
This is not a prime number

Number is 2
Number is 3
Number is 4
This is not a prime number

Number is 5
Number is 6
This is not a prime number

Number is 7
Number is 8
This is not a prime number

Number is 9
This is not a prime number

Out of loop

### 4.3.2. <a id = '4.3.2.'>Continue</a>

In [226]:
for number in range(10):
    print('Number is ' + str(number))
    
    if number == 5:
        # comment
        continue

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('Different number than 3 y 5' , '\n')
    
    

print('Out of loop')

Number is 0
Different number than 3 y 5

Number is 1
Different number than 3 y 5

Number is 2
Different number than 3 y 5

Number is 3
This number is 3
Number is 4
Different number than 3 y 5

Number is 5
Number is 6
Different number than 3 y 5

Number is 7
Different number than 3 y 5

Number is 8
Different number than 3 y 5

Number is 9
Different number than 3 y 5

Out of loop

In [230]:
# find the even numbers

for i in range(10):
    
    if i % 2 == False:
        pass
    
    else:
        continue
    
    print("alex")
    print(i)

alex
0
alex
2
alex
4
alex
6
alex
8

### 4.3.3. <a id = '4.3.3.'>Break</a>

In [237]:
for number in range(10):
    print('Number is ' + str(number))
    
    if number == 5:
        # comment
        print( f'This number is {number}' )

    elif number == 0:
        #number = number + 1
        print('This is the output of break.')
        break
        
    else:
        #number = number + 2
        print('Different number =! 3, 5', "\n")

    

print('Out of loop')

Number is 0
This is the output of break.
Out of loop

In [47]:
for number in range(10):
    if number == 5:
        # comment
        raise Exception('This is the output of exception.')

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('Different number')

    print('Number is ' + str(number))

print('Out of loop')

Different number
Number is 0
Different number
Number is 1
Different number
Number is 2
This number is 3
Number is 3
Different number
Number is 4

Exception: This is the output of exception.

### 4.3.4. <a id = '4.3.4.'> Try </a>

|Function|Description|
|---|---|
|`except`| Run a code if an error occurs.|
|`else`| The code will be executed whether there is no error.|
|`finally`| The code will be executed <br> does no matter whether or not the try raises an exception.|

`except`: Run a code if an error occurs.

In [238]:
x = 'Hola'

In [240]:
print(x + 4)

TypeError: can only concatenate str (not "int") to str

In [241]:
try:
    print(x + 4)
    
except TypeError:
    print(5+5)
    print("An error tipo TypeError")
    
except NameError:
    print("Variable x is not defined")
    
except:
    print("Something else went wrong")

10
An error tipo TypeError

In [245]:
name = "John"

print(namme)

NameError: name 'namme' is not defined

In [246]:
try:
    print(namme)
    
except TypeError:
    print(5+5)
    print("An error tipo TypeError")
    
except NameError:
    print("the correct label of the variable is name" )
    print("Variable x is not defined")
    
except:
    print("Something else went wrong")

the correct label of the variable is name
Variable x is not defined

In [250]:
try:
    print(namme)
    
# except TypeError:
#     print(5+5)
#     print("An error tipo TypeError")
    
# except NameError:
#     print("the correct label of the variable is name" )
#     print("Variable x is not defined")
    
except:
    print("There is an error")

There is an error

`else`: The code will be executed whether there is no error.

In [252]:
x = 6

In [255]:
try:
    x + 4
    
except:
    print("Something went wrong")
    #print( 5 + 4)

else:
    print("Nothing went wrong")
    
    try:
        print( x + "2")    
    except:
        print("error 2")

Nothing went wrong
error 2

`finally`: The code will be executed does no matter whether or not the try raises an exception.

In [63]:
x = 6

In [64]:
try:
    print(x + 4)
except:
    print("Something went wrong")
finally:
    print( f'el elemento {x} ya paso por este filtro')

10
el elemento 6 ya paso por este filtro

In [67]:
s = 16
if s:
    print(s)

16

## 4.4. <a id='4.4.'> While Loop </a>
While loop is used to repeat code as long as the condition is true. When the logical expression is false, the code will finish executing. [More Info](https://python101.pythonlibrary.org/chapter5_loops.html)
<img src="../_images\while_loop.jpg">

### 4.4.1. <a id='4.4.1.'> Structure </a>

while <font color='green'>condition</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code 1<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color='red'>break code</font><br><br>

The break code is an expression that allows the logical condition to be false at some point, because if not, the code will continue to execute infinitely.

In [9]:
i = 1
i

1

In [10]:
i += 2

In [11]:
i

3

In [17]:
i += 3

In [18]:
i

4

In [52]:
i = 1.5

while i<=5.54:
    print(i)
    
    # breakcode
    i += 1.5

1.5
3.0
4.5

In [16]:
i = 1

while i<=10:
    print(i)
    
    # breakcode
    i += 1

1
2
3
4
5
6
7
8
9
10

In [17]:
i = 1

while i < 10:
    print(i)
    
    # break code 
    i += 1
    print("now i is ", i)

1
now i is  2
2
now i is  3
3
now i is  4
4
now i is  5
5
now i is  6
6
now i is  7
7
now i is  8
8
now i is  9
9
now i is  10

In [1]:
i = 1

# condition  "i < 6"
while i < 6:
    
    print(i)
    
    # break code, 
    i += 1 
    # ==> i = i + 1

1
2
3
4
5

#### Excersice
1. Print $2^n$, but the result is less than 10,000.

In [53]:
x = 2

while x < 10000:
    print(x)
    
    # break code
    x = 2*x
    print("now i is ", x)

2
now i is  4
4
now i is  8
8
now i is  16
16
now i is  32
32
now i is  64
64
now i is  128
128
now i is  256
256
now i is  512
512
now i is  1024
1024
now i is  2048
2048
now i is  4096
4096
now i is  8192
8192
now i is  16384

2. A teacher has 100 apples for his entire class. The first student took four apples, and the next student always took more apples than the previous one. How many children have apples? optimize the number of students

In [54]:
apples = 100

# Break code iterator  
last_st = 4

# Iterator for number of students 
i = 1

while apples > last_st:
    
    apples = apples - last_st
    
    # break code
    last_st += 1
    
     # Count students 
    i += 1
    
    print ( '{} children have apples'.format(i) )

2 children have apples
3 children have apples
4 children have apples
5 children have apples
6 children have apples
7 children have apples
8 children have apples
9 children have apples
10 children have apples
11 children have apples
12 children have apples

2 children have apples
3 children have apples
4 children have apples
5 children have apples
6 children have apples
7 children have apples
8 children have apples
9 children have apples
10 children have apples
11 children have apples
12 children have apples

In [29]:
apples = 100
last_st = 4
i = 1

while apples > last_st:
    
    # Code
    apples = apples - last_st
    last_st += 1

    # Break code
    i += 1
    # What is the format function for
    print ( '{} children have apples'.format(i) )

# print ('{} children have apples'.format (i))

2 children have apples
3 children have apples
4 children have apples
5 children have apples
6 children have apples
7 children have apples
8 children have apples
9 children have apples
10 children have apples
11 children have apples
12 children have apples

In [28]:
# string = "the age of anzony"
# anzony_age = 23

# print( 'the age of anzony {}'.format(anzony_age) )

the age of anzony 23

3. Print all elements of an array.

In [4]:
import numpy as np

edad = np.array([ 3, 6, 7, 10, 15, 17, 18, 31, 26, 88 , 100, 120, 110])
i = 0

while i < edad.size:
    
    print(edad[i])
    i += 1

3
6
7
10
15
17
18
31
26
88
100
120
110

4. While loop Excersice

In [5]:
quarantine_days = 1
stress_level = 2


while quarantine_days <= 40:
    
    print ( f'Quarantine day n° {quarantine_days}. ')
    
    if stress_level> 100:
        print (f'Her family let Rebeca out on the day {quarantine_days}.')
        stress_level = 1
        break
     
    elif quarantine_days <15:
        
        print ("Rebeca watch Love Alarm")
    
    elif (quarantine_days >= 15) & (quarantine_days <20):
        
        print ("Rebeca reads El mundo de Sofia and Cronicas de una muerte anunciada")
    
    elif (quarantine_days >= 20) & (quarantine_days <40):
        print ('Rebeca builds her Foundation of Analysis I class')
        
    else:
        print ("The lady works out")
    
    print (f'The day number {quarantine_days} of quarantine is over. \n ')
    
    # Days increase
    quarantine_days = quarantine_days + 1
    stress_level = stress_level * 2

print ("Quarantine is over.")

Quarantine day n° 1.
Rebeca watch Love Alarm
The day number 1 of quarantine is over.

Quarantine day n° 2.
Rebeca watch Love Alarm
The day number 2 of quarantine is over.

Quarantine day n° 3.
Rebeca watch Love Alarm
The day number 3 of quarantine is over.

Quarantine day n° 4.
Rebeca watch Love Alarm
The day number 4 of quarantine is over.

Quarantine day n° 5.
Rebeca watch Love Alarm
The day number 5 of quarantine is over.

Quarantine day n° 6.
Rebeca watch Love Alarm
The day number 6 of quarantine is over.

Quarantine day n° 7.
Her family let Rebeca out on the day 7.
Quarantine is over.

5. Pandas with While loop

In [6]:
import pandas as pd
data1 = {'names': ['Martins', 'Raul', 'Estremadoyro', "Kante", 'Tigo', 'Betson', 'Finado', 'Alex', 'Miracles', 'Bambi'], 
     'age': [23, 25, 36, 78, 90, 32, 200, 24, 12, 18]}
people = pd.DataFrame( data = data1)

In [7]:
people

          names  age
0       Martins   23
1          Raul   25
2  Estremadoyro   36
3         Kante   78
4          Tigo   90
5        Betson   32
6        Finado  200
7          Alex   24
8      Miracles   12
9         Bambi   18

In [8]:
i = 0
# row by row
nrows = people.age.count()
while i < nrows:
  
    if people['age'][i] > 150:
        print('Ohhh no a phantom')
        break
    
    elif people['age'][i] < 18:
        # New column
        people.loc[[i], ["pass"]] = "No pass"
    
    else:
        people.loc[[i], ["pass"]] = "Pass"
        
    i += 1

Ohhh no a phantom

## 4.5. <a id = '4.5.'> References </a>

1. [DataCamp](https://www.datacamp.com/community/tutorials/python-if-elif-else?utm_source=adwords_ppc&utm_medium=cpc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332602034358&utm_targetid=dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9060932&gclid=CjwKCAiA7dKMBhBCEiwAO_crFCArGqe0fxSaO2q6eTaTtigeALef5CcM1hRWgNI8hMEoVCg-uOwFDhoCu1kQAvD_BwE)
2. https://www.programiz.com/python-programming/if-elif-else
3. https://www.guru99.com/if-loop-python-conditional-structures.html
4. https://www.w3schools.com/python/python_for_loops.asp
5. https://www.programiz.com/python-programming/for-loop
6. https://www.geeksforgeeks.org/loops-in-python/
7. https://www.w3schools.com/python/python_while_loops.asp
8. https://www.programiz.com/python-programming/while-loop
9. https://www.tutorialspoint.com/python/python_while_loop.htm