# Assignment 3

1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.
2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.
3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
4. Generate a dictionary with the definition of all the columns in your dataset.
5. Generate a function named as calling_data that take as input the `name of the firm  or list of names (firm_name)` and `(start_year, end_year)`. The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without `end_year`. It means it only takes `start_year`.
6. Generate a class that do the same as the function, but has a method named as `descripitive` that gives you the mean, max, min, median, and rolling average .

In [1]:
import os

In [2]:
import pandas as pd

## RESOLUCIÓN 3.1
Primero, cargamos el conjunto de datos desde el archivo Excel, luego con "describe" mostraremos algunas estadísticas descriptivas de nuestro dataframe. Nota: estamos leyendo la segunda pestaña del excel (donde se encuentra el df), es por ello que se utiliza el "sheet_name=1" (recordar que las hojas se numeran desde 0).

Nota: considerar que podríamos utilizar más estadísticas descriptivas, pero se utilizaron las siguientes las más adecuadas dado la naturaleza de nuestra base de datos

In [3]:
df = pd.read_excel('C:/Users/Usuario/Desktop/QLAB/Python_aplicado/bogota_firms.xlsx', sheet_name=1, header=0)
df

,N,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
0,1.0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,CO,CALI,4299.0,U1,2022,n.a.,n.a.,4769810,...,58155914,18465.301699,51813164,21656.856573,23800831,12379.759862,n.a.,n.a.,n.a.,n.a.
1,2.0,AGRET CARGA NACIONAL Y ESPECIAL S A S,CO,BOGOTA,4941.0,U1,2022,n.a.,n.a.,4769796.503,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,3.0,DINASTIA INVERSIONES S A,CO,BARRANQUILLA,4771.0,U1,2007,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,BACKBONE COMUNICACIONES LTDA,CO,BOGOTA,6190.0,U1,2022,n.a.,n.a.,4769348.616,...,1170331,371.596172,874868.654,365.677436,532706,277.081601,n.a.,n.a.,n.a.,n.a.
4,5.0,MACAOL ESPINOSA SAS,CO,BOGOTA,6820.0,U1,2022,n.a.,n.a.,4769148,...,165799,52.64346,303235,126.746108,245349,127.615784,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996.0,GRADISPAN LTDA,CO,BOGOTA,4631.0,U1,2011,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,1509000,776.754003
9996,9997.0,CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S,CO,BOGOTA,6920.0,U1,2022,n.a.,n.a.,3736339.155,...,1012683.301,321.540861,1032912.114,431.736412,920263.426,478.665649,n.a.,n.a.,n.a.,n.a.
9997,9998.0,JOSHUA CAFE IRLANDES S A S,CO,BOGOTA,5610.0,U1,2018,n.a.,n.a.,n.a.,...,n.a.,n.a.,1827067.154,763.677186,1353686,704.105987,880349,496.939939,293967,151.318783
9998,9999.0,PROYECTO AGUAS DEL BOSQUE S A S,CO,MEDELLIN,4110.0,U1,2021,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
9999,10000.0,GRUPO INVERSIONES SYNERGY SAS,CO,POPAYAN,4110.0,U1,2020,n.a.,n.a.,n.a.,...,136867.8004,43.457407,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

Imprimimos algunas estadísticas relacionadas: (1) Número total de observaciones, (2) Media, desviación estándar, mínimo, 25%, 50% (mediana), 75%, y máximo para las columnas de ingresos operativos de los años disponibles, (3) número de empresas únicas, (4) número de países únicos, (5) número de ciudades únicas.

In [4]:
#Resumen estadístico básico
summary_stats = df.describe()
summary_stats

                 N  NACE Rev. 2, core code (4 digits)  Last avail. year
count  10000.00000                        9650.000000      10000.000000
mean    5000.50000                        4842.839482       2020.296500
std     2886.89568                        2167.757574          3.672947
min        1.00000                         100.000000       2005.000000
25%     2500.75000                        4299.000000       2021.000000
50%     5000.50000                        4690.000000       2022.000000
75%     7500.25000                        6120.000000       2022.000000
max    10000.00000                        9609.000000       2023.000000

Imprimimos los nombres de las columnas que tenemos en nuestra base de datos para saber con cuáles trabajaremos y conocer mejor nuestro df

In [5]:
column_names = df.columns.tolist()
print("Nombres de las columnas:", column_names)

Nombres de las columnas: ['N', 'Company name Latin alphabet', 'Country ISO code', 'City\nLatin Alphabet', 'NACE Rev. 2, core code (4 digits)', 'Consolidation code', 'Last avail. year', 'Operating revenue (Turnover)\nth LCU 2023', 'Operating revenue (Turnover)\nth USD 2023', 'Operating revenue (Turnover)\nth LCU 2022', 'Operating revenue (Turnover)\nth USD 2022', 'Operating revenue (Turnover)\nth LCU 2021', 'Operating revenue (Turnover)\nth USD 2021', 'Operating revenue (Turnover)\nth LCU 2020', 'Operating revenue (Turnover)\nth USD 2020', 'Operating revenue (Turnover)\nth LCU 2019', 'Operating revenue (Turnover)\nth USD 2019', 'Operating revenue (Turnover)\nth LCU 2018', 'Operating revenue (Turnover)\nth USD 2018', 'Operating revenue (Turnover)\nth LCU 2017', 'Operating revenue (Turnover)\nth USD 2017', 'Operating revenue (Turnover)\nth LCU 2016', 'Operating revenue (Turnover)\nth USD 2016', 'Operating revenue (Turnover)\nth LCU 2015', 'Operating revenue (Turnover)\nth USD 2015', 'Operating revenue (Turnover)\nth LCU 2014', 'Operating revenue (Turnover)\nth USD 2014', 'Operating revenue (Turnover)\nth LCU 2013', 'Operating revenue (Turnover)\nth USD 2013', 'Operating revenue (Turnover)\nth LCU 2012', 'Operating revenue (Turnover)\nth USD 2012', 'Operating revenue (Turnover)\nth LCU 2011', 'Operating revenue (Turnover)\nth USD 2011']

In [6]:
# Aplicammos las estadísticas correspondientes para ingresos operativos
revenue_cols = [col for col in df.columns if 'Operating revenue (Turnover)\nth LCU 2023' in col] ##Aquí estamos trabajando con los Ingresos operativos (Facturación) en miles de unidades monetarias locales en el año 2023
revenue_stats = df[revenue_cols].describe()

print(revenue_stats)

       Operating revenue (Turnover)\nth LCU 2023
count                                      10000
unique                                        56
top                                         n.a.
freq                                        9945

In [7]:
# Hallamos ingreso operativo total (suma) en moneda local del 2023 (convertiremos valores en datos númericos para poder realizar la operación)
revenue_col_2023 = 'Operating revenue (Turnover)\nth LCU 2023'
total_revenue_2023 = pd.to_numeric(df[revenue_col_2023], errors='coerce').sum()

print(f"Ingreso operativo total en moneda local del 2023: {total_revenue_2023}")

Ingreso operativo total en moneda local del 2023: 197074631.80394

In [8]:
#Podemos repetir este proceso para otras columnas (en este caso trabajaremos con los ingresos operativos en dólares)
revenue_col_2023_USD = 'Operating revenue (Turnover)\nth USD 2023'
total_revenue_2023_USD = pd.to_numeric(df[revenue_col_2023_USD], errors='coerce').sum()

print(f"Ingreso operativo total en moneda extranjera del 2023: {total_revenue_2023_USD}")

Ingreso operativo total en moneda extranjera del 2023: 48110.39361865104

In [9]:
#Ahora procederemos a colocar cuántas columnas y filas posee nuestra df
num_filas, num_columnas = df.shape
print(f"El DataFrame tiene {num_filas} filas y {num_columnas} columnas.")

El DataFrame tiene 10000 filas y 33 columnas.

In [10]:
#Realizamos conteo de valores únicos (en este caso específico --> valores únicos de ciudades)
unique_counts = df[['City\nLatin Alphabet']].nunique()
print(unique_counts)

City\nLatin Alphabet    507
dtype: int64

## RESOLUCIÓN 3.2
(1) Primero eliminaremos las columnas que tengan sus ingresos operativos en dólares (simplemente usando drop con aquellas columnas que contengan USD) (2) Ahora conservamos las columnas desde "Operating revenue (Turnover) th LCU 2023" hasta el final, junto con el nombre de la empresa. Aquí usaremos "melt" para remodelar nuestro DataFrame (df) de ancho a larg, tal y como se solicita en primer lugar en el ejercicio. (3) Por último, remodelamos el conjunto de datos de formato ancho a largo a nivel de año con "melt" y "stack", el cual nos permite reorganizar la estructura del DataFrame para tener una representación más flexible, donde colocaremos a las variables asociadas a los ingresos operativos en una sola columna llamada 'Año' y sus valores correspondientes en otra columna llamada 'Total'. Esto nos facilitará el análisis y la manipulación de los datos en un formato más estructurado y manejable.

In [11]:
#(1)
columns_to_drop = [col for col in df.columns if 'USD' in col]
df.drop(columns=columns_to_drop, inplace=True)
column_names = df.columns.tolist()
print("Nombres de las columnas:", column_names)

Nombres de las columnas: ['N', 'Company name Latin alphabet', 'Country ISO code', 'City\nLatin Alphabet', 'NACE Rev. 2, core code (4 digits)', 'Consolidation code', 'Last avail. year', 'Operating revenue (Turnover)\nth LCU 2023', 'Operating revenue (Turnover)\nth LCU 2022', 'Operating revenue (Turnover)\nth LCU 2021', 'Operating revenue (Turnover)\nth LCU 2020', 'Operating revenue (Turnover)\nth LCU 2019', 'Operating revenue (Turnover)\nth LCU 2018', 'Operating revenue (Turnover)\nth LCU 2017', 'Operating revenue (Turnover)\nth LCU 2016', 'Operating revenue (Turnover)\nth LCU 2015', 'Operating revenue (Turnover)\nth LCU 2014', 'Operating revenue (Turnover)\nth LCU 2013', 'Operating revenue (Turnover)\nth LCU 2012', 'Operating revenue (Turnover)\nth LCU 2011']

In [12]:
#(2)
selected_columns = ['Company name Latin alphabet'] + [col for col in df.columns if 'Operating revenue (Turnover)\nth LCU' in col]
df2 = df[selected_columns]
df2

,Company name Latin alphabet,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth LCU 2022,Operating revenue (Turnover)\nth LCU 2021,Operating revenue (Turnover)\nth LCU 2020,Operating revenue (Turnover)\nth LCU 2019,Operating revenue (Turnover)\nth LCU 2018,Operating revenue (Turnover)\nth LCU 2017,Operating revenue (Turnover)\nth LCU 2016,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth LCU 2011
0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,n.a.,4769810,11542995,1595190,1830135,1781000,1445138,41586490,58155914,51813164,23800831,n.a.,n.a.
1,AGRET CARGA NACIONAL Y ESPECIAL S A S,n.a.,4769796.503,5259328.067,n.a.,612146.462,139395.337,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,DINASTIA INVERSIONES S A,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,BACKBONE COMUNICACIONES LTDA,n.a.,4769348.616,1701322.858,879949.217,653859.797,735620.995,1516456.869,1304091.03,1170331,874868.654,532706,n.a.,n.a.
4,MACAOL ESPINOSA SAS,n.a.,4769148,3624485,715275,743340,9490473,673342,1449218,165799,303235,245349,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,GRADISPAN LTDA,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,1509000
9996,CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S,n.a.,3736339.155,n.a.,1941379.935,1664842.371,1627566.875,1270267.959,1118613.163,1012683.301,1032912.114,920263.426,n.a.,n.a.
9997,JOSHUA CAFE IRLANDES S A S,n.a.,n.a.,n.a.,n.a.,n.a.,2543863,3429017.349,1466626.15,n.a.,1827067.154,1353686,880349,293967
9998,PROYECTO AGUAS DEL BOSQUE S A S,n.a.,n.a.,3092123,4888915,7692560,2153419.433,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
9999,GRUPO INVERSIONES SYNERGY SAS,n.a.,n.a.,n.a.,2675497,n.a.,n.a.,2757413.5,4450358,136867.8004,n.a.,n.a.,n.a.,n.a.

In [13]:
#(3)
#Utilizando la forma de stack
df2_stack = df2.set_index(  ['Company name Latin alphabet']  ).stack().reset_index().rename( {"level_1" : "Año", 
                                                                                0 : "Total" }, axis = 1 )
df2_stack.head()

,Company name Latin alphabet,Año,Total
0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,Operating revenue (Turnover)\nth LCU 2023,n.a.
1,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,Operating revenue (Turnover)\nth LCU 2022,4769810
2,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,Operating revenue (Turnover)\nth LCU 2021,11542995
3,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,Operating revenue (Turnover)\nth LCU 2020,1595190
4,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,Operating revenue (Turnover)\nth LCU 2019,1830135

In [14]:
#(3)
#Utilizando melt
df_melt = df2.melt( 
                    id_vars = ['Company name Latin alphabet'] ,
                    var_name = 'Año', 
                    value_name = 'Total'
                 )
df_melt

,Company name Latin alphabet,Año,Total
0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,Operating revenue (Turnover)\nth LCU 2023,n.a.
1,AGRET CARGA NACIONAL Y ESPECIAL S A S,Operating revenue (Turnover)\nth LCU 2023,n.a.
2,DINASTIA INVERSIONES S A,Operating revenue (Turnover)\nth LCU 2023,n.a.
3,BACKBONE COMUNICACIONES LTDA,Operating revenue (Turnover)\nth LCU 2023,n.a.
4,MACAOL ESPINOSA SAS,Operating revenue (Turnover)\nth LCU 2023,n.a.
...,...,...,...
129995,GRADISPAN LTDA,Operating revenue (Turnover)\nth LCU 2011,1509000
129996,CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S,Operating revenue (Turnover)\nth LCU 2011,n.a.
129997,JOSHUA CAFE IRLANDES S A S,Operating revenue (Turnover)\nth LCU 2011,293967
129998,PROYECTO AGUAS DEL BOSQUE S A S,Operating revenue (Turnover)\nth LCU 2011,n.a.
129999,GRUPO INVERSIONES SYNERGY SAS,Operating revenue (Turnover)\nth LCU 2011,n.a.