# 1 Assignment 2

In [1]:
# !pip install pyreadstat
# !pip install savReaderWriter
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import savReaderWriter as sav

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [2]:
rec_1 = pd.read_spss( r"../../_data/endes/2019/REC0111.sav" )
rec_2 = pd.read_spss( r"../../_data/endes/2019/RE223132.sav" )
rec_3 = pd.read_spss( r"../../_data/endes/2019/RE516171.sav" )

In [3]:
with sav.SavHeaderReader( r"../../_data/endes/2019/REC0111.sav", ioUtf8=True ) as header:
    metadata = header.all()
    value_labels1 = metadata.valueLabels
    var_labels1 = metadata.varLabels

with sav.SavHeaderReader( r"../../_data/endes/2019/RE223132.sav", ioUtf8=True ) as header:
    metadata = header.all()
    value_labels2 = metadata.valueLabels
    var_labels2 = metadata.varLabels

with sav.SavHeaderReader( r"../../_data/endes/2019/RE516171.sav", ioUtf8=True ) as header:
    metadata = header.all()
    value_labels3 = metadata.valueLabels
    var_labels3 = metadata.varLabels

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V2018, V301, V302, ..., V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [4]:
sel_vars1 = "CASEID, V000, V001, V002, V003, V004, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133".split( ', ' )
sel_vars2 = "CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380".split(', ')
sel_vars3 = "CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715".split(', ')

In [5]:
rec1_1 = rec_1.loc[ :, sel_vars1 ]
rec2_1 = rec_2.loc[ :, sel_vars2 ]
rec3_1 = rec_3.loc[ :, sel_vars3 ]

In [6]:
new_value_labels1 = { new_key: value_labels1[ new_key ] for new_key in sel_vars1 if new_key in value_labels1.keys() }
new_var_labels1 = { new_key: var_labels1[ new_key ] for new_key in sel_vars1 }
new_value_labels2 = { new_key: value_labels2[ new_key ] for new_key in sel_vars2 if new_key in value_labels2.keys() }
new_var_labels2 = { new_key: var_labels2[ new_key ] for new_key in sel_vars2 }
new_value_labels3 = { new_key: value_labels3[ new_key ] for new_key in sel_vars3 if new_key in value_labels3.keys() }
new_var_labels3 = { new_key: var_labels3[ new_key ] for new_key in sel_vars3 }

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [7]:
rec1_1.loc[ :, "year" ] = np.array( [ 2019 ] * len( rec1_1 ) )
new_var_labels1.update( { 'year': "Year of the survey" } )

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [8]:
# endes_20191 = rec1_1.merge( rec2_1, on = 'CASEID' ).merge( rec3_1, on = 'CASEID' )
# endes_20192 = rec1_1.merge( rec2_1, on = 'CASEID', how = 'outer' ).merge( rec3_1, on = 'CASEID', how = 'outer' )
# endes_2019.shape == endes_20192.shape <- # Output is True

endes_2019 = rec1_1.merge( rec2_1, on = 'CASEID', how = 'outer' ).merge( rec3_1, on = 'CASEID', how = 'outer')

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. Your final output should be equal to `endes_2019_ta` object **Hint: Use `update` method.**

In [9]:
output = urllib.request.urlopen( r'https://www.dropbox.com/s/gwcssinb1j9zr6s/endes_2019_ta.pkl?dl=1' )
endes_2019_ta = pickle.load( output )

In [10]:
var_labels = {}
var_labels.update(new_var_labels1)
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

value_labels = {}
value_labels.update(new_value_labels1)
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

In [11]:
endes_2019.attrs[ 'var_labels' ] = var_labels
endes_2019.attrs[ 'value_labels' ] = value_labels

In [12]:
# set1 = set( endes_2019.attrs[ 'var_labels' ] )
# set2 = set( endes_2019_ta.attrs[ 'var_labels' ] )
# set1 ^ set2

set()

In [13]:
endes_2019.attrs[ 'var_labels' ] == endes_2019_ta.attrs[ 'var_labels' ]

True

In [14]:
endes_2019.attrs[ 'value_labels' ] == endes_2019_ta.attrs[ 'value_labels' ]

True

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. The output of this exercise should be equal to the `all_data_ta` object. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

In [26]:
sel_vars1 = "CASEID, V000, V001, V002, V003, V004, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133".split( ', ' )
years = [ '2015', '2016', '2017', '2018', '2019' ]
all_data = {}

for year in years:
    
    data_1 = pd.read_spss( f"../../_data/endes/{year}/REC0111.sav" )
    data_2 = pd.read_spss( f"../../_data/endes/{year}/RE223132.sav" )
    data_3 = pd.read_spss( f"../../_data/endes/{year}/RE516171.sav" )
    
    with sav.SavHeaderReader( f"../../_data/endes/{year}/REC0111.sav", ioUtf8=True ) as header:
        metadata = header.all()
        value_labels1 = metadata.valueLabels
        var_labels1 = metadata.varLabels

    with sav.SavHeaderReader( f"../../_data/endes/{year}/RE223132.sav", ioUtf8=True ) as header:
        metadata = header.all()
        value_labels2 = metadata.valueLabels
        var_labels2 = metadata.varLabels

    with sav.SavHeaderReader( f"../../_data/endes/{year}/RE516171.sav", ioUtf8=True ) as header:
        metadata = header.all()
        value_labels3 = metadata.valueLabels
        var_labels3 = metadata.varLabels
    
    data1_1 = data_1.loc[ :, sel_vars1 ]
    data2_1 = data_2.loc[ :, sel_vars2 ]
    data3_1 = data_3.loc[ :, sel_vars3 ]
    
    new_value_labels1 = { new_key: value_labels1[ new_key ] for new_key in sel_vars1 if new_key in value_labels1.keys() }
    new_var_labels1 = { new_key: var_labels1[ new_key ] for new_key in sel_vars1 }
    new_value_labels2 = { new_key: value_labels2[ new_key ] for new_key in sel_vars2 if new_key in value_labels2.keys() }
    new_var_labels2 = { new_key: var_labels2[ new_key ] for new_key in sel_vars2 }
    new_value_labels3 = { new_key: value_labels3[ new_key ] for new_key in sel_vars3 if new_key in value_labels3.keys() }
    new_var_labels3 = { new_key: var_labels3[ new_key ] for new_key in sel_vars3 }
    
    data1_1.loc[ :, "year" ] = np.array( [ int( year ) ] * len( data1_1 ) )
    new_var_labels1.update( { 'year': "Year of the survey" } )
    
    data = data1_1.merge( data2_1, on = 'CASEID' ).merge( data3_1, on = 'CASEID' )
    
    var_labels = {}
    var_labels.update( new_var_labels1 )
    var_labels.update( new_var_labels2 )
    var_labels.update( new_var_labels3 )

    value_labels = {}
    value_labels.update( new_value_labels1 )
    value_labels.update( new_value_labels2 )
    value_labels.update( new_value_labels3 )
    
    all_data.update( { f'year_{ year }': { 'data': data, 'var_labels': var_labels, 'value_labels': value_labels } } )

In [20]:
output = urllib.request.urlopen(r'https://www.dropbox.com/s/dqv1d9of2uo6hul/all_data_ta.pkl?dl=1')
all_data_ta = pickle.load( output )

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

In [40]:
list_year=[]

for year in years:
    list_year += [ all_data.get( f'year_{ year }' ).get( 'data' ) ]

endes_data_2015_2019 = pd.concat( list_year ).reset_index( drop = True )

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`. Your final output should be equal to `endes_data_2015_2019_ta` object. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

In [43]:
all_var_labels = {}

for year in years:
    all_var_labels[ f'{year}' ] = all_data.get( f'year_{ year }' ).get( 'var_labels' )

In [44]:
all_value_labels = {}
for year in years:
    all_value_labels[ f'{year}' ] = all_data.get( f'year_{ year }' ).get( 'value_labels' )

In [45]:
endes_data_2015_2019.attrs[ 'var_labels' ] = all_var_labels
endes_data_2015_2019.attrs[ 'value_labels' ] = all_value_labels

In [46]:
output = urllib.request.urlopen( r'https://www.dropbox.com/s/oifvyjrr7s0e1md/endes_data_2015_2019_ta.pkl?dl=1')
endes_data_2015_2019_ta = pickle.load( output )

In [237]:
# set1 = set( endes_data_2015_2019.attrs[ 'var_labels' ] )
# set2 = set( endes_data_2015_2019_ta.attrs[ 'var_labels' ] )
# set1 ^ set2
# endes_data_2015_2019.attrs[ 'var_labels' ] == endes_data_2015_2019_ta.attrs[ 'var_labels' ]
# endes_data_2015_2019.attrs[ 'value_labels' ] == endes_data_2015_2019_ta.attrs[ 'value_labels' ]

set()

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [51]:
elements_cols= [ 'year', 'V024', 'V201', 'V613', 'V715', 'V511' ]

mean_key_vars = endes_data_2015_2019[ elements_cols ].groupby( [ 'year', 'V024' ] ).mean()

mean_key_vars.rename( columns= { 'V201': 'mean_total_children', 
                                'V613': 'mean_ideal_children', 
                                'V715': 'mean_hb_year_educ', 
                                'V511': 'mean_first_marriage' }, 
                     inplace=True )

In [52]:
mean_key_vars

                   mean_total_children  mean_first_marriage
year V024
2015 Amazonas                 2.445515            19.014493
     Ancash                   2.028594            20.587935
     Apurimac                 2.415771            19.641466
     Arequipa                 1.711661            22.038043
     Ayacucho                 2.493585            20.037555
...                                ...                  ...
2019 Ayacucho                 2.052257            20.340228
     Cajamarca                2.180258            19.610695
     Callao                   1.696154            21.517241
     Cusco                    2.109815            20.283154
     Huancavelica             2.364774            19.780769

[125 rows x 2 columns]

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. Your ouput should be equal to `final_result_ta`. **Hint: Use merge.**

In [53]:
final_result = mean_key_vars.merge( endes_data_2015_2019, on = [ 'year', 'V024' ] , how = "left" , validate = "1:m" )

In [54]:
output = urllib.request.urlopen( r'https://www.dropbox.com/s/ntor3jbpdxpj9u1/final_result_ta.pkl?dl=1' )
final_result_ta = pickle.load( output )