# Group 6

## Assignment 2

In [41]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [42]:
pwd

'C:\\Users\\ROSALYN\\Documents\\GitHub\\Diplomado_PUCP\\Lecture_4\\Assignment_2'

In [43]:
rec_1 = pd.read_spss( r"../_data/endes/2019/REC0111.sav" )
rec_2 = pd.read_spss( r"../_data/endes/2019/RE223132.sav" )
rec_3 = pd.read_spss( r"../_data/endes/2019/RE516171.sav" )

In [44]:
import savReaderWriter as sav

In [45]:
with sav.SavHeaderReader( r"../_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()
    var_labels1 = metadata.varLabels
    value_labels1 = metadata.valueLabels
    rec_1.attrs[ 'var_labels1' ] = var_labels1
    rec_1.attrs[ 'value_labels1' ] = value_labels1

In [56]:
with sav.SavHeaderReader( r"../_data/endes/2019/RE223132.sav", ioUtf8=True) as header:
    metadata = header.all()
    var_labels2 = metadata.varLabels
    value_labels2 = metadata.valueLabels
    rec_2.attrs[ 'var_labels2' ] = var_labels2   
    rec_2.attrs[ 'value_labels2' ] = value_labels2

In [57]:
with sav.SavHeaderReader( r"../_data/endes/2019/RE516171.sav", ioUtf8=True) as header:
    metadata = header.all()
    var_labels3 = metadata.varLabels
    value_labels3 = metadata.valueLabels 
    rec_3.attrs[ 'var_labels3' ] = var_labels3  
    rec_3.attrs[ 'value_labels3' ] = value_labels3

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V2018, V301, V302, ..., V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [58]:
selcol_rec_1=["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123","V124", "V125", "V127", "V133"]

In [59]:
selcol_rec_2=["CASEID", "V201", "V218", "V301", "V302", "V323", "V323A", "V325A", "V326", "V327", "V337", "V359", "V360", "V361", "V362", "V363", "V364", "V367", "V372", "V372A", "V375A", "V376", "V376A", "V379", "V380"]

In [60]:
selcol_rec_3=["CASEID", "V501", "V502", "V503", "V504", "V505", "V506", "V507", "V508", "V509", "V510", "V511", "V512", "V513", "V525", "V613", "V714", "V715"]

In [61]:
rec1_1 = rec_1.loc[ :, selcol_rec_1]

rec2_1 = rec_2.loc[ :, selcol_rec_2]

rec3_1 = rec_3.loc[ :, selcol_rec_3]

In [62]:
new_var_labels1 = { key: var_labels1[ key ] for key in selcol_rec_1 }
new_value_labels1 = { key: value_labels1[ key ] for key in selcol_rec_1 if key in value_labels1.keys() }

In [63]:
new_var_labels1

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples'}

In [64]:
new_value_labels1

{'V024': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: ' Huanuco',
  11.0: ' Ica',
  12.0: ' Junin',
  13.0: ' La Libertad',
  14.0: ' Lambayeque',
  15.0: ' Lima',
  16.0: ' Loreto',
  17.0: ' Madre de Dios',
  18.0: ' Moquegua',
  19.0: ' Pasco',
  20.0: ' Piura',
  21.0: ' Puno',
  22.0: ' San Martin',
  23.0: ' Tacna',
  24.0: ' Tumbes',
  25.0: ' Ucayali'},
 'V102': {1.0: 'Urbano', 2.0: 'Rural'},
 'V120': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V121': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V122': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V123': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V124': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V125': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V127': {11.0: 'Tierra/arena',
  21.0: 'Madera (entablados)',
  31.0: 'Parquet o madera pulida',
  32.0: 'Làminas asfálticas, vinílicos o similares',
  33.0: 'Losetas, terrazos o similares',
  34.0: 'Cemento/ladrillo',
  96.0: 'Pona',
  97.0: 'Otro(pona)'},
 'V133': {97.0: 'Inconsistente'}}

In [65]:
new_var_labels2 = { key: var_labels2[ key ] for key in selcol_rec_2 }
new_value_labels2 = { key: value_labels2[ key ] for key in selcol_rec_2 if key in value_labels2.keys() }

In [66]:
new_var_labels3 = { key: var_labels3[ key ] for key in selcol_rec_3 }
new_value_labels3 = { key: value_labels3[ key ] for key in selcol_rec_3 if key in value_labels3.keys() }

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [67]:
rec1_1['year'] = 2019

In [68]:
new_var_labels1['year'] = "Year of the survey"

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [69]:
sub_endes_2019 = rec1_1.merge(     # dataframe A to be merged
                 rec2_1,           # dataframe B to be merged with
                 on = 'CASEID',    # by variable name
                 how = 'left',     # keep A and complete with B
                 validate = "1:1"  # Asign unique values (others: m:1, 1:m, m:m)
                 )

endes_2019    =  sub_endes_2019.merge(# dataframe A to be merged
                 rec3_1,              # dataframe B to be merged with
                 on = 'CASEID',       # by variable name
                 how = 'left',        # keep A and complete with B
                 validate = "1:1"     # Asign unique values (others: m:1, 1:m, m:m)
                 )

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. Your final output should be equal to `endes_2019_ta` object **Hint: Use `update` method.**

In [70]:
# Base labels
new_var_labels = new_var_labels1.copy()
new_value_labels = new_value_labels1.copy()

# Adding labels2
new_var_labels.update( new_var_labels2 )
new_value_labels.update( new_value_labels2 )

# Adding labels3
new_var_labels.update( new_var_labels3 )
new_value_labels.update( new_value_labels3 )

# Final labels
var_labels = new_var_labels.copy()
value_labels = new_value_labels.copy()

# Generating atributes for endes_2019
endes_2019.attrs[ 'var_labels' ] = var_labels
endes_2019.attrs[ 'value_labels' ] = value_labels

Checking if current output is similar to `endes_2019_ta`

In [71]:
# Importing endes_2019_ta data
output = urllib.request.urlopen(r'https://www.dropbox.com/s/gwcssinb1j9zr6s/endes_2019_ta.pkl?dl=1')
endes_2019_ta = pickle.load( output )

## Validation
# Variables validation
var_validation = endes_2019.attrs[ 'var_labels' ] == endes_2019_ta.attrs[ 'var_labels' ]
print('Are var_labels the same for endes_2019 and endes_2019_ta? \t', var_validation)
# Values validation
value_validation = endes_2019.attrs[ 'value_labels' ] == endes_2019_ta.attrs[ 'value_labels' ]
print('Are value_labels the same for endes_2019 and endes_2019_ta? \t', value_validation)

Are var_labels the same for endes_2019 and endes_2019_ta? 	 False
Are value_labels the same for endes_2019 and endes_2019_ta? 	 False

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. The output of this exercise should be equal to the `all_data_ta` object. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

In [75]:
all_data = {} # empty object to store results, in for loop

## Defining lists of variables
# List 1
var_list_1 = ["CASEID", "V000", "V001", "V002", "V003",
              "V004", "V007", "V008", "V009", "V010",
              "V011", "V012", "V024", "V102","V120",
              "V121", "V122", "V123", "V124", "V125",
              "V127", "V133"]

# List 2    
rec_2_aux = pd.read_spss( r"../_data/endes/2019/RE223132.sav" )

var_list_2 = ["CASEID", "V201", "V218", "V301"] \
             + rec_2_aux.loc[ : , "V302":"V323"].columns.tolist() \
             + ["V323A", "V325A", "V326", "V327",
              "V337", "V359", "V360", "V361", "V362",
              "V363", "V364", "V367", "V372", "V372A",
              "V375A", "V376", "V376A", "V379", "V380"]

#List 3
var_list_3 = ["CASEID", "V501", "V502", "V503","V504",
              "V505", "V506", "V507", "V508", "V509",
              "V510", "V511", "V512", "V513", "V525",
              "V613", "V714", "V715"]    

## library for labeling with sav
import savReaderWriter as sav

for year in range( 2015, 2020 ):
    
    ## REC_1 data
    # reading REC_1 data
    rec_1_data = pd.read_spss( fr"../_data/endes/{year}/REC0111.sav" )
    
    # getting labels 
    with sav.SavHeaderReader( fr"../_data/endes/{year}/REC0111.sav", ioUtf8=True) as header:
        metadata = header.all()
        var_label1 = metadata.varLabels.copy() #use .copy to don´t drag the same object by iteration
        value_label1 = metadata.valueLabels.copy()
    
    # getting the selected variables new data frame
    if year == 2018: # V007 not foun in 2018 year, provisional solution with if statement
        var_list_1 = ["CASEID", "V000", "V001", "V002", "V003",
                      "V004", "V008", "V009", "V010",
                      "V011", "V012", "V024", "V102","V120",
                      "V121", "V122", "V123", "V124", "V125",
                      "V127", "V133"]
    else:
        var_list_1 = var_list_1
        
    rec_1_selec = rec_1_data[var_list_1]
    
    
    # Labels
    new_var_label1 = {} #empty objtects to store "values" from loop
    new_value_label1 = {}

    for key in var_list_1: # Loop by list
        if key in var_label1: # Store if select var label exist
            new_var_label1[f'{key}'] = var_label1[f'{key}']

        if key in value_label1:# Store if select value label exist
            new_value_label1[f'{key}'] = value_label1[f'{key}']
    
    # Print for error detection
    print(f" we are at rec_1 data of {year}")
    
    
    ## REC_2 data
    # reading REC_2 data
    rec_2_data = pd.read_spss( fr"../_data/endes/{year}/RE223132.sav" )
    
    # getting labels 
    with sav.SavHeaderReader( fr"../_data/endes/{year}/RE223132.sav", ioUtf8=True) as header:
        metadata = header.all()
        var_label2 = metadata.varLabels.copy() #use .copy to don´t drag the same object by iteration
        value_label2 = metadata.valueLabels.copy()
    
    # getting the selected variables new data frame
    rec_2_selec = rec_2_data[var_list_2]
    
    
    # Labels
    new_var_label2 = {} #empty objtects to store "values" from loop
    new_value_label2 = {}

    for key in var_list_2: # Loop by list
        if key in var_label2: # Store if select var label exist
            new_var_label2[f'{key}'] = var_label2[f'{key}']

        if key in value_label2:# Store if select value label exist
            new_value_label2[f'{key}'] = value_label2[f'{key}']
    
    # Print for error detection
    print(f" we are at rec_2 data of {year}")
    
    
    ## REC_3 data
    # reading REC_3 data
    rec_3_data = pd.read_spss( fr"../_data/endes/{year}/RE516171.sav" )
    
    # getting labels 
    with sav.SavHeaderReader( fr"../_data/endes/{year}/RE516171.sav", ioUtf8=True) as header:
        metadata = header.all()
        var_label3 = metadata.varLabels.copy() #use .copy to don´t drag the same object by iteration
        value_label3 = metadata.valueLabels.copy()
    
    # getting the selected variables new data frame
    rec_3_selec = rec_3_data[var_list_3]
    
    
    # Labels
    new_var_label3 = {} #empty objtects to store "values" from loop
    new_value_label3 = {}

    for key in var_list_3: # Loop by list
        if key in var_label3: # Store if select var label exist
            new_var_label3[f'{key}'] = var_label3[f'{key}']

        if key in value_label3:# Store if select value label exist
            new_value_label3[f'{key}'] = value_label3[f'{key}']
            
    # Print for error detection
    print(f" we are at rec_3 data of {year}")
    
    ## Year column and label
    # year column
    rec_1_selec['year'] = year
    # year variable label
    new_var_label1['year'] = "Year of the survey"
    # Print for error detection
    print(f" we are at year column part of {year}")
    
    
    ## Data merge
    sub_endes  = rec_1_selec.merge(     # dataframe A to be merged
                 rec_2_selec,           # dataframe B to be merged with
                 on = 'CASEID',         # by variable name
                 how = 'left',          # keep A and complete with B
                 validate = "1:1"       # Asign unique values (others: m:1, 1:m, m:m)
                 )

    endes     =  sub_endes.merge(     # dataframe A to be merged
                 rec_3_selec,              # dataframe B to be merged with
                 on = 'CASEID',       # by variable name
                 how = 'left',        # keep A and complete with B
                 validate = "1:1"     # Asign unique values (others: m:1, 1:m, m:m)
                 )
    # Print for error detection
    print(f" we are at merge part of {year}")
    
    
    ## Labeling data
    # Base labels
    new_var_label = new_var_label1.copy()
    new_value_label = new_value_label1.copy()

    # Adding labels2
    new_var_label.update( new_var_label2 )
    new_value_label.update( new_value_label2 )

    # Adding labels3
    new_var_label.update( new_var_label3 )
    new_value_label.update( new_value_label3 )

    # Final labels
    var_labels = new_var_label.copy()
    value_labels = new_value_label.copy()
    
    # Print for error detection
    print(f" we are at labeling part of {year}")

    ## Storing data
    store_values = {"data" : endes , 
                      "var_labels" : var_labels, 
                      "value_labels" : value_labels
                    }
    all_data[ f'year_{year}'] = store_values
    # Print for error detection
    print(f" we are at storing data part of {year}")

 we are at rec_1 data of 2015
 we are at rec_2 data of 2015
 we are at rec_3 data of 2015
 we are at year column part of 2015
 we are at merge part of 2015
 we are at labeling part of 2015
 we are at storing data part of 2015

<ipython-input-75-41d2f86829c5>:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_1_selec['year'] = year

 we are at rec_1 data of 2016
 we are at rec_2 data of 2016
 we are at rec_3 data of 2016
 we are at year column part of 2016
 we are at merge part of 2016
 we are at labeling part of 2016
 we are at storing data part of 2016
 we are at rec_1 data of 2017
 we are at rec_2 data of 2017
 we are at rec_3 data of 2017
 we are at year column part of 2017
 we are at merge part of 2017
 we are at labeling part of 2017
 we are at storing data part of 2017
 we are at rec_1 data of 2018
 we are at rec_2 data of 2018
 we are at rec_3 data of 2018
 we are at year column part of 2018
 we are at merge part of 2018
 we are at labeling part of 2018
 we are at storing data part of 2018
 we are at rec_1 data of 2019
 we are at rec_2 data of 2019
 we are at rec_3 data of 2019
 we are at year column part of 2019
 we are at merge part of 2019
 we are at labeling part of 2019
 we are at storing data part of 2019

Checking if current output is similar to `all_data_ta`

In [76]:
# Importinga all_data_ta
output = urllib.request.urlopen(r'https://www.dropbox.com/s/dqv1d9of2uo6hul/all_data_ta.pkl?dl=1')
all_data_ta = pickle.load( output )

# Test if all_data is iqual to all_data_ta
# We are going to compare by keys, as long there are too much commons keys
# let's test if there are any uncommon keys
uncommon_pairs = dict()
for key in all_data:
    if (key in all_data_ta and all_data[key] != all_data[key]):
        uncommon_pairs[key] = all_data[key]
print('Uncommon keys between all_data and all_data_ta: ',uncommon_pairs)
# If you look for common key pairs you can try it by uncoment the next code, 
# this gives us a print of all keys, this is similar to print data_all or data_all_ta:
#common_pairs = dict()
#for key in all_data:
#    if (key in all_data_ta and all_data[key] == all_data[key]):
#        common_pairs[key] = all_data[key]
#print('common keys between all_data and all_data_ta: ',common_pairs)

Uncommon keys between all_data and all_data_ta:  {}

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

In [77]:
# Checking the keys of the current data
all_data['year_2019'].keys()

dict_keys(['data', 'var_labels', 'value_labels'])

In [78]:
#  Creating a list with the results we obtained previously
all_data_list=[] #blank list

for year in range(2015, 2020 ):
    data =  all_data[f'year_{year}']['data'] #add to list
    all_data_list.append( data )

In [79]:
# Concatenating all data sets
endes_data_2015_2019_1 = pd.concat(all_data_list)
endes_data_2015_2019 = endes_data_2015_2019_1.reset_index( drop = True )  #reset the index

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`. Your final output should be equal to `endes_data_2015_2019_ta` object. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

In [80]:
 # Labels
all_var_labels ={} #empty objtects to store "variables" from loop
all_value_labels = {} #empty objtects to store "values" from loop

for year in range (2015, 2020):
    all_var_labels[f'{ year }' ] = all_data[f'year_{year}'] ['var_labels']
    all_value_labels[f'{ year }' ] = all_data[f'year_{year}'] ['value_labels']

In [81]:
# Generating atributes for endes_data_2015_2019
endes_data_2015_2019.attrs['var_labels'] = all_var_labels
endes_data_2015_2019.attrs['value_labels'] = all_value_labels

Checking if current output is similar to endes_data_2015_2019_ta

In [82]:
output = urllib.request.urlopen( r'https://www.dropbox.com/s/oifvyjrr7s0e1md/endes_data_2015_2019_ta.pkl?dl=1')
endes_data_2015_2019_ta = pickle.load( output )

In [83]:
# Values validation
value_validation = endes_data_2015_2019.attrs[ 'value_labels' ] == endes_data_2015_2019_ta.attrs[ 'value_labels' ]
print('Are value_labels the same for endes_data_2015_2019 and endes_data_2015_2019_ta? \t', value_validation)

Are value_labels the same for endes_data_2015_2019 and endes_data_2015_2019_ta? 	 True

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [95]:
#We will work on this variable
rec_2.attrs[ 'var_labels2' ]['V201']

'Total de niños nacidos'

In [137]:
#view tables
rec_2.loc[ 0:5 , ["V201"]]

   V201
0   2.0
1   0.0
2   3.0
3   3.0
4   3.0
5   3.0

In [102]:
rec_3.attrs[ 'var_labels3' ]['V511']

'Edad al primer matrimonio'

In [103]:
rec_3.attrs[ 'var_labels3' ]['V613']

'Número ideal de niños'

In [104]:
rec_3.attrs[ 'var_labels3' ]['V715']

'Educación en años individuales del esposo/compañero'

In [154]:
rec_3.loc[ 0:5 , ["V511" , "V613", "V715"] ]

   V511 V613  V715
0  21.0  2.0  11.0
1  28.0  3.0  14.0
2  14.0  0.0   6.0
3  18.0  2.0   6.0
4  17.0  2.0  16.0
5   NaN  2.0   NaN

In [130]:
import numpy as np

In [138]:
endes_data_2015_2019_ta.groupby(['year', 'V024'], as_index = False )[['V201']].mean()

     year          V024      V201
0    2015      Amazonas  2.445515
1    2015        Ancash  2.028594
2    2015      Apurimac  2.415771
3    2015      Arequipa  1.711661
4    2015      Ayacucho  2.493585
..    ...           ...       ...
120  2019      Ayacucho  1.848787
121  2019     Cajamarca  1.931559
122  2019        Callao  1.567164
123  2019         Cusco  1.894415
124  2019  Huancavelica  2.083969

[125 rows x 3 columns]

In [139]:
endes_data_2015_2019_ta.groupby(['year', 'V024'], as_index = False )[['V511']].mean()

     year          V024       V511
0    2015      Amazonas  19.014493
1    2015        Ancash  20.587935
2    2015      Apurimac  19.641466
3    2015      Arequipa  22.038043
4    2015      Ayacucho  20.037555
..    ...           ...        ...
120  2019      Ayacucho  20.340228
121  2019     Cajamarca  19.610695
122  2019        Callao  21.517241
123  2019         Cusco  20.283154
124  2019  Huancavelica  19.780769

[125 rows x 3 columns]

In [150]:
#identify_error_no numeric types to aggregate
endes_data_2015_2019_ta['V715'].dtype

dtype('O')

In [155]:
endes_data_2015_2019_ta['V715'].unique().tolist()

[3.0,
 9.0,
 11.0,
 nan,
 16.0,
 6.0,
 8.0,
 5.0,
 7.0,
 12.0,
 10.0,
 15.0,
 4.0,
 "Don't know",
 0.0,
 2.0,
 1.0,
 13.0,
 14.0,
 17.0,
 'No sabe']

In [161]:
# from dtype'O' to np.nan
endes_data_2015_2019_ta.V715.replace(("Don't know", 'No sabe'), (np.nan, np.nan), inplace=True)
endes_data_2015_2019_ta.V715

0          3.0
1          9.0
2         11.0
3          NaN
4          NaN
          ...
365731     5.0
365732     7.0
365733     5.0
365734    11.0
365735    11.0
Name: V715, Length: 365736, dtype: float64

In [162]:
endes_data_2015_2019_ta['V715'].unique().tolist()

[3.0,
 9.0,
 11.0,
 nan,
 16.0,
 6.0,
 8.0,
 5.0,
 7.0,
 12.0,
 10.0,
 15.0,
 4.0,
 0.0,
 2.0,
 1.0,
 13.0,
 14.0,
 17.0]

In [163]:
#identify_error_no numeric types to aggregate
endes_data_2015_2019_ta['V613'].dtype

dtype('O')

In [164]:
endes_data_2015_2019_ta['V613'].unique().tolist()

[4.0,
 2.0,
 1.0,
 0.0,
 3.0,
 nan,
 7.0,
 6.0,
 5.0,
 'Non-numeric response',
 10.0,
 12.0,
 8.0,
 9.0,
 15.0,
 11.0,
 22.0,
 20.0,
 21.0,
 13.0,
 'Respuesta no numérica',
 16.0]

In [171]:
# from dtype'O' to np.nan
endes_data_2015_2019_ta.V613.replace(("Don't know", 'No sabe'), (np.nan, np.nan), inplace=True)
endes_data_2015_2019_ta.V715

0          3.0
1          9.0
2         11.0
3          NaN
4          NaN
          ...
365731     5.0
365732     7.0
365733     5.0
365734    11.0
365735    11.0
Name: V715, Length: 365736, dtype: float64

In [172]:
endes_data_2015_2019_ta['V613'].unique().tolist()

[4.0,
 2.0,
 1.0,
 0.0,
 3.0,
 nan,
 7.0,
 6.0,
 5.0,
 10.0,
 12.0,
 8.0,
 9.0,
 15.0,
 11.0,
 22.0,
 20.0,
 21.0,
 13.0,
 16.0]

In [173]:
endes_data_2015_2019_ta.groupby(['year', 'V024'], as_index = False )[['V613']].mean()

     year          V024      V613
0    2015      Amazonas  2.556632
1    2015        Ancash  2.536736
2    2015      Apurimac  2.305830
3    2015      Arequipa  2.190895
4    2015      Ayacucho  2.361299
..    ...           ...       ...
120  2019      Ayacucho  2.209026
121  2019     Cajamarca  2.545923
122  2019        Callao  2.241724
123  2019         Cusco  2.100097
124  2019  Huancavelica  2.295098

[125 rows x 3 columns]

In [174]:
endes_data_2015_2019_ta.groupby(['year', 'V024'], as_index = False )[['V715']].mean()

     year          V024       V715
0    2015      Amazonas   8.195632
1    2015        Ancash   9.661442
2    2015      Apurimac   8.976879
3    2015      Arequipa  10.530120
4    2015      Ayacucho   8.797882
..    ...           ...        ...
120  2019      Ayacucho  10.470772
121  2019     Cajamarca   8.708874
122  2019        Callao  11.663909
123  2019         Cusco  10.569194
124  2019  Huancavelica   9.879221

[125 rows x 3 columns]

In [176]:
#generate a new object
mean_key_vars = endes_data_2015_2019_ta.groupby( [ 'year' ,'V024' ] , 
                                as_index = False 
                               ).agg( 
                                    mean_total_children = ( 'V201', np.median ), 
                                    mean_ideal_children = ( 'V613', np.mean ),
                                    mean_hb_yr_educ = ( 'V715', np.mean ),
                                    mean_first_marriage = ( 'V511', np.mean )
                                )
mean_key_vars

,year,V024,mean_total_children,mean_ideal_children,mean_hb_yr_educ,mean_first_marriage
0,2015,Amazonas,2.0,2.556632,8.195632,19.014493
1,2015,Ancash,2.0,2.536736,9.661442,20.587935
2,2015,Apurimac,2.0,2.305830,8.976879,19.641466
3,2015,Arequipa,2.0,2.190895,10.530120,22.038043
4,2015,Ayacucho,2.0,2.361299,8.797882,20.037555
...,...,...,...,...,...,...
120,2019,Ayacucho,1.0,2.209026,10.470772,20.340228
121,2019,Cajamarca,2.0,2.545923,8.708874,19.610695
122,2019,Callao,1.0,2.241724,11.663909,21.517241
123,2019,Cusco,2.0,2.100097,10.569194,20.283154
124,2019,Huancavelica,2.0,2.295098,9.879221,19.780769

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. Your ouput should be equal to `final_result_ta`. **Hint: Use merge.**

In [180]:
final_result = endes_data_2015_2019_ta.merge( mean_key_vars , on = [ 'year' ,'V024' ] , how = "left" , validate = "m:1" ).head()

In [193]:
output = urllib.request.urlopen( r'https://www.dropbox.com/s/ntor3jbpdxpj9u1/final_result_ta.pkl?dl=1' )
final_result_ta = pickle.load( output )

In [200]:
# Generating atributes for final_result_ta

final_result_ta.attrs['var_labels'] = all_var_labels
final_result_ta.attrs['value_labels'] = all_value_labels

In [194]:
# Generating atributes for final_result
final_result.attrs['var_labels'] = all_var_labels
final_result.attrs['value_labels'] = all_value_labels

In [202]:
# Values validation
value_validation = final_result.attrs[ 'value_labels' ] == final_result_ta.attrs[ 'value_labels' ]
print('Are value_labels the same for final_result and final_result_ta? \t', value_validation)

Are value_labels the same for final_result and final_result_ta? 	 True