In [20]:
# 1 Assignment 2

In [21]:

##1.2Lists

In [22]:
import numpy as np #import the library

In [23]:
#1.
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ] # we use 'f_list' as provided in Assignment 2
f_list[0] # we check the nan.value
# we find indices where np.nan values exist
nan_indices = [i for i, value in enumerate(f_list) if isinstance(value, (float,np.floating)) and np.isnan(value)]

# Print the result
print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

In [24]:

#2. Given p2_list
p2_list = [ 2 , 3, 4, 5 ]

#we replicate 4 times p2_list 

replicated_p2_list = p2_list * 4
print(replicated_p2_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [25]:
#3.
#We use f_list in #1 and print its length
len(f_list)

8

In [26]:
#4. We use 'text1' as provided in Assignment 2
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
# We join the elements of the list into a string using join function
sentence = ' '.join(text1)
print(sentence)

My teacher assistant is so boring.

In [27]:
#5. Print My TA is so boring, but is very funny. using text1 list
#First we extend text 1
text1.extend(['but', 'is', 'very', 'funny.'])
text1

['My',
 'teacher',
 'assistant',
 'is',
 'so',
 'boring.',
 'but',
 'is',
 'very',
 'funny.']

In [28]:
# Finally we join the elements of the list into a string
sentence = ' '.join(text1)
print(sentence)

My teacher assistant is so boring. but is very funny.

In [29]:
#6. Given 'values1'
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 
#we need to find the max and min values, and its index 
max_value = max(values1)
max_index = values1.index(max_value)

min_value = min(values1)
min_index = values1.index(min_value)

#Finally we print the statement 
print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [30]:
#7. Using 'Last_and_name' list we need to get two separated lists
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]

#we use map and split functions
split_names = list(map(lambda x: x.split(', '), last_and_name))
# FInally we get the lists of last names and names
last_names = [x[0] for x in split_names]
names = [x[1] for x in split_names]

print("Last names:", last_names)
print("Names:", names)

Last names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']
Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']

In [31]:
#8. given 'emails' and using 'last_names' obtain from #7 we need to get a new list with the last name of students who do not have an email.
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

# First, we extract the last names from the email addresses
email_last_names = list(map(lambda x: x.split('@')[0].split('.')[0], emails))

# Finally,we find the students who do not have an email
students_without_email = [x for x in last_names if x.lower() not in email_last_names]

print(students_without_email)

['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

In [5]:
import pandas as pd

In [31]:
##1
#First, we "name" the URL to use it in the pd.read_csv, which is a function that allows us to convert the data in the URL into a DataFrame
url='https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv'
#Then we use the suggested function to convert the data from the URL into a DataFrame
df=pd.read_csv(url)
print(df.head(5))

         DATE   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26

In [32]:
##2.a)
#We use the function head to display the first five columns(that is why there is a 5 in the parenthesis)
print(df.head(5))

         DATE   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26

In [33]:
##2.b)
#Here, we use the function describe to get the summary statistic from the DataFrame. In addition, we use include='all' in case we have no numeric clumns that we would like to display
print(df.describe(include='all'))

              DATE         OPEN         HIGH          LOW        CLOSE
count         8576  8576.000000  8576.000000  8576.000000  8576.000000
unique        8576          NaN          NaN          NaN          NaN
top     01/02/1990          NaN          NaN          NaN          NaN
freq             1          NaN          NaN          NaN          NaN
mean           NaN    19.667087    20.475051    18.915540    19.581101
std            NaN     7.979316     8.440179     7.470016     7.906388
min            NaN     9.010000     9.310000     8.560000     9.140000
25%            NaN    13.937500    14.540000    13.407500    13.880000
50%            NaN    17.795000    18.470000    17.220000    17.760000
75%            NaN    23.102500    23.960000    22.322500    22.990000
max            NaN    82.690000    89.530000    72.760000    82.690000

In [34]:
##3.a)
#We define the bins and labels
bins = [float('-inf'), 20, 30, float('inf')]
labels = ['Low', 'Medium', 'High']
#We use the function cut to create the new column according with the bins, labels and, obviously, the column LEVEL
df['LEVEL'] = pd.cut(df['CLOSE'], bins=bins, labels=labels, right=False)
print(df)

            DATE   OPEN   HIGH    LOW  CLOSE   LEVEL
0     01/02/1990  17.24  17.24  17.24  17.24     Low
1     01/03/1990  18.19  18.19  18.19  18.19     Low
2     01/04/1990  19.22  19.22  19.22  19.22     Low
3     01/05/1990  20.11  20.11  20.11  20.11  Medium
4     01/08/1990  20.26  20.26  20.26  20.26  Medium
...          ...    ...    ...    ...    ...     ...
8571  12/28/2023  12.44  12.65  12.38  12.47     Low
8572  12/29/2023  12.55  13.19  12.36  12.45     Low
8573  01/02/2024  13.22  14.23  13.10  13.20     Low
8574  01/03/2024  13.35  14.22  13.33  14.04     Low
8575  01/04/2024  13.93  14.20  13.64  14.13     Low

[8576 rows x 6 columns]

In [38]:
##3.b)
#Here, to create the new column, we should convert the first column to datetime, as the function says
df['DATE'] = pd.to_datetime(df['DATE'])
#Once that is done, all we have to do is to use the following function to extract the year from the date
df['YEAR'] = df['DATE'].dt.year
print(df)

           DATE   OPEN   HIGH    LOW  CLOSE  YEAR
0    1990-01-02  17.24  17.24  17.24  17.24  1990
1    1990-01-03  18.19  18.19  18.19  18.19  1990
2    1990-01-04  19.22  19.22  19.22  19.22  1990
3    1990-01-05  20.11  20.11  20.11  20.11  1990
4    1990-01-08  20.26  20.26  20.26  20.26  1990
...         ...    ...    ...    ...    ...   ...
8571 2023-12-28  12.44  12.65  12.38  12.47  2023
8572 2023-12-29  12.55  13.19  12.36  12.45  2023
8573 2024-01-02  13.22  14.23  13.10  13.20  2024
8574 2024-01-03  13.35  14.22  13.33  14.04  2024
8575 2024-01-04  13.93  14.20  13.64  14.13  2024

[8576 rows x 6 columns]

In [40]:
##4
#First, we should create the values that seem appropiate to us
new_DATE = '2024-01-01'
new_CLOSE_value = 22
new_LEVEL_value = 'Medium'
new_YEAR_value = 2024
#Then, to add a row containing this values, we should use loc function
df.loc[len(df)] = [pd.to_datetime(new_DATE), new_CLOSE_value, new_LEVEL_value, new_YEAR_value]
print(df)

ValueError: cannot set a row with mismatched columns

In [41]:
##5
# Converting the 'Date' column to datetime format
df['DATE'] = pd.to_datetime(df['DATE'])

# Now, as we have been asked, we must group by 'Year' and then calculate the average of the 'Close' column
average_close_by_year = df.groupby('YEAR')['CLOSE'].mean()

print(average_close_by_year)

YEAR
1990    23.063478
1991    18.373373
1992    15.452047
1993    12.686245
1994    13.925516
1995    12.388770
1996    16.442165
1997    22.363984
1998    25.602976
1999    24.371912
2000    23.315000
2001    25.749677
2002    27.292460
2003    21.982857
2004    15.479644
2005    12.807063
2006    12.810320
2007    17.535936
2008    32.695534
2009    31.479008
2010    22.548889
2011    24.202579
2012    17.801640
2013    14.230119
2014    14.175992
2015    16.674087
2016    15.825635
2017    11.090239
2018    16.639841
2019    15.387540
2020    29.251304
2021    19.656151
2022    25.637148
2023    16.849027
2024    13.790000
Name: CLOSE, dtype: float64

In [44]:
##5b
# To count the number of 'High', 'Medium', and 'Low' Level days from the column Level
LEVEL_counts = df['LEVEL'].value_counts()

print(LEVEL_counts)

KeyError: 'LEVEL'