# 1 Assignment 2

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [4]:
import numpy as np

In [5]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [6]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [7]:
p2_list = [ 2 , 3, 4, 5 ]

In [8]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [9]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [48]:
        # Answer 1

nan_values = [i for i, value in enumerate(f_list) if value is np.nan]

print(f"The indices {nan_values} have np.nan values.")

The indices [0, 1, 4, 7] have np.nan values.

In [19]:
        # Answer 2

p2_list_2 = p2_list * 4

print(p2_list_2)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [13]:
        # Answer 3

print(len(f_list))

8

In [18]:
        # Answer 4

answer_4 = ' '.join(text1)
answer_4

'My teacher assistant is so boring.'

In [24]:
        # Answer 5
    
text1[-1] = text1[-1].rstrip('.')
    
text_answer = ['My', 'TA']

text_answer_b = ['but', 'is', 'very', 'funny']

text_answer.extend(text1 + text_answer_b)

answer_5 = ' '.join(text_answer)
answer_5

'My TA My teacher assistant is so boring but is very funny'

In [31]:
        # Answer 6.1
    
max_index = values1.index(max(values1))
    
print(f"The max value of values1 is {max(values1)} and is located in the {max_index} index.")

The max value of values1 is 86 and is located in the 0 index.

In [33]:
        # Answer 6.2
    
min_index = values1.index(min(values1))
    
print(f"The min value of values1 is {min(values1)} and is located in the {min_index} index.")

The min value of values1 is 0 and is located in the 7 index.

In [37]:
        # Answer 7

last_names, names = zip(*map(lambda x: x.split(', '), last_and_name))
                    # the lambda function using split divides each name from each last name
                    # the function zip takes the values and puts them in tuples
                    # "last_names, names" indicates the code to split the tuples in two separate lists
print("Names:", names)
print("Last Names:", last_names)

Names: ('CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS')
Last Names: ('CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO')

In [46]:
        # Answer 8
    
answer_8 = [last_name for last_name, email in zip(last_names, emails) if not email]
            # zip function pairs last names with its corresponding emails into tuples
            # "last_name for last_name, email in ... if not email" indicates the last name for each pair if email is empty
print(answer_8)

['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [ ]:
str1 = 'I am                            too                                                        old'

In [18]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

## 1.4 Pandas

You can and should always ask ChatGPT, BARD, Bing, etc.
In this exercise, you will work with financial data. Follow the steps below:

1. Load Data:
   Load the financial data available at this URL:    https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv
   Use `pd.read_csv()` adn the link to load the data into a DataFrame.

2. Explore Data:
   a) Display the first five rows of the DataFrame.
   b) Display the summary statistics of the DataFrame.

3. Add Columns:
   a) Add a new column 'Level' that categorizes the 'Close' column values into 'Low' (< 20), 'Medium' (20-30), and 'High' (>30). You need to make a filter to make this categorization. You can see below some suggestions how to do it.
   b) Add a new column 'Year' extracted from the 'Date' column. You need to work with dates. You can do it directly workiwith the column splitting it or changing it to date format an dfollowing the below suggestion. 

4. Add Rows:
   a) Add a new row with a date of your choice and fill the other columns with appropriate values. 

5. Analysis:
   a) Calculate the average of the column 'Close' for each 'Year'. You need to group for this task.
   b) Count the number of 'High', 'Medium', and 'Low'  Level days in the data.

Suggestions:
   - Use `pd.cut()` for categorizing 'Close' values.
   - Use `pd.to_datetime()` and `dt.year` to extract the year from a date.
   - Use `DataFrame.append()` or `pd.concat()` to add rows.
   - Use `groupby()` for aggregation tasks.

In [1]:
import pandas as pd

# This code loads the data from the provided URL.
url = "https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv"
df = pd.read_csv(url)

In [2]:
# We check the data assigned to the variable 'df'.
df

            DATE   OPEN   HIGH    LOW  CLOSE
0     01/02/1990  17.24  17.24  17.24  17.24
1     01/03/1990  18.19  18.19  18.19  18.19
2     01/04/1990  19.22  19.22  19.22  19.22
3     01/05/1990  20.11  20.11  20.11  20.11
4     01/08/1990  20.26  20.26  20.26  20.26
...          ...    ...    ...    ...    ...
8571  12/28/2023  12.44  12.65  12.38  12.47
8572  12/29/2023  12.55  13.19  12.36  12.45
8573  01/02/2024  13.22  14.23  13.10  13.20
8574  01/03/2024  13.35  14.22  13.33  14.04
8575  01/04/2024  13.93  14.20  13.64  14.13

[8576 rows x 5 columns]

In [2]:
# We display the first five rows of the DataFrame.
print("Primeras cinco filas del DataFrame:")
print(df.head())

# We display the summarized statistics of the DataFrame.
print("\nEstadísticas resumidas del DataFrame:")
print(df.describe())

Primeras cinco filas del DataFrame:
         DATE   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26

Estadísticas resumidas del DataFrame:
              OPEN         HIGH          LOW        CLOSE
count  8577.000000  8577.000000  8577.000000  8577.000000
mean     19.666454    20.474364    18.914884    19.580374
std       7.979066     8.439927     7.469827     7.906214
min       9.010000     9.310000     8.560000     9.140000
25%      13.940000    14.540000    13.400000    13.880000
50%      17.790000    18.470000    17.220000    17.760000
75%      23.100000    23.960000    22.320000    22.990000
max      82.690000    89.530000    72.760000    82.690000

In [3]:
# We add a 'Level' column to categorize the 'CLOSE' values
df['Level'] = pd.cut(df['CLOSE'], bins=[-float('inf'), 20, 30, float('inf')],
                                  labels=['Low', 'Medium', 'High'])

# We add the 'Year' column extracted from the 'DATE' column, keeping only the year using the dt.year function.
# Firstly, the 'DATE' variable was categorized as datetime.
df['Year'] = pd.to_datetime(df['DATE']).dt.year

df

            DATE   OPEN   HIGH    LOW  CLOSE   Level  Year
0     01/02/1990  17.24  17.24  17.24  17.24     Low  1990
1     01/03/1990  18.19  18.19  18.19  18.19     Low  1990
2     01/04/1990  19.22  19.22  19.22  19.22     Low  1990
3     01/05/1990  20.11  20.11  20.11  20.11  Medium  1990
4     01/08/1990  20.26  20.26  20.26  20.26  Medium  1990
...          ...    ...    ...    ...    ...     ...   ...
8572  12/29/2023  12.55  13.19  12.36  12.45     Low  2023
8573  01/02/2024  13.22  14.23  13.10  13.20     Low  2024
8574  01/03/2024  13.35  14.22  13.33  14.04     Low  2024
8575  01/04/2024  13.93  14.20  13.64  14.13     Low  2024
8576  01/05/2024  14.24  14.58  13.29  13.35     Low  2024

[8577 rows x 7 columns]

In [4]:
# Temporalmente eliminamos las columnas 'Level' y 'Year' para evitar NaN en el df
df = df.drop(['Level', 'Year'], axis=1)

# Agregamos la nueva fila solicitada
new_row = pd.DataFrame({'DATE': ['01/06/2024'],  
                        'OPEN': [14.27],            
                        'HIGH': [14.61],            
                        'LOW': [13.32],           
                        'CLOSE': [13.38]})      

# Agregamos la nueva fila al DataFrame existente
df = pd.concat([df, new_row], ignore_index=True)

# Recategorizamos 'Level' y 'Year' después de agregar la nueva fila
df['Level'] = pd.cut(df['CLOSE'], bins=[-float('inf'), 20, 30, float('inf')],
                                  labels=['Low', 'Medium', 'High'])
df['Year'] = pd.to_datetime(df['DATE']).dt.year
df

            DATE   OPEN   HIGH    LOW  CLOSE   Level  Year
0     01/02/1990  17.24  17.24  17.24  17.24     Low  1990
1     01/03/1990  18.19  18.19  18.19  18.19     Low  1990
2     01/04/1990  19.22  19.22  19.22  19.22     Low  1990
3     01/05/1990  20.11  20.11  20.11  20.11  Medium  1990
4     01/08/1990  20.26  20.26  20.26  20.26  Medium  1990
...          ...    ...    ...    ...    ...     ...   ...
8573  01/02/2024  13.22  14.23  13.10  13.20     Low  2024
8574  01/03/2024  13.35  14.22  13.33  14.04     Low  2024
8575  01/04/2024  13.93  14.20  13.64  14.13     Low  2024
8576  01/05/2024  14.24  14.58  13.29  13.35     Low  2024
8577  01/06/2024  14.27  14.61  13.32  13.38     Low  2024

[8578 rows x 7 columns]

In [6]:
# Calculamos el promedio de la columna 'Close' para cada 'Year'
average_close_by_year = df.groupby('Year')['CLOSE'].mean().round(2)
average_close_by_year

Year
1990    23.06
1991    18.37
1992    15.45
1993    12.69
1994    13.93
1995    12.39
1996    16.44
1997    22.36
1998    25.60
1999    24.37
2000    23.32
2001    25.75
2002    27.29
2003    21.98
2004    15.48
2005    12.81
2006    12.81
2007    17.54
2008    32.70
2009    31.48
2010    22.55
2011    24.20
2012    17.80
2013    14.23
2014    14.18
2015    16.67
2016    15.83
2017    11.09
2018    16.64
2019    15.39
2020    29.25
2021    19.66
2022    25.64
2023    16.85
2024    13.62
Name: CLOSE, dtype: float64

In [7]:
# Contamos el número de días con niveles 'High', 'Medium' y 'Low'
count_levels = df.groupby('Level').size()
count_levels

Level
Low       5276
Medium    2582
High       720
dtype: int64