# 1 Assignment 2

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [39]:
import numpy as np
import pandas as pd

In [17]:
#Pregunta1

f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
f_list

[nan, nan, 'Austria', 'Germany', nan, 'Pakistan', 'np.nan', nan]

In [18]:
type(f_list)

list

In [19]:
data = pd.Series([np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ])
data
#Se observa que los índices 0, 1, 4 y 7 contienen el NaN.

0         NaN
1         NaN
2     Austria
3     Germany
4         NaN
5    Pakistan
6      np.nan
7         NaN
dtype: object

In [20]:
#Pregunta 2
p2_list = [ 2 , 3, 4, 5 ]
p2_list.extend(p2_list + p2_list + p2_list)
p2_list

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [21]:
#Pregunta 3
print(len(f_list)) # Imprimir la longitud de f_list

8

In [22]:
#Pregunta 4
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
print(' '.join(text1))

My teacher assistant is so boring.

In [23]:
#Pregunta 5
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring,']
text1.extend(['but', 'is', 'very', 'funny.']) # Extender la lista con palabras adicionales
text1
print(' '.join(text1))# Imprimir la frase utilizando join

My teacher assistant is so boring, but is very funny.

In [24]:
#Pregunta 6
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 

max_value = max(values1)
max_value

max_index = values1.index(max_value)
max_index
# Imprimir el valor máximo y su índice
print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")

The max value of values1 is 86 and is located in the 0 index.

In [25]:
min_value = min(values1)
min_value
min_index = values1.index(min_value)
min_index
# Imprimir el valor mínimo y su índice
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The min value of values1 is 0 and is located in the 7 index.

In [26]:
#Pregunta 7
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

# Obtener las listas de nombres y apellidos usando map y split
names = list(map(lambda x: x.split(", ")[1], last_and_name)) #La función split(", ") divide cada elemento de la lista last_and_name
last_names = list(map(lambda x: x.split(", ")[0], last_and_name)) #La función map extrae la lista de nombres y apellidos

# Imprimir las listas resultantes
print("Names:", names)
print("Last Names:", last_names)

Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
Last Names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

In [27]:
#Pregunta 8
students_without_email = filter(lambda x: x[1] == "", zip(last_and_name, emails)) #zip combina las listas last_and_names con emails para luego con el filter seleccionar a los estudiantes sin correo.

last_names_without_email = list(map(lambda x: x[0].split(", ")[0], students_without_email))# Extraer apellidos de estudiantes sin correo electrónico usando map y split

print("Last names of students who do not have email:", last_names_without_email)

Last names of students who do not have email: ['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [29]:
#PREGUNTA 1

str1 = 'I am                            too                                                        old'

# Paso 1: Dividimos la cadena en una lista de palabras.
words_list = str1.split()

# Paso 2: Filtramos las cadenas vacías de la lista con la función lambda que verifica si una palabra no es una cadena vacía.
filtered_words = filter(lambda x: x.strip() != '', words_list)

# Paso 3: Unimos las palabras filtradas nuevamente en una cadena con un espacio simple como separador.
result_str = ' '.join(filtered_words)

# Print de resultados
print(result_str)

I am too old

In [50]:
#PREGUNTA 2
# Se obtiene el número de letras en la cadena
num_letters = len([char for char in str1 if char.isalpha()])

# Print del resultado
print("Número de letras en la cadena:", num_letters)

Número de letras en la cadena: 9

In [51]:
#PREGUNTA 3
num_spaces = len([char for char in str1 if char.isspace()])
print("Number of blank spaces in the string:", num_spaces)

Number of blank spaces in the string: 85

In [46]:
#PREGUNTA 4
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]
# Utilizamos un mapa con una función lambda para encontrar la posición de '@' en cada dirección de correo electrónico.
positions = list(map(lambda email: email.find('@'), emails))
print("Positions of '@' in each email:", positions)

Positions of '@' in each email: [9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [47]:
#PREGUNTA 5
# Utilizamos la función map con una función lambda para verificar si ".edu." existe en cada dirección de correo electrónico.
contains_edu = list(map(lambda email: ".edu." in email, emails))
print("List of Booleans indicating if '.edu.' exists in each email:", contains_edu)

List of Booleans indicating if '.edu.' exists in each email: [True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [48]:
#PREGUNTA 6
# Utilizamos la función map con una función lambda para obtener la subcadena antes del primer punto en cada caso.
substring_before_dot = list(map(lambda email: email[:email.find('.')], emails))
# Contamos cuántos de ellos contienen el símbolo @ utilizando la función sum.
count_with_at = sum('@' in substring for substring in substring_before_dot)
print("List of substrings before the first dot:", substring_before_dot)
print("Number of them containing '@':", count_with_at)

List of substrings before the first dot: ['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']
Number of them containing '@': 14

## 1.4 Pandas

You can and should always ask ChatGPT, BARD, Bing, etc.
In this exercise, you will work with financial data. Follow the steps below:

1. Load Data:
   Load the financial data available at this URL:    https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv
   Use `pd.read_csv()` adn the link to load the data into a DataFrame.

2. Explore Data:
   a) Display the first five rows of the DataFrame.
   b) Display the summary statistics of the DataFrame.

3. Add Columns:
   a) Add a new column 'Level' that categorizes the 'Close' column values into 'Low' (< 20), 'Medium' (20-30), and 'High' (>30). You need to make a filter to make this categorization. You can see below some suggestions how to do it.
   b) Add a new column 'Year' extracted from the 'Date' column. You need to work with dates. You can do it directly workiwith the column splitting it or changing it to date format an dfollowing the below suggestion. 

4. Add Rows:
   a) Add a new row with a date of your choice and fill the other columns with appropriate values. 

5. Analysis:
   a) Calculate the average of the column 'Close' for each 'Year'. You need to group for this task.
   b) Count the number of 'High', 'Medium', and 'Low'  Level days in the data.

Suggestions:
   - Use `pd.cut()` for categorizing 'Close' values.
   - Use `pd.to_datetime()` and `dt.year` to extract the year from a date.
   - Use `DataFrame.append()` or `pd.concat()` to add rows.
   - Use `groupby()` for aggregation tasks.

In [35]:
# 1) Importando la data usando la librería pandas mostrando las 5 primeras filas
import pandas as pd
data = pd.read_csv(r'C:\Users\User\Downloads\assingment 2\vix-daily.csv')
print(data.head())

         DATE   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26

In [36]:
#2) Resumen estadístico usando data.describe
resumen_est = data.describe()
print(resumen_est)

              OPEN         HIGH          LOW        CLOSE
count  8576.000000  8576.000000  8576.000000  8576.000000
mean     19.667087    20.475051    18.915540    19.581101
std       7.979316     8.440179     7.470016     7.906388
min       9.010000     9.310000     8.560000     9.140000
25%      13.937500    14.540000    13.407500    13.880000
50%      17.795000    18.470000    17.220000    17.760000
75%      23.102500    23.960000    22.322500    22.990000
max      82.690000    89.530000    72.760000    82.690000

In [37]:
# PREGUNTA 3

# Se añade la columna Level utilizando pd.cut()
bins = [-float('inf'), 20, 30, float('inf')]
labels = ['Low', 'Medium', 'High']
data['Level'] = pd.cut(data['CLOSE'], bins=bins, labels=labels, right=False)

# Se convierte la columna DATE a formato de fecha y extraer el año
data['DATE'] = pd.to_datetime(data['DATE'])
data['Year'] = data['DATE'].dt.year

#PREGUNTA 4

# Se añade una nueva fila con una fecha ficticia. En mi caso la siguiente:
nueva_fila = pd.DataFrame({'DATE': ['01/15/2024'], 'OPEN': 25.0, 'HIGH': 26.0, 'LOW': 24.5, 'CLOSE': 25.5}, index=[len(data)])
data = data.append(nueva_fila, ignore_index=True)

# Print de resultados
print("DataFrame con nuevas columnas y fila:")
print(data.head())

DataFrame con nuevas columnas y fila:
                  DATE   OPEN   HIGH    LOW  CLOSE   Level    Year
0  1990-01-02 00:00:00  17.24  17.24  17.24  17.24     Low  1990.0
1  1990-01-03 00:00:00  18.19  18.19  18.19  18.19     Low  1990.0
2  1990-01-04 00:00:00  19.22  19.22  19.22  19.22     Low  1990.0
3  1990-01-05 00:00:00  20.11  20.11  20.11  20.11  Medium  1990.0
4  1990-01-08 00:00:00  20.26  20.26  20.26  20.26  Medium  1990.0

C:\Users\User\AppData\Local\Temp\ipykernel_10156\3244924114.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(nueva_fila, ignore_index=True)

In [38]:
#PREGUNTA 5 (Análisis)

# Se calcula el promedio de la columna CLOSE para cada año
promedio_por_anio = data.groupby('Year')['CLOSE'].mean()

# Se calcula el número de días High, Medium y Low
conteo_niveles = data['Level'].value_counts()

#Print de resultados
print("\nPromedio de 'CLOSE' por año:")
print(promedio_por_anio)

print("\nConteo de niveles:")
print(conteo_niveles)

Promedio de 'CLOSE' por año:
Year
1990.0    23.063478
1991.0    18.373373
1992.0    15.452047
1993.0    12.686245
1994.0    13.925516
1995.0    12.388770
1996.0    16.442165
1997.0    22.363984
1998.0    25.602976
1999.0    24.371912
2000.0    23.315000
2001.0    25.749677
2002.0    27.292460
2003.0    21.982857
2004.0    15.479644
2005.0    12.807063
2006.0    12.810320
2007.0    17.535936
2008.0    32.695534
2009.0    31.479008
2010.0    22.548889
2011.0    24.202579
2012.0    17.801640
2013.0    14.230119
2014.0    14.175992
2015.0    16.674087
2016.0    15.825635
2017.0    11.090239
2018.0    16.639841
2019.0    15.387540
2020.0    29.251304
2021.0    19.656151
2022.0    25.637148
2023.0    16.849027
2024.0    13.790000
Name: CLOSE, dtype: float64

Conteo de niveles:
Low       5271
Medium    2583
High       722
Name: Level, dtype: int64