In [39]:
#Assigment 2
##1.2. Lists

###1.2.1.

f_list
# Given list
f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]

# Find the indices of np.nan values
nan_indices = [index for index, value in enumerate(f_list) if isinstance(value, (float, np.float64)) and np.isnan(value)]

# Print the indices: Using f-strings, the print statement generates a message that includes the indices of the np.nan values found in the list. The join function is used to concatenate the indices into a comma-separated string for better readability. The result is printed to the console.
print(f'The indices {", ".join(map(str, nan_indices))} have np.nan values.')

The indices 0, 1, 4, 7 have np.nan values.

In [40]:
###1.2.2

p2_list = [ 2 , 3, 4, 5 ]
# Replicate the values four times, it called copy list.The * operator is used to replicate the elements of p2_list four times. This operation creates a new list called copy_list where the elements of p2_list are repeated in the order they appear.
copy_list = p2_list * 4

# Print the result
print(copy_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [27]:
###1.2.3.

#The len() function is applied to the list f_list to determine the number of elements in the list. The result is stored in the variable list_length.
len(f_list)

8

In [28]:
###1.2.4.

text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

#The join() method is applied to concatenate the elements of text1 into a single string. The space character (' ') is used as a separator between the words.
result_string = ' '.join(text1)

# Print the result
print(result_string)

My teacher assistant is so boring.

In [29]:
###1.2.5.

text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

# Modify the sentence using join.Modify Excluding the last element (using text1[:-1]). The space character (' ') is used as a separator between the words. After joining, a comma and the phrase ", but is very funny." are appended to the result string.
result_string = ' '.join(text1[:-1]) + ', but is very funny.'

# Print the result
print(result_string)

My teacher assistant is so, but is very funny.

In [31]:
###1.2.6.

values1 = [86, 86, 85, 85, 85, 83, 23, 0, 84, 1]

#The max() function is used to find the maximum value in the list, and index() is used to find its index in the list. 
max_value = max(values1)
max_index = values1.index(max_value)

#The min() function is used to find the minimum value in the list, and index() is used to find its index in the list.
min_value = min(values1)
min_index = values1.index(min_value)

print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [56]:
###1.2.7

#The map() function is used along with a lambda function to apply the operation of splitting each full name and extracting the second part (first name). The result is a list of first names stored in the names variable.
names = list(map(lambda x: x.split(", ")[1], last_and_name))
last_names = list(map(lambda x: x.split(", ")[0], last_and_name))

In [57]:
###1.2.8.

emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

#The filter() function is used to remove empty strings from the list of emails. Then, the map() function is applied with a lambda function to extract the last names by splitting each email at the dot (.) and taking the first part. The result is a list of last names stored in the last_names variable.
last_names = list(map(lambda x: x.split(" ")[0], filter(lambda x: x != "", emails)))

In [40]:
##1.3. Strings

In [30]:
###Question 1:

# Split removes all the duplicated blank spaces in the given string.
str1 = 'I am                            too                                                        old'
words = str1.split()
#Join removes extra whitespaces between words in the original string.
new_str = ' '.join(words)

print(new_str)

I am too old

In [32]:
###Question 2:

str1 = 'I am                            too                                                        old'
# We created sum() function, that is applied to the resulting list of Boolean values.
#The isalpha() method providing a True outcome if the character is a letter and False otherwise.

num_letters = sum(char.isalpha() for char in str1)

# Print
print(f"The number of letters in the string is: {num_letters}")

The number of letters in the string is: 9

In [50]:
###Question 3:

str1 = 'I am                            too                                                        old'
words = str1.split()
new_str = ' '.join(words)
num_spaces = new_str.count(' ')

print(f"The number of spaces in the corrected string is: {num_spaces}")

The number of spaces in the corrected string is: 3

In [51]:
###Question 4:

emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

# The find() method is utilized to determine the position of the '@'. The outcome is a map object, and this is subsequently converted into a list using the list() function.
at_positions = list(map(lambda email: email.find('@'), emails))

#Print result
print("Positions of '@' in each email:", at_positions)

Positions of '@' in each email: [9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [37]:
###Question 5
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

# The lambda function checks whether the substring ".edu." is present in each email address.
#After that, we obtain The map function,this generates a view that is iterable and represents the outcomes of applying a function to each element in the list. To print the result, the map object is converted into a list using list().
contains_edu = list(map(lambda email: ".edu." in email, emails))

# Print result
print(contains_edu)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [38]:
###Question 6
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

#Used map and split;the sum() function is used in combination with a generator expression to count the number of substrings in before_first_dot that contain the '@'.
before_first_dot = list(map(lambda email: email.split('.')[0], emails))
count_with_at = sum('@' in email for email in before_first_dot)

#Print each result
print("Strings before the first dot:", before_first_dot)
print(f"Number of them containing '@': {count_with_at}")

Strings before the first dot: ['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']
Number of them containing '@': 14

In [ ]:
##1.4

In [3]:
###1.4.1.
import pandas as pd
#The pd.read_csv() function is used to read the CSV file from the specified URL into a Pandas DataFrame.

url = 'https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv'
df = pd.read_csv(url)

In [4]:
###1.4.2.
#Head is commonly used to display the first few rows of the DataFrame.
df.head()

         DATE   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26

In [5]:
df.describe()

              OPEN         HIGH          LOW        CLOSE
count  8580.000000  8580.000000  8580.000000  8580.000000
mean     19.664247    20.471935    18.912749    19.578019
std       7.978549     8.439456     7.469394     7.905835
min       9.010000     9.310000     8.560000     9.140000
25%      13.930000    14.537500    13.400000    13.880000
50%      17.790000    18.460000    17.205000    17.755000
75%      23.092500    23.960000    22.320000    22.990000
max      82.690000    89.530000    72.760000    82.690000

In [14]:
###1.4.3.

def categorize_close(close):
    if close < 20: #  This is the first condition. If the value of close is less than 20, the function returns 'Low'.
        return 'Low' 
        return 'Medium'
    else:
        return 'High'
    
#The apply() method is used on the 'CLOSE' column of the DataFrame (df). It applies the categorize_close function to each 'CLOSE' value, creating a new column called 'Level' with the assigned categories.
df['Level'] = df['CLOSE'].apply(categorize_close)
#The 'DATE' column is converted to a datetime object using pd.to_datetime(). Then, the dt.year attribute is used to extract the year from each date, and a new column 'Year' is created in the DataFrame.df['Year'] = pd.to_datetime(df['DATE']).dt.year
df['Year'] = pd.to_datetime(df['DATE']).dt.year

In [11]:
print(df.columns)

Index(['DATE', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'Level'], dtype='object')

In [36]:
###1.4.4
import pandas as pd



# Load the financial data into a DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv')

# Add a new row with a date of your choice and fill the other columns with appropriate values
new_row = {'Date': '2024-01-13', 'Open': 15.0, 'High': 20.0, 'Low': 10.0, 'Close': 18.0, 'Adj Close': 18.0, 'Volume': 100000}
df = df.append(new_row, ignore_index=True)

# Display the first five rows of the DataFrame
print(df.head())

# Display the summary statistics of the DataFrame
print(df.describe())

         DATE   OPEN   HIGH    LOW  CLOSE  Adj Close  Close Date  High  Low  \
0  01/02/1990  17.24  17.24  17.24  17.24        NaN    NaN  NaN   NaN  NaN
1  01/03/1990  18.19  18.19  18.19  18.19        NaN    NaN  NaN   NaN  NaN
2  01/04/1990  19.22  19.22  19.22  19.22        NaN    NaN  NaN   NaN  NaN
3  01/05/1990  20.11  20.11  20.11  20.11        NaN    NaN  NaN   NaN  NaN
4  01/08/1990  20.26  20.26  20.26  20.26        NaN    NaN  NaN   NaN  NaN

   Open  Volume
0   NaN     NaN
1   NaN     NaN
2   NaN     NaN
3   NaN     NaN
4   NaN     NaN
              OPEN         HIGH          LOW        CLOSE  Adj Close  Close  \
count  8580.000000  8580.000000  8580.000000  8580.000000        1.0    1.0
mean     19.664247    20.471935    18.912749    19.578019       18.0   18.0
std       7.978549     8.439456     7.469394     7.905835        NaN    NaN
min       9.010000     9.310000     8.560000     9.140000       18.0   18.0
25%      13.930000    14.537500    13.400000    13.880000       18.0   18.0
50%      17.790000    18.460000    17.205000    17.755000       18.0   18.0
75%      23.092500    23.960000    22.320000    22.990000       18.0   18.0
max      82.690000    89.530000    72.760000    82.690000       18.0   18.0

       High   Low  Open    Volume
count   1.0   1.0   1.0       1.0
mean   20.0  10.0  15.0  100000.0
std     NaN   NaN   NaN       NaN
min    20.0  10.0  15.0  100000.0
25%    20.0  10.0  15.0  100000.0
50%    20.0  10.0  15.0  100000.0
75%    20.0  10.0  15.0  100000.0
max    20.0  10.0  15.0  100000.0

C:\Users\Maricielo\AppData\Local\Temp\ipykernel_16532\2782873802.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

In [35]:
###1.4.5 
# The 'Date' column is converted to a datetime object using pd.to_datetime(). Then, the dt.year attribute is used to extract the year from each date, and a new column 'Year' is created in the DataFrame.
df['Year'] = pd.to_datetime(df['Date']).dt.year
df.groupby('Year')['Close'].mean()
#The code involves defining bins and labels to categorize 'Close' values, using the bins list to set bin edges and the labels list to assign corresponding categories. The pd.cut() function is then applied to the 'Close' column of the DataFrame, creating a new 'Level' column that categorizes numerical values into specified bins.
bins = [0, 20, 30, float('inf')]
labels = ['Low', 'Medium', 'High']

#The DataFrame is grouped by the 'Level' column, and the count() function is used to tally occurrences of each category. The resulting level_counts variable holds a Series detailing the count of occurrences for each category ('Low', 'Medium', 'High'), offering insights into the distribution of 'Close' values across different levels.
df['Level'] = pd.cut(df['Close'], bins=bins, labels=labels)
df.groupby('Level')['Level'].count()

Level
Low       1
Medium    0
High      0
Name: Level, dtype: int64