In [1]:
##Ass3

In [3]:
#Exercise 1: NUMPY

In [2]:
#We get the numpy at the document. We will use them at all six exercises.
import numpy as np

In [4]:
##EXERCISE 1
#We create the asked numpy "np1".
np1 = np.arange( 200, 750)
np1

array([200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303,
       304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316,
       317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329,
       330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342,
       343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355,
       356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368,
       369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381,
       382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394,
       395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407,
       408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420,
       421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433,
       434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446,
       447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459,
       460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472,
       473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485,
       486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498,
       499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511,
       512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524,
       525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537,
       538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550,
       551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563,
       564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576,
       577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589,
       590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602,
       603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615,
       616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628,
       629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641,
       642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654,
       655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667,
       668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680,
       681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693,
       694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706,
       707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719,
       720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732,
       733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745,
       746, 747, 748, 749])

In [5]:
#Here, we concentrate the values of np1 at "a". Then, we identify all the even numbers using the filter and we create an object called "even_numbers" with them. Finally, we replace them with "100".
a = np.array(np1)
even_numbers = (a%2 == 0)
a[even_numbers] = 100
a

array([100, 201, 100, 203, 100, 205, 100, 207, 100, 209, 100, 211, 100,
       213, 100, 215, 100, 217, 100, 219, 100, 221, 100, 223, 100, 225,
       100, 227, 100, 229, 100, 231, 100, 233, 100, 235, 100, 237, 100,
       239, 100, 241, 100, 243, 100, 245, 100, 247, 100, 249, 100, 251,
       100, 253, 100, 255, 100, 257, 100, 259, 100, 261, 100, 263, 100,
       265, 100, 267, 100, 269, 100, 271, 100, 273, 100, 275, 100, 277,
       100, 279, 100, 281, 100, 283, 100, 285, 100, 287, 100, 289, 100,
       291, 100, 293, 100, 295, 100, 297, 100, 299, 100, 301, 100, 303,
       100, 305, 100, 307, 100, 309, 100, 311, 100, 313, 100, 315, 100,
       317, 100, 319, 100, 321, 100, 323, 100, 325, 100, 327, 100, 329,
       100, 331, 100, 333, 100, 335, 100, 337, 100, 339, 100, 341, 100,
       343, 100, 345, 100, 347, 100, 349, 100, 351, 100, 353, 100, 355,
       100, 357, 100, 359, 100, 361, 100, 363, 100, 365, 100, 367, 100,
       369, 100, 371, 100, 373, 100, 375, 100, 377, 100, 379, 100, 381,
       100, 383, 100, 385, 100, 387, 100, 389, 100, 391, 100, 393, 100,
       395, 100, 397, 100, 399, 100, 401, 100, 403, 100, 405, 100, 407,
       100, 409, 100, 411, 100, 413, 100, 415, 100, 417, 100, 419, 100,
       421, 100, 423, 100, 425, 100, 427, 100, 429, 100, 431, 100, 433,
       100, 435, 100, 437, 100, 439, 100, 441, 100, 443, 100, 445, 100,
       447, 100, 449, 100, 451, 100, 453, 100, 455, 100, 457, 100, 459,
       100, 461, 100, 463, 100, 465, 100, 467, 100, 469, 100, 471, 100,
       473, 100, 475, 100, 477, 100, 479, 100, 481, 100, 483, 100, 485,
       100, 487, 100, 489, 100, 491, 100, 493, 100, 495, 100, 497, 100,
       499, 100, 501, 100, 503, 100, 505, 100, 507, 100, 509, 100, 511,
       100, 513, 100, 515, 100, 517, 100, 519, 100, 521, 100, 523, 100,
       525, 100, 527, 100, 529, 100, 531, 100, 533, 100, 535, 100, 537,
       100, 539, 100, 541, 100, 543, 100, 545, 100, 547, 100, 549, 100,
       551, 100, 553, 100, 555, 100, 557, 100, 559, 100, 561, 100, 563,
       100, 565, 100, 567, 100, 569, 100, 571, 100, 573, 100, 575, 100,
       577, 100, 579, 100, 581, 100, 583, 100, 585, 100, 587, 100, 589,
       100, 591, 100, 593, 100, 595, 100, 597, 100, 599, 100, 601, 100,
       603, 100, 605, 100, 607, 100, 609, 100, 611, 100, 613, 100, 615,
       100, 617, 100, 619, 100, 621, 100, 623, 100, 625, 100, 627, 100,
       629, 100, 631, 100, 633, 100, 635, 100, 637, 100, 639, 100, 641,
       100, 643, 100, 645, 100, 647, 100, 649, 100, 651, 100, 653, 100,
       655, 100, 657, 100, 659, 100, 661, 100, 663, 100, 665, 100, 667,
       100, 669, 100, 671, 100, 673, 100, 675, 100, 677, 100, 679, 100,
       681, 100, 683, 100, 685, 100, 687, 100, 689, 100, 691, 100, 693,
       100, 695, 100, 697, 100, 699, 100, 701, 100, 703, 100, 705, 100,
       707, 100, 709, 100, 711, 100, 713, 100, 715, 100, 717, 100, 719,
       100, 721, 100, 723, 100, 725, 100, 727, 100, 729, 100, 731, 100,
       733, 100, 735, 100, 737, 100, 739, 100, 741, 100, 743, 100, 745,
       100, 747, 100, 749])

In [6]:
##EXERCISE 2
#We create a np.arange from 0 to 8 (as the last number will not get accounted, we put 9)
threexthree = np.arange(0, 9) 
#Now, we divide the np.arange using the function reshape to get the form of a 3x3.
threexthree=threexthree.reshape(3, 3) 
print(threexthree)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [7]:
##EXERCISE 3
#The code used works as follow:
#We wish to get a group of four values. So, the first parenthesis goes from 1 to 5. We remember that 5 will then be excluded, because it is the maximum and values just go in a step of 1 by 1).
#After, we get a [None, :]. This, united to the [:, None] at last. Both mark the beginning and end of the array. The ":" show the continuity of the array, as we just need to create an array 1-dimensional.
#Then, it appears a +1. This means that every value of every row of this np.arange will be added by 1, realted to their previous row.
#Also, it is specified the number "7", because to arrive at the [ 7,  8,  9, 10] asked, we need the first arrangement of 4 values repeated 7 times. Another way to interpretate this is that the first value of the first row (1) need to be multiplied by 7 times so it arrives to the number "7" at the beginning of the group.

Z = np.arange(1,5)[None, :] + 1*np.arange(7)[:, None]
Z

array([[ 1,  2,  3,  4],
       [ 2,  3,  4,  5],
       [ 3,  4,  5,  6],
       [ 4,  5,  6,  7],
       [ 5,  6,  7,  8],
       [ 6,  7,  8,  9],
       [ 7,  8,  9, 10]])

In [8]:
#We use the previous code to concatenate the value using "np.concatenate" and we create the object R.

R=np.concatenate(np.arange(1,5)[None, :] + 1*np.arange(7)[:, None])
R

array([ 1,  2,  3,  4,  2,  3,  4,  5,  3,  4,  5,  6,  4,  5,  6,  7,  5,
        6,  7,  8,  6,  7,  8,  9,  7,  8,  9, 10])

In [9]:
##EXERCISE 4

#Here, we create a matrix of three blocks (called "threexthreexthree", each of three lines and every line with three numbers. 
#For this, we use random numbers with the np.random function.
#We print the result.

threexthreexthree = np.random.random((3,3,3)) 
print(threexthreexthree)

[[[0.11414026 0.01263018 0.00535288]
  [0.07070731 0.84896948 0.55039802]
  [0.9804887  0.92523155 0.23255636]]

 [[0.240877   0.19933928 0.041556  ]
  [0.10011276 0.94013272 0.74437989]
  [0.86278762 0.75342519 0.54873338]]

 [[0.77628047 0.74196722 0.30820893]
  [0.45244274 0.31045595 0.17400479]
  [0.94639845 0.33206799 0.59720444]]]

In [10]:
##EXERCISE 5
np.nan == np.nan
#This expression results false because Nan has two meaning at Python. 
#At the beginning of this file, we specified that np was numpy. 
#This means that NAN, in one hand, is a float value, which is a value that is not defined yet, but will get (sooner or later) a number, text, etc. 
#Nevertheless, on the other hand, Nan is "Not a number". Here, it says that the value is unexistant.
#So, in case we affirm that these two values are equal, that would be false. As one value is not defined yet, we can't say it is equal to a value that is already a blanck space. 
#In other words, a value available to fill is not the same to one that is already defined to be empty.

False

In [11]:
##EXERCISE 6
#We create the object np2 with the instructions of the assignement.
np2 = np.random.normal( 50 , 4, 300)
np2

array([53.44196152, 59.7441832 , 46.79590657, 48.19750258, 48.8669081 ,
       49.99541981, 47.75322714, 50.37527837, 50.66799832, 45.71656909,
       42.33258355, 45.65209816, 50.74918233, 54.77722738, 49.22045316,
       57.33332323, 55.38856761, 49.25677853, 47.78648575, 47.05689434,
       55.75553066, 47.23498384, 43.42444977, 51.66798927, 53.43665304,
       50.13284579, 51.10940551, 49.71189366, 46.36257637, 52.30510344,
       52.5967753 , 52.76631871, 50.1039798 , 41.16087588, 61.78004997,
       43.5652241 , 41.57764983, 51.07128918, 45.64850235, 48.1409093 ,
       47.06806106, 54.96056278, 46.79747442, 49.20383416, 50.99808381,
       58.5544553 , 50.18982611, 44.11931188, 49.44912473, 48.9253259 ,
       54.05097149, 51.1480894 , 54.7781548 , 45.26706077, 46.95579481,
       48.85676862, 52.52446957, 59.14657948, 51.81323353, 43.65123359,
       46.29966184, 51.74132489, 46.60613169, 52.04536426, 50.75178843,
       50.87163876, 52.9230479 , 51.45596754, 63.24184504, 52.63324391,
       43.70609717, 46.20626556, 47.63683859, 58.84010088, 59.67149525,
       48.87766428, 48.2853536 , 53.7113384 , 48.40622584, 46.53357253,
       46.55298587, 44.30839635, 54.28920957, 47.34492815, 48.81422699,
       52.36802297, 41.24284824, 38.0970738 , 54.10014119, 44.09298414,
       50.96206775, 51.15994631, 47.4437054 , 45.19116613, 46.30597786,
       52.14951367, 48.87749605, 46.43753193, 50.22762379, 47.56258059,
       52.10629812, 53.42196355, 42.91685144, 51.38200267, 45.32792437,
       50.59371832, 54.7422441 , 48.51985843, 47.97444084, 59.27174577,
       50.52750443, 49.10640846, 46.51334642, 49.14798621, 53.95448727,
       51.01038158, 45.04900278, 47.28072883, 44.46295446, 50.127093  ,
       53.13634968, 52.2360688 , 53.15223739, 46.89805743, 51.40917969,
       42.7973356 , 51.10634494, 48.800365  , 47.57886322, 48.29407486,
       46.07937583, 50.19048598, 46.02030883, 50.35166512, 50.21618127,
       49.88606106, 49.20558107, 51.95723184, 47.04783096, 50.14066619,
       46.74153216, 47.97821467, 48.16370971, 47.04329175, 47.73561196,
       49.51079139, 45.40328845, 51.30949039, 48.61978317, 58.71770432,
       43.59570547, 58.10333214, 43.99844202, 50.91273147, 52.2782646 ,
       54.53955401, 46.06706751, 48.4093052 , 48.98729495, 48.17556089,
       49.86030517, 52.31286119, 46.6641981 , 50.5090862 , 58.12849622,
       49.43990402, 43.58017828, 47.13802432, 44.07100649, 49.35840739,
       36.87999646, 41.68045034, 46.31152879, 43.97711271, 49.26348801,
       49.81007436, 47.74822612, 49.33155748, 49.11109499, 54.00280584,
       51.30212733, 46.86306231, 50.69631144, 46.85272495, 54.52035736,
       50.10705168, 41.70307944, 47.74557614, 46.72709558, 47.72873614,
       51.14622807, 40.95982136, 52.97703855, 48.63030448, 48.15974381,
       47.92409416, 49.77069988, 48.99337432, 49.68882364, 47.00746543,
       55.21007397, 49.86932338, 53.83250672, 44.89636177, 47.26326094,
       48.37414314, 44.9475112 , 55.55131449, 61.54452137, 52.91624224,
       45.46303989, 53.67698264, 48.67985235, 51.11982636, 55.10220801,
       51.60310965, 43.38816973, 55.56338401, 44.06796604, 48.26753669,
       52.08817124, 51.88590913, 52.64265282, 52.63287265, 60.213675  ,
       44.33547686, 55.70511573, 56.15329639, 54.12327591, 55.24629845,
       52.89373918, 47.36786756, 52.6161849 , 54.56094001, 49.16338394,
       51.95381435, 49.43797675, 52.03283638, 44.62094133, 52.71176267,
       50.72790805, 49.59659579, 49.92773449, 48.12620443, 51.83899085,
       46.79051788, 49.97483932, 52.00132141, 52.62160248, 50.77034517,
       52.06325451, 54.18726762, 49.59933384, 54.81993984, 50.57863682,
       54.33649099, 60.23919264, 51.45512403, 48.10823864, 45.45151597,
       54.41770117, 48.47480081, 51.4695309 , 51.66999058, 55.96904875,
       51.16812838, 53.763526  , 52.57808404, 44.30099204, 52.13880501,
       53.94414565, 41.77522403, 52.71960925, 51.34850208, 52.90110481,
       48.37882462, 51.77039704, 52.34552402, 54.35526888, 49.63776683,
       50.36257204, 51.55671278, 44.06797823, 49.00827076, 48.83160518,
       51.26502496, 49.89816978, 55.44113518, 47.55529399, 51.37858585,
       48.24739693, 53.17859093, 48.67393275, 49.54455754, 54.06801849,
       50.86907144, 55.21365183, 51.56099265, 50.99762209, 56.48409813])

In [12]:
#We get the mean of this array with the function "np.mean"
mean = np.mean(np2)
mean
#We use f-string to release the message with the mean.
F"The mean of np2 is {mean}"

'The mean of np2 is 49.97425533826054'

In [13]:
#We get the standard deviation of this array with the function "np.var"
dev = np.var(np2)
dev
#We use f-string to release the message with the deviation.
F"The standard deviation of np2 is {dev}"

'The standard deviation of np2 is 16.90017245573983'

In [14]:
#Exercise 2: PANDAS

In [3]:
##read REC0111 data
#!pip install savReaderWriter
import savReaderWriter as sav
import pandas as pd

In [2]:
#Debido a que es la primera vez trabajando con una base de datos se nos pide instalar esta extensión de python para poder 
#importar la base de datos
conda install -c conda-forge pyreadstat

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working... failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Lenovo\anaconda3

  added / updated specs:
    - pyreadstat


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.12.0               |   py39hcbf5309_0         1.0 MB  conda-forge
    pyreadstat-1.1.7           |   py39h94cc256_0         1.3 MB  conda-forge
    python_abi-3.9             |           2_cp39           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.3 MB

The following NEW packages will be INSTALLED:

  pyreadstat         conda-forge/win-64::pyreadstat-1.1.7-py39h94cc256_0
  python_abi         conda-forge/win-64::python_abi-3.9-2_cp39

The following packages will be UPDATED:

  conda              pkgs/main::conda-4.10.3-py39haa95532_0 --> conda-forge::conda-4.12.0-py39hcbf5309_0



Downloading and Extracting Packages

conda-4.12.0         | 1.0 MB    |            |   0%
conda-4.12.0         | 1.0 MB    | 1          |   2%
conda-4.12.0         | 1.0 MB    | #2         |  12%
conda-4.12.0         | 1.0 MB    | ###        |  31%
conda-4.12.0         | 1.0 MB    | #######    |  71%
conda-4.12.0         | 1.0 MB    | #########  |  91%
conda-4.12.0         | 1.0 MB    | ########## | 100%

pyreadstat-1.1.7     | 1.3 MB    |            |   0%
pyreadstat-1.1.7     | 1.3 MB    | 1          |   1%
pyreadstat-1.1.7     | 1.3 MB    | #######1   |  71%
pyreadstat-1.1.7     | 1.3 MB    | ########## | 100%
pyreadstat-1.1.7     | 1.3 MB    | ########## | 100%

python_abi-3.9       | 4 KB      |            |   0%
python_abi-3.9       | 4 KB      | ########## | 100%
python_abi-3.9       | 4 KB      | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 4.10.3
  latest version: 23.1.0

Please update conda by running

    $ conda update -n base -c defaults conda

In [18]:
conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Lenovo\anaconda3

  added / updated specs:
    - conda


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-package-handling-2.0.2|   py39haa95532_0         286 KB
    conda-package-streaming-0.7.0|   py39haa95532_0          27 KB
    pyjwt-2.4.0                |   py39haa95532_0          38 KB
    zstandard-0.18.0           |   py39h2bbff1b_0         310 KB
    ------------------------------------------------------------
                                           Total:         661 KB

The following NEW packages will be INSTALLED:

  conda-package-str~ pkgs/main/win-64::conda-package-streaming-0.7.0-py39haa95532_0
  zstandard          pkgs/main/win-64::zstandard-0.18.0-py39h2bbff1b_0

The following packages will be UPDATED:

  conda-package-han~                   1.7.3-py39h8cc25b3_1 --> 2.0.2-py39haa95532_0
  pyjwt                                2.1.0-py39haa95532_0 --> 2.4.0-py39haa95532_0



Downloading and Extracting Packages

zstandard-0.18.0     | 310 KB    |            |   0%
zstandard-0.18.0     | 310 KB    | 5          |   5%
zstandard-0.18.0     | 310 KB    | ########## | 100%
zstandard-0.18.0     | 310 KB    | ########## | 100%

conda-package-handli | 286 KB    |            |   0%
conda-package-handli | 286 KB    | #####      |  50%
conda-package-handli | 286 KB    | ########## | 100%
conda-package-handli | 286 KB    | ########## | 100%

pyjwt-2.4.0          | 38 KB     |            |   0%
pyjwt-2.4.0          | 38 KB     | ########## | 100%
pyjwt-2.4.0          | 38 KB     | ########## | 100%

conda-package-stream | 27 KB     |            |   0%
conda-package-stream | 27 KB     | ########## | 100%
conda-package-stream | 27 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [2]:
#Aquí primero importamos la función para poder leer archivos .sav e importamos la base de datos 
import pandas as pd
import savReaderWriter as sav
rec1 = pd.read_spss( fr"REC0111.sav" )

# Get labels from sav file
with sav.SavHeaderReader( fr"REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()

labels = metadata[3]

In [3]:
# Aquí revisamos las etiquetas de cada columna, así como la información de cada una
labels

{'ID1': 'Año',
 'HHID': 'Identificación Cuestionario del Hogar',
 'CASEID': 'Identificación Cuestionario Individual',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V013': 'Edad actual por grupos de 5 años',
 'V014': 'Integridad de la información para la fecha de nacimiento ',
 'V015': 'Resultado entrevista individual',
 'V017': 'Inicio del calendario, Codificación centenaria de mesesl CMC',
 'V018': 'Columna del mes de la entrevista',
 'V019': 'Duración del calendario',
 'V019A': 'Número de columnas de calendario',
 'V020': 'Muestra alguna vez casada',
 'V021': 'Unidad de muestreo primario - conglomerado',
 'V023': 'Dominio de ejemplo - Departamento',
 'V024': 'Región',
 'V025': 'Tipo de lugar de residencia',
 'V026': 'El lugar de residencia en el que se entrevistó - De Facto',
 'V027': 'Número de visitas',
 'V028': 'Identificación del entrevistador',
 'V029': 'Identificador del digitador',
 'V030': 'Supervisor de campo',
 'V031': 'Editor de campo',
 'V032': 'Editor de la oficina',
 'V033': 'Selección final del área de probabilidad',
 'V034': 'Número de orden del esposo',
 'V040': 'Altitud del conglomerado en metros',
 'V042': 'Selección de hogar para hemoglobina',
 'V043': 'Selección para módulo de estatus de mujeres',
 'V044': 'Selección para módulo de violencia domestica',
 'V000': 'Código y fase del país',
 'Q105DD': 'Dia de nacimeinto de la entrevistada',
 'V101': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V103': 'Lugar de residencia de la infancia',
 'V104': 'Cuanto tiempo tiene viviendo continuamente en el lugar de residencia actual',
 'V105': 'Tipo de lugar de residencia anteriormente',
 'V106': 'Nivel educativo más alto',
 'V107': 'Año/grado de educación más alto aprobado',
 'V113': 'Fuente principal de abasteciemiento de agua potable que utilizan en su hogar para tomar o beber',
 'V115': 'Tiempo para llegar a la fuente de agua',
 'V116': 'Tipo de instalación sanitaria',
 'V119': 'En su hogar tiene: electricidad',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V128': 'Material predominante de las paredes exteriores de la vivienda',
 'V129': 'Material predominante del techo de la vivienda',
 'V130': 'Religión',
 'V131': 'Etnicidad',
 'V133': 'Educación en años simples',
 'V134': 'El lugar en el que se realizó la entrevista  De-facto',
 'V135': 'Residente habitual o visitante',
 'V136': 'Número de miembros del hogar',
 'V137': 'Número de niños de 6 años de edad ',
 'V138': 'Número de mujeres de 15 a 49 años de edad elegibles en el hogar ',
 'V139': 'Región, residencia habitual De-jure',
 'V140': 'Tipo de área de residencia De-jure',
 'V141': 'Lugar de residencia De-jure',
 'V149': 'Logro educativo',
 'V150': 'Relación con el jefe del hogar',
 'V151': 'Sexo del Jefe del Hogar',
 'V152': 'Edad del jefe del hogar',
 'V153': 'En su hogar tiene: teléfono',
 'AWFACTT': 'Factor todas las mujeres - total',
 'AWFACTU': 'Factor todas las mujeres - urbano/rural',
 'AWFACTR': 'Factor todas las mujeres - regional',
 'AWFACTE': 'Factor todas las mujeres - educación',
 'AWFACTW': 'Factor todas las mujeres - índice de riqueza',
 'V155': 'Alfabetización',
 'V156': 'Alguna vez participó en un programa de alfabetización (no incluyendo la escuela primaria)',
 'V157': 'Frecuencia de lectura de un periódico o revista',
 'V158': 'Frecuencia de escuchar radio',
 'V159': 'Frecuencia de ver televisión',
 'V160': 'Baño compartido con otros hogares',
 'V161': 'Tipo de combustible para cocinar',
 'V166': 'Resultados de la prueba del yodo en la sal',
 'V167': 'Número de viajes en los últimos 12 meses',
 'V168': 'Afuera más de un mes en los últimos 12 meses',
 'ML101': 'Tipo de mosquitero que utilizo para dormir última noche',
 'QD333_1': 'Alguna dificultad o limitación permanente para ver, aún usando anteojos',
 'QD333_2': 'Alguna dificultad o limitación permanente para oir, aún usando audífonos',
 'QD333_3': 'Alguna dificultad o limitación permanente para hablar o comunicarse, aún usando la lengua de señas u otro',
 'QD333_4': 'Alguna dificultad o limitación permanente para moverse o caminar para usar brazos y/o piernas',
 'QD333_5': 'Alguna dificultad o limitación permanente para entender o aprender (concentrarse y recordarse)',
 'QD333_6': 'Alguna dificultad o limitación permanente para relacionarse con los demás, por sus pensamientos, sentimientos, emociones o conductas',
 'UBIGEO': 'Código de Ubicación Gegráfica',
 'V022': 'Estratos',
 'V005': 'Factor de ponderacion',
 'V190': 'Índice de riqueza',
 'V191': 'Factor de puntuación del índice de riqueza (5 decimales)',
 'mujeres12a49': 'Mujeres de 12 a 49 años de edad',
 'NCONGLOME': 'Número de Conglomerado (proveniente del marco)'}

In [4]:
#Hacemos una revisión de la base para asegurarnos de que es la correcta
rec1

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.750187,Mujeres de 15 a 49 años de edad,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.676861,Mujeres de 15 a 49 años de edad,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.585333,Mujeres de 15 a 49 años de edad,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.650159,Mujeres de 15 a 49 años de edad,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.644720,Mujeres de 15 a 49 años de edad,15783.0

In [35]:
##EXERCISE 1
#Revisamos si el identificador "CASEID" es único en la base, es decir, nos aseguramos de que este identifique los casos (las filas)
#de manera única
(rec1['CASEID']).is_unique

True

In [36]:
##EXERCISE 2
#Establecemos mediante el método .set_index a CASEID como el nuevo index, el nuevo índice (la posición de cada registro en el
#conjunto de datos) de nuestra dataframe
rec1.set_index('CASEID')

,ID1,HHID,V001,V002,V003,V004,V007,V008,V009,V010,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
CASEID,,,,,,,,,,,,,,,,,,,,,
000100201 2,2019.0,000100201,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0
000100201 3,2019.0,000100201,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
000102801 2,2019.0,000102801,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
000102801 6,2019.0,000102801,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
000104801 2,2019.0,000104801,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325406201 2,2019.0,325406201,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.750187,Mujeres de 15 a 49 años de edad,15783.0
325406301 2,2019.0,325406301,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.676861,Mujeres de 15 a 49 años de edad,15783.0
325407001 2,2019.0,325407001,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.585333,Mujeres de 15 a 49 años de edad,15783.0
325407201 2,2019.0,325407201,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.650159,Mujeres de 15 a 49 años de edad,15783.0
325407401 2,2019.0,325407401,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.644720,Mujeres de 15 a 49 años de edad,15783.0

In [22]:
##EXERCISE 3
#El ejercicio nos pide realizar una filtración de valor, por un lado, de la edad de las encuestadas (15-30) y la zona residencial
#(urbano), si en este caso utilizaramos el método .loc no nos permitiría fitrar un rango de edad con dos condiciones <15 y >30 
#solo perminitía explicitar una de estas condiciones; por ello, usamos el método .query para poder realizar lo antes mencionado

#rec2 = rec1.loc[ (rec1.V012 >15) &  (rec1.V102 == 'Urbano') , : ]
#rec2

rec3= rec1.query("`V012` >= 15 and `V012` <= 30 & `V102`== 'Urbano'")

In [23]:
##Revisamos las primera 30 filas de la columna para asegurarnos de que se realizó la filtración
rec3['V009'].head(n=30)

4      5.0
5     11.0
8      6.0
9      9.0
12     5.0
14     9.0
15     3.0
17     1.0
18    11.0
21     7.0
22    10.0
23     9.0
24     1.0
25     5.0
28    10.0
30    10.0
32     3.0
35     3.0
36     7.0
40     2.0
42     7.0
43     1.0
45     3.0
47     4.0
49    10.0
51    12.0
53     9.0
54     9.0
55     7.0
59     2.0
Name: V009, dtype: float64

In [5]:
##EXERCISE 4
#Primero creamos una copia para no dañar la base principal en nuestro intento
rec4 = rec1.copy()

In [7]:
#Dentro de esta nueva base creamos una nueva columna vacía llamada mes_nac (mes de nacimiento)
rec4['mes_nac'] = rec4['V009'] 
#Para poder reemplazar con valor str los valores numéricos (intg) de la variable mes de nacimiento necesitamos que ambas variables
#sean del mismo tipo, por eso cambiamos el tipo de variable del a str
rec4['mes_nac'] = rec4['mes_nac'].apply(str)

In [9]:
#Finalmente usamos el método .replace para cambiar los valores de la variable
rec4['mes_nac'] = rec4[ 'mes_nac' ].replace(['1.0', '2.0', '3.0', '4.0',
        '5.0', '6.0', '7.0', '8.0', '9.0', '10.0', '11.0', '12.0'],[ 'jan','feb','mar','apr','may','jun','jul','agu','sep','oct','nov','dic'])

In [10]:
rec4['mes_nac'].head(n=30)

0     apr
1     jan
2     jun
3     mar
4     may
5     nov
6     nan
7     nan
8     jun
9     sep
10    agu
11    dic
12    may
13    oct
14    sep
15    mar
16    oct
17    jan
18    nov
19    agu
20    apr
21    jul
22    oct
23    sep
24    jan
25    may
26    sep
27    jul
28    oct
29    apr
Name: mes_nac, dtype: object