# API

## What is a API?

An API (Application Programming Interface) serves as a bridge between different software applications, enabling them to communicate and share data seamlessly. It defines the methods and protocols that allow different pieces of software to interact. APIs specify how different software components should interact, making it easier for developers to use certain functionalities without having to write all the code from scratch. They provide a set of rules for building software applications and are crucial in modern technology, allowing various apps, services, or systems to work together efficiently.

![](./figs/API.png)

## How Does It Work?
The user or programmer needs specific information and queries the API. The query is typically a URL consisting of the following parts: the query domain, the desired output type (usually JSON), and parameters used to filter the required response type. After processing, the user or programmer will usually receive plain text with the requested information.

The following `url_example` can be an example of how an API's URL might look, although this model isn't universal; it heavily depends on the organization, the programming languages they use, the type of database employed, or the internal paradigms within the organization.

```python
Url_Example= "{query domain}/output={output_type}?start_date={start date - param}?end_date={end date - param}"
url_example= "api.example.com/output=json?start_date=2019-01?end_date=2020-12"
```

After the query, we obtain an "output," which needs to be processed according to the user or programmer's needs. In this example, we need to convert plain JSON text into a Python dictionary. To access the data, we first navigate through the key "output_example," then "data," to obtain the information. Afterward, we can convert this data into a Python DataFrame using `pd.DataFrame()`.

```json
"output_example": {
    "id_code": "sk_12km1",,
    "results": 1,
    "data": {
        "date": ["2019-01", "2019-02", "2019-03", ...],
        "col_info_1": [21, 12, 34],
        ...
    }

    }
```

## How do you make a request in Python?

In [2]:
# !pip install pandas requests
import pandas as pd, requests
import warnings
warnings.filterwarnings('ignore')

For this example, we'll take the BCRP API to demonstrate how the query is made and the information is prepared. In this case, we'll use the 'Lima's price index me' with the code 'PN001184MM' as the identifier.

![](figs/1_example.png)

In [10]:
query_domain = "https://estadisticas.bcrp.gob.pe/estadisticas/series/api"
id_query = '/PN00184MM'
output_format = "/json"
url_1 = query_domain + id_query + output_format
print(url_1)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN00184MM/json

To perform the request, we use the `requests` module and access its `.get` function to query the API, and `.json` to retrieve the content of the API response into `dict` format.

In [25]:
query = requests.get(url_1).json()
query

{'config': {'title': 'Liquidez de las sociedades creadoras de depósito (fin de periodo)',
  'series': [{'name': 'Liquidez de las sociedades creadoras de depósito (fin de periodo) - Cuasidinero MN (millones S/)',
    'dec': '0'}]},
 'periods': [{'name': 'Dic.2021', 'values': ['166829.834']},
  {'name': 'Ene.2022', 'values': ['164849.446']},
  {'name': 'Feb.2022', 'values': ['164073.937']},
  {'name': 'Mar.2022', 'values': ['164526.415']},
  {'name': 'Abr.2022', 'values': ['163792.147']},
  {'name': 'May.2022', 'values': ['161961.611']},
  {'name': 'Jun.2022', 'values': ['161883.542']},
  {'name': 'Jul.2022', 'values': ['168244.07']},
  {'name': 'Ago.2022', 'values': ['168391.996']},
  {'name': 'Sep.2022', 'values': ['171581.032']},
  {'name': 'Oct.2022', 'values': ['172269.681']},
  {'name': 'Nov.2022', 'values': ['171273.957']},
  {'name': 'Dic.2022', 'values': ['176440.532985']},
  {'name': 'Ene.2023', 'values': ['174845.280621']},
  {'name': 'Feb.2023', 'values': ['173178.233796']},
  {'name': 'Mar.2023', 'values': ['176575.02362']},
  {'name': 'Abr.2023', 'values': ['177158.034594']},
  {'name': 'May.2023', 'values': ['178637.508167']},
  {'name': 'Jun.2023', 'values': ['179238.867038']},
  {'name': 'Jul.2023', 'values': ['183632.203977']},
  {'name': 'Ago.2023', 'values': ['182055.49322']},
  {'name': 'Sep.2023', 'values': ['182795.735661']},
  {'name': 'Oct.2023', 'values': ['182843.678391']},
  {'name': 'Nov.2023', 'values': ['184563.39877']}]}

The dictionary has two main keys: `config`, which holds the `title` (title of the series) of the data, and `series`, which contains more metadata. On the other hand, `periods` holds all the information of the data. Within it, there is a 'name' representing the dates, and 'values,' which contains an array in string format representing the value for that date.


First, we'll demonstrate how to extract relevant information to create a database:

- Firstly, the title found within `config`, under the key `title`.
- Next, the period within `periods`, accessed through an index in the array under the key `name`.
- Lastly, the value, which is located within `periods` as well, accessed through an index in the array under the key `values`.

In [26]:
query["periods"][0]["values"]

['166829.834']

In [27]:
title: str = query['config']['title']
index_0 = 0
date_0: str = query['periods'][0]['name']
value_0: str = query['periods'][0]['values'][0]

print(
f"""Title: {title}
Values index 0:
    - Date: {date_0}
    - Value: {value_0}
"""
)

Title: Liquidez de las sociedades creadoras de depósito (fin de periodo)
Values index 0:
    - Date: Dic.2021
    - Value: 166829.834

In [28]:
query

{'config': {'title': 'Liquidez de las sociedades creadoras de depósito (fin de periodo)',
  'series': [{'name': 'Liquidez de las sociedades creadoras de depósito (fin de periodo) - Cuasidinero MN (millones S/)',
    'dec': '0'}]},
 'periods': [{'name': 'Dic.2021', 'values': ['166829.834']},
  {'name': 'Ene.2022', 'values': ['164849.446']},
  {'name': 'Feb.2022', 'values': ['164073.937']},
  {'name': 'Mar.2022', 'values': ['164526.415']},
  {'name': 'Abr.2022', 'values': ['163792.147']},
  {'name': 'May.2022', 'values': ['161961.611']},
  {'name': 'Jun.2022', 'values': ['161883.542']},
  {'name': 'Jul.2022', 'values': ['168244.07']},
  {'name': 'Ago.2022', 'values': ['168391.996']},
  {'name': 'Sep.2022', 'values': ['171581.032']},
  {'name': 'Oct.2022', 'values': ['172269.681']},
  {'name': 'Nov.2022', 'values': ['171273.957']},
  {'name': 'Dic.2022', 'values': ['176440.532985']},
  {'name': 'Ene.2023', 'values': ['174845.280621']},
  {'name': 'Feb.2023', 'values': ['173178.233796']},
  {'name': 'Mar.2023', 'values': ['176575.02362']},
  {'name': 'Abr.2023', 'values': ['177158.034594']},
  {'name': 'May.2023', 'values': ['178637.508167']},
  {'name': 'Jun.2023', 'values': ['179238.867038']},
  {'name': 'Jul.2023', 'values': ['183632.203977']},
  {'name': 'Ago.2023', 'values': ['182055.49322']},
  {'name': 'Sep.2023', 'values': ['182795.735661']},
  {'name': 'Oct.2023', 'values': ['182843.678391']},
  {'name': 'Nov.2023', 'values': ['184563.39877']}]}

Taking into account the previous information, we can structure the database into 2 columns: "Date" and "Value," where the "Value" column needs to be in float format. With Pandas, we proceed as follows:

In [29]:
date_n = [x['name'] for x in query['periods']]
value_n = [x['values'][0] for x in query['periods']]

In [30]:
value_n

['166829.834',
 '164849.446',
 '164073.937',
 '164526.415',
 '163792.147',
 '161961.611',
 '161883.542',
 '168244.07',
 '168391.996',
 '171581.032',
 '172269.681',
 '171273.957',
 '176440.532985',
 '174845.280621',
 '173178.233796',
 '176575.02362',
 '177158.034594',
 '178637.508167',
 '179238.867038',
 '183632.203977',
 '182055.49322',
 '182795.735661',
 '182843.678391',
 '184563.39877']

In [31]:
data_1 = pd.DataFrame(
    {
        "Date": date_n,
        "Value": value_n
    }
)
print("n_rows, n_cols = ", data_1.shape)
data_1

n_rows, n_cols =  (24, 2)

        Date          Value
0   Dic.2021     166829.834
1   Ene.2022     164849.446
2   Feb.2022     164073.937
3   Mar.2022     164526.415
4   Abr.2022     163792.147
5   May.2022     161961.611
6   Jun.2022     161883.542
7   Jul.2022      168244.07
8   Ago.2022     168391.996
9   Sep.2022     171581.032
10  Oct.2022     172269.681
11  Nov.2022     171273.957
12  Dic.2022  176440.532985
13  Ene.2023  174845.280621
14  Feb.2023  173178.233796
15  Mar.2023   176575.02362
16  Abr.2023  177158.034594
17  May.2023  178637.508167
18  Jun.2023  179238.867038
19  Jul.2023  183632.203977
20  Ago.2023   182055.49322
21  Sep.2023  182795.735661
22  Oct.2023  182843.678391
23  Nov.2023   184563.39877

## Banco Central de Reserva del Peru (BCRP) - API

`https://estadisticas.bcrp.gob.pe/estadisticas/series/api/[códigos de series]/[formato de salida]/[periodo inicial]/[periodo final]/[idioma]`

Source: [API](https://estadisticas.bcrp.gob.pe/estadisticas/series/ayuda/api)

Components:

- **[códigos de series]**: Refers to the series codes that uniquely identify specific economic or financial indicators within the BCRP's database. These codes likely represent distinct types of data, such as inflation rates, GDP figures, exchange rates, etc.

- **[formato de salida]** (html, xls, xml, json, txt, csv): Specifies the desired output format for the retrieved data. It might include options such as 'csv' for comma-separated values, 'json' for JavaScript Object Notation, 'xml' for Extensible Markup Language. This parameter determines the format in which the data will be returned by the API.

- **[periodo inicial]**: Denotes the start period for the data retrieval. It could be a specific date or time frame from which you want the data to begin.

- **[periodo final]**: Indicates the end period for the data retrieval. Similar to the initial period, it signifies the date or time frame at which the data retrieval should conclude.

- **[idioma]** (default = esp): Specifies the language for the returned data. It determines in which language the metadata or additional information accompanying the retrieved data will be presented.

If we create a function incorporating the previous processes and take the components as parameters, we can build a database scraper.

In [37]:
def bcrp_data(id_query: str, start_date = None, end_date=None, output_format = "json", query_domain: str="https://estadisticas.bcrp.gob.pe/estadisticas/series/api"):
    
    url = query_domain + "/" + id_query.upper().strip() + "/" + output_format 
    if start_date is not None:
        url = url + "/" +  start_date
    if end_date is not None:
        url = url + "/" +  end_date 

    q = requests.get(url).json()
    print(url, q['config']['title'])
    date_n = [x['name'] for x in q['periods']]
    value_n = [x['values'][0] for x in q['periods']]
    data = pd.DataFrame(
        {
            "Date": date_n,
            "Value": value_n
        }
    )
    return data

In [ ]:
		Tipo de cambio de las principales monedas - promedio del período (UM por US$) - Peso Argentino ($)	Mensual
		Tipo de cambio real bilateral del Perú respecto a países latinoamericanos (promedio del período) - Uruguay	Mensual

In [54]:
list_series = ["PN37908XM", "PN01268PM", "PN01267PM"]

In [55]:
list_1 = []

In [56]:
dict_series = {}

In [57]:
for serie in list_series:
    serie_bcrp =   bcrp_data(serie, start_date="2005-01", end_date="2023-12")
    dict_series[serie] = serie_bcrp
    #list_1.append(serie_bcrp)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN37908XM/json/2005-01/2023-12 Tipo de cambio de las principales monedas - promedio del período (UM por US$)
https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01268PM/json/2005-01/2023-12 Tipo de cambio real bilateral del Perú respecto a países latinoamericanos (promedio del período)
https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01267PM/json/2005-01/2023-12 Tipo de cambio real bilateral del Perú respecto a países latinoamericanos (promedio del período)

In [58]:
dict_series["PN37908XM"]

        Date             Value
0   Ene.2017  15.9069772727273
1   Feb.2017         15.578675
2   Mar.2017   15.529847826087
3   Abr.2017         15.334625
4   May.2017  15.7158152173913
..       ...               ...
79  Ago.2023  323.320869565217
80  Sep.2023  349.989761904762
81  Oct.2023  349.999545454545
82  Nov.2023  353.630909090909
83  Dic.2023  636.471428571429

[84 rows x 2 columns]

In [36]:
bcrp_data("PN01234PM", start_date="2005-01", end_date="2023-12")

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01234PM/json/2005-01/2023-12 Tipo de cambio de las principales monedas - promedio del período (S/ por UM)

         Date             Value
0    Ene.2005  3.26821428571429
1    Feb.2005          3.258825
2    Mar.2005  3.25930952380952
3    Abr.2005           3.25795
4    May.2005  3.25488095238095
..        ...               ...
222  Jul.2023            3.6013
223  Ago.2023  3.69634090909091
224  Sep.2023  3.72966666666667
225  Oct.2023  3.84440909090909
226  Nov.2023  3.76188095238095

[227 rows x 2 columns]

In [11]:
bcrp_data("RD38225BM", start_date="2005-01", end_date="2015-02")

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/RD38225BM/json/2005-01/2015-02 Exportaciones por grupo de productos de Cajamarca (Valores FOB en millones de US$)

         Date         Value
0    Ene.2005   82.33294099
1    Feb.2005    134.088619
2    Mar.2005    121.104694
3    Abr.2005     94.074486
4    May.2005     105.66805
..        ...           ...
117  Oct.2014  146.56859541
118  Nov.2014  187.02393129
119  Dic.2014  187.44260031
120  Ene.2015  146.13384801
121  Feb.2015  136.08311793

[122 rows x 2 columns]

## Thrid-party software - official software

Websites or databases that receive constant requests typically have packages in various programming languages for use. For instance, in the case of the BCRP API, there are several internal functions that enable faster processing of the API, which is often computationally efficient.

Additionally, these APIs or databases require a bypass known as an API key to regulate query traffic and collect usage statistics. These API keys are typically not embedded within the internal code. One needs to refer to the documentation, request the API key, and place this variable within the execution environment of our project and the third-party software. In open-source projects, it's uncommon to collect API keys, yet it's advisable to authenticate the application before using it, especially when dealing with sensitive data.

## Federal Reserve Economic Data (FRED) - API

To access the FRED API, we need to have an account beforehand.
- Go to https://fred.stlouisfed.org/
- We sign up.
- Access "my account."
- Click on API keys.
- Fill out the form and accept the terms.
- Save the API key for future use.

Steps:

Create account

![](figs/1_fred_createaccount.png)

Create API key

![](figs/2_fred_api_key.png)

![](figs/3_fred_api_key_button.png)

![](figs/4_fred_api_key_request.png)

Save API key

![](figs/5_fred_api_key_result.png)

### Documentation [link](https://fred.stlouisfed.org/docs/api/fred/)

API

- Query Domain: `https://api.stlouisfed.org/`
- Url with API KEY: `{Query_domain}/{consults}&api_key={api_key}`

CONSULTS
- Series
    - fred/series - Get an economic data series.
    - fred/series/categories - Get the categories for an economic data series.
    - fred/series/observations - Get the observations or data values for an economic data series.
    - fred/series/release - Get the release for an economic data series.
    - fred/series/search - Get economic data series that match keywords.
    - fred/series/search/tags - Get the tags for a series search.
    - fred/series/search/related_tags - Get the related tags for a series search.
    - fred/series/tags - Get the tags for an economic data series.
    - fred/series/updates - Get economic data series sorted by when observations were updated on the FRED® server.
    - fred/series/vintagedates - Get the dates in history when a series' data values were revised or new data values were released.
- Sources
    - fred/sources - Get all sources of economic data.
    - fred/source - Get a source of economic data.
    - fred/source/releases - Get the releases for a source.

### Third-path softwares - [python](https://fred.stlouisfed.org/docs/api/fred/)

![](figs/1_python_fred.png)

### `pyfredapi` - [GitHub](https://github.com/gw-moore/pyfredapi)

`pyfredapi` is a Python library that makes it is easy to retrieve data from the FRED API web service. `pyfredapi` covers all the FRED API endpoints, and can retrieve data from FRED and ALFRED. Data can be returned as a pandas dataframe or as json. Requests to the FRED API can be customized according to the parameters made available by the web service endpoints.

In [61]:
!pip install pyfredapi -q

WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)

Add credentials (`APIKEY`)

In [62]:
# !pip install fredapi

In [63]:
import pyfredapi as pf
fred_api_key = "3430f99a19d5f62e73528885013f544c"

SystemError: initialization of _internal failed without raising an exception

#### Series Metadata

You can query a series' information directly with get_series_info. The get_series_info function returns a SeriesInfo object that contains all the metadata for the given series.

In the below example, we request information for the U.S. GDP series. From the result, we can see that the GDP series is

In [14]:
gdp_info = pf.get_series_info(series_id="GDP", api_key=fred_api_key)
print(gdp_info)

NameError: name 'pf' is not defined

#### Pull Data

The `get_series` function gets the latest data available for a given series. The default return for is a pandas dataframe. The `get_series` function also accepts a return_format argument that can be set to json to return the data in a json-like list of dictionaries.

In [11]:
gdp_df = pf.get_series(series_id="GDP", api_key=fred_api_key)
gdp_df.tail()

    realtime_start realtime_end       date      value
306     2024-01-09   2024-01-09 2022-07-01  25994.639
307     2024-01-09   2024-01-09 2022-10-01  26408.405
308     2024-01-09   2024-01-09 2023-01-01  26813.601
309     2024-01-09   2024-01-09 2023-04-01  27063.012
310     2024-01-09   2024-01-09 2023-07-01  27610.128

#### Get releases as-of date

`get_series_asof_date` returns all releases of a series made on or before a given date. This is helpful if you want limit your analysis window to only the data know on or before a given date.

For example, suppose we want the GDP estimates available on or before 2022-09-01. We can use `get_series_asof_date` with the date `2022-09-01`. The response includes the Q2 2022 estimates for 2022-07-28 and 2022-08-25, but not 2022-09-29 since that is after 2022-09-01.

In [12]:
gdp_090122_df = pf.get_series_asof_date("GDP", date="2022-09-01", api_key=fred_api_key)
gdp_090122_df.tail()

     realtime_start realtime_end       date      value
3071     2022-04-28   2022-05-25 2022-01-01  24382.683
3072     2022-05-26   2022-06-28 2022-01-01  24384.289
3073     2022-06-29   2022-09-01 2022-01-01  24386.734
3074     2022-07-28   2022-08-24 2022-04-01  24851.809
3075     2022-08-25   2022-09-01 2022-04-01  24882.878

#### Additional Parameters

In [13]:
extra_parameters = {
    "observation_start": "2020-01-01",
    "observation_end": "2020-12-31",
}

gdp_df = pf.get_series(series_id="GDP", **extra_parameters, api_key=fred_api_key)
gdp_df

  realtime_start realtime_end       date      value
0     2024-01-09   2024-01-09 2020-01-01  21706.513
1     2024-01-09   2024-01-09 2020-04-01  19913.143
2     2024-01-09   2024-01-09 2020-07-01  21647.640
3     2024-01-09   2024-01-09 2020-10-01  22024.502

## Yahoo Finance

### `yahoo_fin`

yfinance is a popular open source library developed by Ran Aroussi.

It’s completely free and super easy to setup- a single line to install the library:

In [64]:
!pip install yahoo_fin requests_html

Collecting yahoo_fin
  Downloading yahoo_fin-0.8.9.1-py3-none-any.whl (10 kB)
Collecting requests_html
  Downloading requests_html-0.10.0-py3-none-any.whl (13 kB)
Collecting feedparser
  Downloading feedparser-6.0.11-py3-none-any.whl (81 kB)
Requirement already satisfied: pandas in c:\users\alexander\anaconda3\lib\site-packages (from yahoo_fin) (1.5.3)
Requirement already satisfied: requests in c:\users\alexander\anaconda3\lib\site-packages (from yahoo_fin) (2.26.0)
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Collecting parse
  Downloading parse-1.20.0-py2.py3-none-any.whl (19 kB)
Collecting pyquery
  Downloading pyquery-2.0.0-py3-none-any.whl (22 kB)
Collecting pyppeteer>=0.0.14
  Downloading pyppeteer-1.0.2-py3-none-any.whl (83 kB)
Collecting fake-useragent
  Downloading fake_useragent-1.4.0-py3-none-any.whl (15 kB)
Requirement already satisfied: w3lib in c:\users\alexander\anaconda3\lib\site-packages (from requests_html) (1.21.0)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\alexander\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (4.8.1)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\alexander\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (4.62.3)
Requirement already satisfied: certifi>=2021 in c:\users\alexander\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (2022.12.7)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in c:\users\alexander\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (1.26.7)
Collecting websockets<11.0,>=10.0
  Downloading websockets-10.4-cp39-cp39-win_amd64.whl (101 kB)
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\alexander\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (1.4.4)
Requirement already satisfied: zipp>=0.5 in c:\users\alexander\anaconda3\lib\site-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (3.6.0)
Requirement already satisfied: colorama in c:\users\alexander\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.42.1->pyppeteer>=0.0.14->requests_html) (0.4.6)
Requirement already satisfied: beautifulsoup4 in c:\users\alexander\anaconda3\lib\site-packages (from bs4->requests_html) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\alexander\anaconda3\lib\site-packages (from beautifulsoup4->bs4->requests_html) (2.2.1)
Requirement already satisfied: importlib-resources>=5.0 in c:\users\alexander\anaconda3\lib\site-packages (from fake-useragent->requests_html) (5.2.0)
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
Requirement already satisfied: numpy>=1.20.3 in c:\users\alexander\anaconda3\lib\site-packages (from pandas->yahoo_fin) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\alexander\anaconda3\lib\site-packages (from pandas->yahoo_fin) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\alexander\anaconda3\lib\site-packages (from pandas->yahoo_fin) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\alexander\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->yahoo_fin) (1.16.0)
Requirement already satisfied: lxml>=2.1 in c:\users\alexander\anaconda3\lib\site-packages (from pyquery->requests_html) (4.6.3)
Collecting cssselect>=1.2.0
  Downloading cssselect-1.2.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: idna<4,>=2.5 in c:\users\alexander\anaconda3\lib\site-packages (from requests->yahoo_fin) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\alexander\anaconda3\lib\site-packages (from requests->yahoo_fin) (2.0.4)
Building wheels for collected packages: bs4, sgmllib3k
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=b444c0424f82eeadf230e288796382c94e9ef0ef7033fb02358cf6229b99fcda
  Stored in directory: c:\users\alexander\appdata\local\pip\cache\wheels\73\2b\cb\099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
  Building wheel for sgmllib3k (setup.py): started
  Building wheel for sgmllib3k (setup.py): finished with status 'done'
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6065 sha256=66fa3466a692af1a6ab8bd94bd568802b3e34bf3503a36548010ed428b6bb4e4
  Stored in directory: c:\users\alexander\appdata\local\pip\cache\wheels\65\7a\a7\78c287f64e401255dff4c13fdbc672fed5efbfd21c530114e1
Successfully built bs4 sgmllib3k
Installing collected packages: websockets, pyee, cssselect, sgmllib3k, pyquery, pyppeteer, parse, fake-useragent, bs4, requests-html, feedparser, yahoo-fin
  Attempting uninstall: cssselect
    Found existing installation: cssselect 1.1.0
    Uninstalling cssselect-1.1.0:
      Successfully uninstalled cssselect-1.1.0
Successfully installed bs4-0.0.1 cssselect-1.2.0 fake-useragent-1.4.0 feedparser-6.0.11 parse-1.20.0 pyee-8.2.2 pyppeteer-1.0.2 pyquery-2.0.0 requests-html-0.10.0 sgmllib3k-1.0.0 websockets-10.4 yahoo-fin-0.8.9.1

WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\alexander\anaconda3\lib\site-packages)

Methods

- `get_analysts_info`: Scrapes data from the Analysts page for the input ticker from Yahoo Finance (e.g. https://finance.yahoo.com/quote/NFLX/analysts?p=NFLX. This includes information on earnings estimates, EPS trends / revisions etc.
- `get_balance_sheet`: Scrapes the balance sheet for the input ticker from Yahoo Finance.
- `get_cash_flow`: Scrapes the cash flow statement for the input ticker from Yahoo Finance.
- `get_company_info`: Scrapes company information for ticker from Yahoo Finance.
- `get_currencies`: Retrieves information about currencies.
- `get_data`: Retrieves historical data for a given stock or index.
- `get_day_gainers`: Scrapes the top 100 (at most) stocks with the largest gains (on the given trading day) from Yahoo Finance.
- `get_day_losers`: Scrapes the top 100 (at most) worst performing stocks (on the given trading day) from Yahoo Finance.
- `get_day_most_active`: Retrieves the most actively traded stocks in a given day.
- `get_dividends`: Retrieves dividend-related data for a stock.
- `get_earnings`: Fetches earnings-related data for a company.
- `get_earnings_for_date`: Retrieves earnings data for a specific date.
- `get_earnings_in_date_range`: Retrieves earnings data within a specific date range.
- `get_earnings_history`: Fetches historical earnings data for a company.
- `get_financials`: Retrieves general financial information for a company.
- `get_futures`: Fetches information about futures.
- `get_holders`: Retrieves information about shareholders or stockholders.
- `get_income_statement`: Fetches the income statement for a company.
- `get_live_price`: Retrieves live price data for a specific stock or index.
- `get_market_status`: Retrieves information about the current market status.
- `get_next_earnings_date`: Retrieves the next earnings date for a company.
- `get_premarket_price`: Retrieves pre-market price data for a specific stock.
- `get_postmarket_price`: Retrieves post-market price data for a specific stock.
- `get_quote_data`: Fetches detailed quote data for a specific stock.
- `get_quote_table`: Fetches a table with various quote-related information for a stock.
- `get_top_crypto`: Retrieves information about top cryptocurrencies.
- `get_splits`: Retrieves information about stock splits.
- `get_stats`: Retrieves statistics for a stock.
- `get_stats_valuation`: Retrieves valuation-related statistics for a stock.
- `get_undervalued_large_caps`: Fetches undervalued large-cap stocks.
- `tickers_dow`: Retrieves the list of tickers in the Dow Jones Industrial Average.
- `tickers_ftse100`: Retrieves the list of tickers in the FTSE 100 index.
- `tickers_ftse250`: Retrieves the list of tickers in the FTSE 250 index.
- `tickers_ibovespa`: Retrieves the list of tickers in the Ibovespa index.
- `tickers_nasdaq`: Retrieves the list of tickers in the Nasdaq index.
- `tickers_nifty50`: Retrieves the list of tickers in the Nifty 50 index.
- `tickers_niftybank`: Retrieves the list of tickers in the Nifty Bank index.
- `tickers_other`: Retrieves tickers for other indices or categories.
- `tickers_sp500`: Retrieves the list of tickers in the S&P 500 index.

#### Download Price data

See [GitHub](https://github.com/atreadw1492/yahoo_fin)

In [65]:
from yahoo_fin import stock_info as yf

One of the core functions available is called `yf.get_data`, which retrieves historical price data for an individual stock. To call this function, just pass whatever ticker you want:

In [66]:
df1 = yf.get_data("nflx") # gets Netflix's data
df2 = yf.get_data("aapl") # gets Apple's data
df3 = yf.get_data("amzn") # gets Amazon's data

In [69]:
df3

,open,high,low,close,adjclose,volume,ticker
1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000,AMZN
1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000,AMZN
1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000,AMZN
1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000,AMZN
1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000,AMZN
...,...,...,...,...,...,...,...
2024-01-05,144.690002,146.589996,144.529999,145.240005,145.240005,45124800,AMZN
2024-01-08,146.740005,149.399994,146.149994,149.100006,149.100006,46757100,AMZN
2024-01-09,148.330002,151.710007,148.210007,151.369995,151.369995,43812600,AMZN
2024-01-10,152.059998,154.419998,151.880005,153.729996,153.729996,44421800,AMZN
2024-01-11,155.039993,157.169998,153.119995,155.179993,155.179993,48958800,AMZN

In [70]:
pd.concat([df1, df2, df3])

,open,high,low,close,adjclose,volume,ticker
2002-05-23,1.156429,1.242857,1.145714,1.196429,1.196429,104790000,NFLX
2002-05-24,1.214286,1.225000,1.197143,1.210000,1.210000,11104800,NFLX
2002-05-28,1.213571,1.232143,1.157143,1.157143,1.157143,6609400,NFLX
2002-05-29,1.164286,1.164286,1.085714,1.103571,1.103571,6757800,NFLX
2002-05-30,1.107857,1.107857,1.071429,1.071429,1.071429,10154200,NFLX
...,...,...,...,...,...,...,...
2024-01-05,144.690002,146.589996,144.529999,145.240005,145.240005,45124800,AMZN
2024-01-08,146.740005,149.399994,146.149994,149.100006,149.100006,46757100,AMZN
2024-01-09,148.330002,151.710007,148.210007,151.369995,151.369995,43812600,AMZN
2024-01-10,152.059998,154.419998,151.880005,153.729996,153.729996,44421800,AMZN
2024-01-11,155.039993,157.169998,153.119995,155.179993,155.179993,48958800,AMZN

Pull data for a specific date range:

In [71]:
yf.get_data("amzn", start_date = "01/01/2017", end_date = "01/31/2017").head()

,open,high,low,close,adjclose,volume,ticker
2017-01-03,37.896000,37.938000,37.384998,37.683498,37.683498,70422000,AMZN
2017-01-04,37.919498,37.984001,37.709999,37.859001,37.859001,50210000,AMZN
2017-01-05,38.077499,39.119999,38.013000,39.022499,39.022499,116602000,AMZN
2017-01-06,39.118000,39.972000,38.924000,39.799500,39.799500,119724000,AMZN
2017-01-09,39.900002,40.088501,39.588501,39.846001,39.846001,68922000,AMZN

In [72]:
yf.get_data('msft' , start_date = '01/01/1999').head()

,open,high,low,close,adjclose,volume,ticker
1999-01-04,34.902344,36.31250,34.843750,35.25000,21.853724,69305200,MSFT
1999-01-05,35.468750,37.00000,35.359375,36.62500,22.706173,64281600,MSFT
1999-01-06,37.375000,37.87500,36.687500,37.81250,23.442373,69064800,MSFT
1999-01-07,37.437500,37.65625,37.062500,37.62500,23.326134,51150400,MSFT
1999-01-08,38.046875,38.12500,36.750000,37.46875,23.229273,50244800,MSFT

#### Get Live Stock Prices

Scrape live stock prices from yahoo Finance (real-time).

In [77]:
# get live price of Apple
n = 0
while n < 5:
    appl, amz = yf.get_live_price("aapl"), yf.get_live_price("amzn")
    print({"Appl": appl, "Amzn": amz})
    n+=1

{'Appl': 185.80499267578125, 'Amzn': 154.97000122070312}
{'Appl': 185.80999755859375, 'Amzn': 155.0}
{'Appl': 185.8000030517578, 'Amzn': 154.97000122070312}
{'Appl': 185.77999877929688, 'Amzn': 154.92999267578125}
{'Appl': 185.77000427246094, 'Amzn': 154.94000244140625}

Top gainers (live) -> https://finance.yahoo.com/gainers

In [75]:
yf.get_day_gainers()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,WIT,Wipro Limited,6.34,0.97,18.16,6685000.0,1779000.0,3.326600e+10,24.40
1,UEC,Uranium Energy Corp.,7.61,0.68,9.81,11478000.0,7296000.0,2.991000e+09,761.00
2,CCJ,Cameco Corporation,50.51,3.85,8.24,7559000.0,4914000.0,2.194000e+10,109.79
3,NXE,NexGen Energy Ltd.,7.61,0.55,7.87,7198000.0,5304000.0,3.983000e+09,NaN
4,ITOCF,ITOCHU Corporation,46.73,2.94,6.71,26152.0,21240.0,6.759100e+10,13.58
5,SBSW,Sibanye Stillwater Limited,5.22,0.31,6.21,5135000.0,6080000.0,3.695000e+09,5.01
6,HMY,Harmony Gold Mining Company Limited,5.95,0.34,5.97,1598000.0,4773000.0,3.731000e+09,14.15
7,RCRUY,"Recruit Holdings Co., Ltd.",8.60,0.49,6.02,22918.0,541629.0,6.729500e+10,31.84
8,INFY,Infosys Limited,19.91,1.09,5.77,8254000.0,6601000.0,8.238500e+10,28.04
9,GFI,Gold Fields Limited,13.13,0.64,5.12,2551000.0,4799000.0,1.173200e+10,17.99
10,EGO,Eldorado Gold Corporation,12.78,0.63,5.19,510108.0,1829000.0,2.593000e+09,42.60
11,SRUUF,Sprott Physical Uranium Trust Fund,23.67,1.17,5.20,419430.0,627761.0,5.884000e+09,27.85
12,AAIGF,AIA Group Limited,8.26,0.38,4.82,87658.0,84759.0,9.588200e+10,91.78
13,FRO,Frontline plc,22.40,0.99,4.60,2154000.0,2836000.0,4.986000e+09,6.36
14,KGC,Kinross Gold Corporation,5.88,0.25,4.48,5031000.0,13629000.0,7.228000e+09,30.96
15,AU,AngloGold Ashanti plc,17.60,0.75,4.45,1019000.0,2477000.0,7.386000e+09,176.00
16,USM,United States Cellular Corporation,43.10,1.80,4.36,46273.0,223690.0,3.663000e+09,307.86
17,ARDX,"Ardelyx, Inc.",9.06,0.34,3.95,2334000.0,7303000.0,2.104000e+09,NaN
18,PAAS,Pan American Silver Corp.,15.35,0.60,4.03,1232000.0,3289000.0,5.596000e+09,NaN
19,BHPLF,BHP Group Limited,32.94,1.28,4.05,560260.0,150745.0,1.687970e+11,12.92
20,CTSH,Cognizant Technology Solutions Corporation,77.67,2.79,3.73,2588000.0,3315000.0,3.894500e+10,18.94
21,ARVN,"Arvinas, Inc.",39.31,1.37,3.61,123598.0,807454.0,2.163000e+09,NaN
22,BK,The Bank of New York Mellon Corporation,54.67,1.94,3.67,2483000.0,4632000.0,4.204100e+10,12.80
23,NCLTY,"Nitori Holdings Co., Ltd.",12.86,0.45,3.66,108250.0,237903.0,1.453800e+10,24.27
24,EADSF,Airbus SE,164.19,5.69,3.59,42740.0,4329.0,1.292840e+11,29.42
25,LEGN,Legend Biotech Corporation,60.94,1.89,3.20,185690.0,894201.0,1.110900e+10,NaN
26,CCOEY,"Capcom Co., Ltd.",18.98,0.65,3.56,63502.0,9972.0,7.945000e+09,25.31
27,CIEN,Ciena Corporation,50.05,1.67,3.45,973177.0,1550000.0,7.249000e+09,29.27
28,SWN,Southwestern Energy Company,6.93,0.21,3.13,12626000.0,21847000.0,7.633000e+09,1.50
29,INSW,"International Seaways, Inc.",50.93,1.64,3.33,313674.0,608435.0,2.491000e+09,3.93
30,KOF,"Coca-Cola FEMSA, S.A.B. de C.V.",92.96,3.18,3.54,95770.0,149777.0,1.952900e+10,15.57
31,TWST,Twist Bioscience Corporation,37.01,1.17,3.26,249771.0,1241000.0,2.138000e+09,NaN
32,MONOY,"MonotaRO Co., Ltd.",10.78,0.35,3.36,60469.0,146867.0,5.357000e+09,35.93
33,APLS,"Apellis Pharmaceuticals, Inc.",68.07,1.98,2.99,438865.0,2315000.0,8.066000e+09,NaN
34,BRZE,"Braze, Inc.",51.50,1.60,3.21,200670.0,773232.0,5.142000e+09,NaN
35,OSCR,"Oscar Health, Inc.",11.58,0.42,3.76,1601000.0,2079000.0,2.618000e+09,NaN
36,EDVMF,Endeavour Mining plc,18.72,0.58,3.23,31860.0,18748.0,4.703000e+09,NaN
37,ATAT,Atour Lifestyle Holdings Limited,17.61,0.55,3.19,120648.0,488524.0,2.424000e+09,38.29
38,KRYS,"Krystal Biotech, Inc.",128.94,3.91,3.13,35910.0,311972.0,3.637000e+09,NaN
39,UOVEF,United Overseas Bank Limited,21.71,0.67,3.16,18171.0,19666.0,3.671400e+10,7.75
40,BTAFF,British American Tobacco p.l.c.,30.47,0.91,3.09,21340.0,22083.0,6.893900e+10,6.18
41,OR,Osisko Gold Royalties Ltd,14.30,0.44,3.17,303616.0,941704.0,2.650000e+09,89.38
42,MARUF,Marubeni Corporation,17.01,0.51,3.07,17258.0,23248.0,2.851400e+10,8.81
43,VIST,"Vista Energy, S.A.B. de C.V.",30.54,0.87,2.93,58147.0,645053.0,2.906000e+09,8.63
44,HOCPY,HOYA Corporation,126.03,3.72,3.04,73220.0,37820.0,4.417500e+10,41.05
45,GLOB,Globant S.A.,235.55,7.41,3.25,103901.0,430248.0,9.996000e+09,65.80

Top Loosers (live) -> https://finance.yahoo.com/losers/

In [76]:
yf.get_day_losers()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,MARA,"Marathon Digital Holdings, Inc.",20.00,-2.40,-10.69,56483000.0,63792000.0,4.454000e+09,NaN
1,UAL,"United Airlines Holdings, Inc.",40.47,-4.04,-9.08,9553000.0,8293000.0,1.327500e+10,4.68
2,GRFS,"Grifols, S.A.",7.28,-0.68,-8.48,3943000.0,1670000.0,6.104000e+09,182.12
3,AAL,American Airlines Group Inc.,13.41,-1.18,-8.09,33627000.0,35921000.0,8.764000e+09,5.61
4,DAL,"Delta Air Lines, Inc.",39.05,-3.21,-7.60,17761000.0,9732000.0,2.512700e+10,7.37
...,...,...,...,...,...,...,...,...,...
75,BIDU,"Baidu, Inc.",114.19,-3.13,-2.67,1071000.0,2782000.0,3.992000e+10,19.13
76,DFS,Discover Financial Services,108.43,-2.81,-2.52,477243.0,2055000.0,2.711300e+10,8.03
77,BLMN,"Bloomin' Brands, Inc.",24.73,-0.65,-2.56,234674.0,1211000.0,2.147000e+09,9.26
78,SYF,Synchrony Financial,36.99,-0.99,-2.59,996005.0,4365000.0,1.530500e+10,6.81
79,SOFI,"SoFi Technologies, Inc.",7.96,-0.21,-2.57,15084000.0,42500000.0,7.632000e+09,NaN