# Assigment 4

This assigment will be graded if everything works well. I will run the script as once and everything should be done without errors and mistakes. I should be able to run your scripts in my computer and get all the results. **USE RELATIVE PATHS**. An error or exception or anything that breaks the code will means NO GRADE (0). Additionally, you are not able to modify any file handly. It also means NO GRADE (0). Comment everything you think will help others read your script. We expect 0 errors using GitHub. Everything will be graded!

**ASK EVERYTHING! WE ARE HERE TO HELP YOU!**

In this path **..\_data\sbs\B_RawData\bancos** you will find scraped data from [this link](https://www.sbs.gob.pe/app/pp/EstadisticasSAEEPortal/Paginas/TIActivaTipoCreditoEmpresa.aspx?tip=B). We get all the information of the last available day of every each month.

1. Import all the data and generate a column named as `date_info` that should have the day to information corresponds.
2. Append all this datasets and generate a unique dataframe. This newdataset should have information at `rate interest` and `date` level. The columns should be the name of the banks. Be careful since not all the excel files have the same format. **It is totally prohibited to manipulate manually the excel files. This kind of action means NO GRADE on this project.**
3. What are the top 5 banks each year with the highest interest rate at `Préstamos hipotecarios para vivienda`, `Consumo -
Tarjetas de Crédito`. Present a dataframe with these variables: `year`, `rate_concept`, `banks`, `rate_value`.
4. We want to save this dataset in the folder **_output/sbs/group_#**, but we want to save a file per bank. We want to have the information disaggregated at the bank level. Please, save your files with the name of the bank. Avoid blank spaces and use only lowercase letters. Generate the folder of your group using python code. **Hint: os library**

### SOLUTIONS

#### Part 1.

In [306]:
import pandas as pd
import numpy as np
import os
import re

In [29]:
# Set relative and full paths

path = '../../_data/sbs/B_RawData/bancos/'
fullpath = os.path.abspath('../../_data/sbs/B_RawData/bancos/')

In [595]:
# Import excel files and add a column called "date_info", which takes information from the excel files names.

dfs = []
for file in os.listdir(path):
    date_info = file[file.rindex('table_clean_')+12:]
    date_info = date_info[:-5]
    table_names_path = os.path.join(fullpath, f'{file}')
    data = pd.read_excel(table_names_path)
    data['date_info'] = date_info
    dfs.append(data)

#### Part 2.

In [596]:
# Loop to homogenize the excel files

for i, df in enumerate(dfs):
    if dfs[i].shape[0] < 25:
        dfs[i] = dfs[i].T
        new_colnames = dfs[i].iloc[0]
        dfs[i] = dfs[i][1:]
        dfs[i].columns = new_colnames
        dfs[i] = dfs[i].reset_index()
        dfs[i].columns.values[0] = "first_col"
        dfs[i].columns.values[1] = "second_col"
        dfs[i].columns.values[2] = "third_col"
        dfs[i].columns.values[-1] = "last_col"
        dfs[i][dfs[i]['last_col'].isnull()]=dfs[i][dfs[i]['last_col'].isnull()].shift(axis=1)
        dfs[i] = dfs[i].shift(-1, axis=1).dropna(axis=1)
        dfs[i]['catamaran'] = dfs[i].iloc[:,-1:]
        if dfs[i].shape[1] > 1: 
            dfs[i]['date_info'] = dfs[i]['catamaran'].iloc[len(dfs[i].index) - 1]
            dfs[i]['Tasa Anual (%)'] = dfs[i]['first_col'] + dfs[i]['third_col']
            dfs[i] = dfs[i].drop(['first_col', 'second_col', 'third_col', 'catamaran'], axis=1)
            dfs[i] = dfs[i].iloc[:-1 , :]
            dfs[i].index.names = ['index']

In [597]:
# Append vertically the excel files

data = pd.concat(dfs)

In [598]:
# Order columns

data = data.reindex(columns =['Tasa Anual (%)', 'date_info', 'TRABAJO',
                              'BBVA', 'BANCO DE COMERCIO', 'BANCO DE CREDITO',
                              'BANCO PICHINCHA', 'BANBIF', 'STANDARD CHARTERED',
                              'BANCO SUDAMERICANO', 'WIESE SUDAMERIS', 'BANK BOSTON',
                              'BNP PARIBAS EL', 'CITIBANK DEL PERU','INTERBANK', 
                              'MIBANCO','SCOTIABANK PERU', 'HSBC', 'BANCO FALABELLA', 
                              'SANTANDER PERU','BANCO RIPLEY', 'ALFIN BANCO', 
                              'DEUTSCHE BANK PERU','Promedio del Sistema', 'Comercio', 
                              'Crédito', 'Pichincha', 'BIF','Scotiabank', 'Citibank', 
                              'Interbank', 'Mibanco', 'GNB', 'Falabella', 'Santander', 
                              'Ripley', 'Azteca', 'ICBC', 'Bank of China', 'Promedio',
                              'Continental', 'Financiero', 'Banco GNB', 'Deutsche', 
                              'Cencosud', 'CAT', 'Alfin', 'B SANTANDER CENTRAL', 'Azteca  *',
                              'HSBC(*)', 'Financiero  *', 'BCI'])

In [599]:
data

,Tasa Anual (%),date_info,TRABAJO,BBVA,BANCO DE COMERCIO,BANCO DE CREDITO,BANCO PICHINCHA,BANBIF,STANDARD CHARTERED,BANCO SUDAMERICANO,...,Banco GNB,Deutsche,Cencosud,CAT,Alfin,B SANTANDER CENTRAL,Azteca *,HSBC(*),Financiero *,BCI
0,Avances en Cta.Corriente-,26_2_2004,38.92,-,73.34,-,39.08,-,31.73,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sobregiros-,26_2_2004,48.79,138.18,89.00,-,68.30,25.00,58.10,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Dsctos. y préstamos hasta 30 días-,26_2_2004,8.19,47.46,4.62,15.87,14.43,-,30.68,39.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dsctos. y préstamos 31 - 90 días-,26_2_2004,5.94,21.61,7.19,15.71,10.91,-,11.90,10.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Dsctos. y préstamos 91 - 180 días-,26_2_2004,10.00,19.71,5.34,15.82,10.71,-,9.98,7.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,Préstamos no Revolventes para libre disponibil...,31_8_2022,NaN,22.13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74.42,NaN,NaN,NaN,NaN,-
42,Préstamos no Revolventes para libre disponibil...,31_8_2022,NaN,18.22,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.00,NaN,NaN,NaN,NaN,-
43,Créditos pignoraticios,31_8_2022,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,-
44,Hipotecarios,31_8_2022,NaN,9.28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,-
45,Préstamos hipotecarios para vivienda,31_8_2022,NaN,9.28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,-