# 1 Assignment 2

In [180]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [93]:
#pip install pyreadstat
#pip install savReaderWriter

Requirement already satisfied: pyreadstat in c:\anaconda\lib\site-packages (1.1.3)
Requirement already satisfied: pandas>0.24.0 in c:\anaconda\lib\site-packages (from pyreadstat) (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\anaconda\lib\site-packages (from pandas>0.24.0->pyreadstat) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\anaconda\lib\site-packages (from pandas>0.24.0->pyreadstat) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\anaconda\lib\site-packages (from pandas>0.24.0->pyreadstat) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas>0.24.0->pyreadstat) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

#### Import REC0111.sav

In [95]:
rec_1 = pd.read_spss(r"../../_data/endes/2019/REC0111.sav")

In [96]:
rec_1.head(5)

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0

In [97]:
# Método 1

import savReaderWriter as sav
with sav.SavHeaderReader(r"../../_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata1 = header.all()
    value_labels1 = metadata1.valueLabels
    var_labels1 = metadata1.varLabels

In [98]:
# Método 2

import pyreadstat
rec1, meta = pyreadstat.read_sav( r"../../_data/endes/2019/REC0111.sav" )
value_labels1 = meta.variable_value_labels
var_labels1 = meta.column_names_to_labels

In [99]:
rec_1.attrs['value_labels'] = value_labels1
rec_1.attrs['var_labels'] = var_labels1

In [100]:
print(var_labels1["V131"])
value_labels1["V131"]

Etnicidad

{1.0: 'Quechua',
 2.0: 'Aimara',
 3.0: 'Ashaninka',
 4.0: 'Awajún/Aguaruna',
 5.0: 'Shipibo/Konibo',
 6.0: 'Shawi/Chayahuita',
 7.0: 'Matsigenka/ Machiguenga',
 8.0: 'Achuar',
 9.0: 'Otra lengua nativa u originaria',
 10.0: 'Castellano',
 11.0: 'Portugués',
 12.0: 'Otra lengua extranjera'}

#### Import RE223132.sav

In [101]:
rec_2 = pd.read_spss(r"../../_data/endes/2019/RE223132.sav")

In [102]:
# Método 1

with sav.SavHeaderReader(r"../../_data/endes/2019/RE223132.sav", ioUtf8=True) as header:
    metadata2 = header.all()
    value_labels2 = metadata2.valueLabels
    var_labels2 = metadata2.varLabels

In [103]:
# Método 2

import pyreadstat
rec1, meta = pyreadstat.read_sav( r"../../_data/endes/2019/RE223132.sav" )
value_labels2 = meta.variable_value_labels
var_labels2 = meta.column_names_to_labels

In [104]:
rec_2.attrs['value_labels'] = value_labels2
rec_2.attrs['var_labels'] = var_labels2

In [105]:
print(var_labels2['V213'])
value_labels2['V213']

Actualmente embarazada

{0.0: 'No o no está segura', 1.0: 'Sí'}

#### Import RE516171.sav

In [106]:
rec_3 = pd.read_spss(r"../../_data/endes/2019/RE516171.sav")

In [107]:
# Método 1

with sav.SavHeaderReader(r"../../_data/endes/2019/RE516171.sav", ioUtf8=True) as header:
    metadata3 = header.all()
    value_labels3 = metadata3.valueLabels
    var_labels3 = metadata3.varLabels

In [108]:
# Método 2

import pyreadstat
rec1, meta = pyreadstat.read_sav( r"../../_data/endes/2019/RE516171.sav" )
value_labels3 = meta.variable_value_labels
var_labels3 = meta.column_names_to_labels

In [109]:
rec_3.attrs['value_labels'] = value_labels3
rec_3.attrs['var_labels'] = var_labels3

In [110]:
print(var_labels3['V501'])
print(value_labels3['V501'])
print(var_labels3['V525'])
print(value_labels3['V525'])

Estado civil actual
{0.0: 'Nunca casada', 1.0: 'Casado', 2.0: 'Viviendo juntos', 3.0: 'Viuda', 4.0: 'Divorciada', 5.0: 'No viven juntos'}
Edad en la primera relación sexual
{0.0: 'Nunca tuvo relaciones sexuales', 96.0: 'En la primera union'}

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [111]:
var_labels1.keys()

dict_keys(['ID1', 'HHID', 'CASEID', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V013', 'V014', 'V015', 'V017', 'V018', 'V019', 'V019A', 'V020', 'V021', 'V023', 'V024', 'V025', 'V026', 'V027', 'V028', 'V029', 'V030', 'V031', 'V032', 'V033', 'V034', 'V040', 'V042', 'V043', 'V044', 'V000', 'Q105DD', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V113', 'V115', 'V116', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V128', 'V129', 'V130', 'V131', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V149', 'V150', 'V151', 'V152', 'V153', 'AWFACTT', 'AWFACTU', 'AWFACTR', 'AWFACTE', 'AWFACTW', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V166', 'V167', 'V168', 'ML101', 'QD333_1', 'QD333_2', 'QD333_3', 'QD333_4', 'QD333_5', 'QD333_6', 'UBIGEO', 'V022', 'V005', 'V190', 'V191', 'mujeres12a49', 'NCONGLOME'])

In [112]:
rec1_1 = rec_1.filter( items = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012',
                       'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133'  ])

In [113]:
rec1_1.shape

(38335, 22)

In [114]:
var_labels2.keys()

dict_keys(['ID1', 'CASEID', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V301', 'V302', 'V310', 'V311', 'V312', 'V313', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380', 'V384A', 'V384B', 'V384C', 'V393', 'V394', 'V395', 'V3A00A', 'V3A00B', 'V3A00C', 'V3A00D', 'V3A00E', 'V3A00F', 'V3A00G', 'V3A00H', 'V3A00I', 'V3A00J', 'V3A00K', 'V3A00L', 'V3A00M', 'V3A00N', 'V3A00O', 'V3A00P', 'V3A00Q', 'V3A00R', 'V3A00S', 'V3A00T', 'V3A00U', 'V3A00V', 'V3A00W', 'V3A00X', 'V3A00Y', 'V3A00Z', 'V3A01', 'V3A02', 'V3A03', 'V3A04', 'V3A05', 'V3A06', 'V3A07', 'V3A08A', 'V3A08B', 'V3A08C', 'V3A08D', 'V3A08E', 'V3A08F', 'V3A08G', 'V3A08H', 'V3A08I', 'V3A08J', 'V3A08K', 'V3A08L', 'V3A08M', 'V3A08N', 'V3A08O', 'V3A08P', 'V3A08Q', 'V3A08R', 'V3A08S', 'V3A08T', 'V3A08U', 'V3A08V', 'V3A08W', 'V3A08X', 'V3A08Z', 'V3A09A', 'V3A09B', 'V305_01', 'V305_02', 'V305_03', 'V305_05', 'V305_06', 'V305_07', 'V305_08', 'V305_09', 'V305_10', 'V305_11', 'V305_13', 'V305_14', 'V305_15', 'V305_16', 'V307_01', 'V307_02', 'V307_03', 'V307_04', 'V307_05', 'V307_06', 'V307_07', 'V307_08', 'V307_09', 'V307_10', 'V307_11', 'V307_12', 'V307_13', 'V307_14', 'V307_15', 'V307_16', 'QI302_05A', 'QI302_05B'])

In [115]:
rec2_1 = rec_2.filter( items = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359',
                       'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380'  ])
rec2_1.shape

(36922, 25)

In [116]:
rec_3.columns

Index(['ID1', 'CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507',
       'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V527', 'V528',
       'V529', 'V530', 'V531', 'V532', 'V535', 'V536', 'V537', 'V538', 'V539',
       'V540', 'V541', 'V602', 'V603', 'V604', 'V605', 'V613', 'V614', 'V616',
       'V621', 'V623', 'V624', 'V625', 'V626', 'V627', 'V628', 'V629', 'V631',
       'V632', 'V633A', 'V633B', 'V633C', 'V633D', 'V633E', 'V633F', 'V633G',
       'V634', 'V701', 'V702', 'V704', 'V705', 'V714', 'V714A', 'V715', 'V716',
       'V717', 'V719', 'V721', 'V729', 'V730', 'V731', 'V732', 'V739', 'V740',
       'V741', 'V743A', 'V743B', 'V743C', 'V743D', 'V743E', 'V743F', 'V744A',
       'V744B', 'V744C', 'V744D', 'V744E', 'V746'],
      dtype='object')

In [117]:
rec3_1 = rec_3.loc[ : , ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507',
       'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']]
rec3_1.shape

(33311, 18)

In [118]:
selected_cols_rec1_1 = rec1_1.columns
new_var_labels1 = { col: var_labels1[ col ] for col in selected_cols_rec1_1 }
new_value_labels1 = { key: value_labels1[ key ] for key in selected_cols_rec1_1 if key in value_labels1.keys() }

In [119]:
selected_cols_rec2_1 = rec2_1.columns
new_var_labels2 = { col: var_labels2[ col ] for col in selected_cols_rec2_1 }
new_value_labels2 = { key: value_labels2[ key ] for key in selected_cols_rec2_1 if key in value_labels2.keys() }

In [120]:
selected_cols_rec3_1 = rec3_1.columns
new_var_labels3 = { col: var_labels3[ col ] for col in selected_cols_rec3_1 }
new_value_labels3 = { key: value_labels3[ key ] for key in selected_cols_rec3_1 if key in value_labels3.keys() }

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [121]:
# creating a new column with df.assign

rec1_1.assign(year = 2019)

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,Urbano,No,No,No,No,No,No,Cemento/ladrillo,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,Rural,No,No,No,No,No,No,Pona,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,Rural,No,No,No,No,No,No,Pona,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,Rural,No,No,No,No,No,No,Pona,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,Rural,No,No,No,No,No,No,Pona,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,Rural,No,No,No,No,No,No,Pona,9.0,2019

In [122]:
# updating the new variable in the new_var_labels1 dictionary

new_var_labels1.update({"Year": "Year of the survey"})
new_var_labels1.get('Year')

'Year of the survey'

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [123]:
(rec1_1.shape, rec2_1.shape)

((38335, 22), (36922, 25))

In [124]:
rec12_merge = rec1_1.merge(rec2_1 , 
                           on = [ 'CASEID'], 
                           how = "left", 
                           validate = "m:1" )
rec12_merge.shape

(38335, 46)

In [125]:
endes_2019 = rec12_merge.merge(rec3_1, 
                               on = [ 'CASEID']
                               , how = "left",
                               validate = "m:1" )
endes_2019.shape

(38335, 63)

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. Your final output should be equal to `endes_2019_ta` object **Hint: Use `update` method.**

In [126]:
output = urllib.request.urlopen(r'https://www.dropbox.com/s/gwcssinb1j9zr6s/endes_2019_ta.pkl?dl=1')
endes_2019_ta = pickle.load( output )

In [127]:
# Unifying all the new_var_labels

new_var_labels1.update(new_var_labels2)
new_var_labels1.update(new_var_labels3)

# naming it var_labels
var_labels = new_var_labels1

In [128]:
# Unifying all the new_var_labels

new_value_labels1.update(new_value_labels2)
new_value_labels1.update(new_value_labels3)

# naming it var_labels
value_labels = new_value_labels1

In [129]:
endes_2019.attrs['var_labels'] = var_labels
endes_2019.attrs['value_labels'] = value_labels

In [130]:
endes_2019.attrs[ 'var_labels' ] == endes_2019_ta.attrs[ 'var_labels' ]

False

In [131]:
endes_2019.attrs[ 'value_labels' ] == endes_2019_ta.attrs[ 'value_labels' ]

False

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. The output of this exercise should be equal to the `all_data_ta` object. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

In [132]:
value_labels = []
var_labels = []
rec1_filters = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012','V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133' ]
rec2_filters = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
rec3_filters = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']
rec1_filters_1 = ["CASEID", "V000", "V001", "V002", "V003", "V004", "V008", "V009", "V010", "V011", "V012", "V024", "V102","V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]
all_data = []

for i in range(2015,2020):
    
    # Opening files 
    
    globals()[f"rec1_{i}"], globals()[f"meta_1_{i}"] = pyreadstat.read_sav( fr"../../_data/endes/{i}/REC0111.sav" )
    globals()[f"rec2_{i}"], globals()[f"meta_2_{i}"] = pyreadstat.read_sav( fr"../../_data/endes/{i}/RE223132.sav" )
    globals()[f"rec3_{i}"], globals()[f"meta_3_{i}"] = pyreadstat.read_sav( fr"../../_data/endes/{i}/RE516171.sav" )
    
    for a in range(1,4):
        print(f" When we first import rec{a} from year {i}, dimension's file was", {globals()[f"rec{a}_{i}"].shape})

        globals()[f"value_labels_{a}_{i}"] = globals()[f"meta_{a}_{i}"].variable_value_labels
        globals()[f"var_labels_{a}_{i}"] = globals()[f"meta_{a}_{i}"].column_names_to_labels
        globals()[f"rec{a}_{i}"].attrs['value_labels'] = globals()[f"value_labels_{a}_{i}"]
        globals()[f"rec{a}_{i}"].attrs['var_labels'] = globals()[f"var_labels_{a}_{i}"]
       
        if i == 2018:
            rec1_2018_1 = rec1_2018.filter( items = rec1_filters_1 )
            rec2_2018_1 = rec2_2018.filter( items = rec2_filters )
            rec3_2018_1 = rec3_2018.filter( items = rec3_filters )
        else:
            globals()[f"rec{a}_{i}_1"] = globals()[f"rec{a}_{i}"].filter( items = globals()[f"rec{a}_filters"] )
        print(f"Once we do the filter task, rec{a} from year {i}'s new dimension is", {globals()[f"rec{a}_{i}_1"].shape})

        globals()[f"selected_cols_rec{a}_{i}_1_1"] = globals()[f"rec{a}_{i}_1"].columns
        globals()[f"new_var_labels{a}_{i}_1_1"] = { col: globals()[f"var_labels_{a}_{i}"][ col ] for col in globals()[f"selected_cols_rec{a}_{i}_1_1"] }
        globals()[f"new_value_labels{a}_{i}_1_1"] = { key: globals()[f"value_labels_{a}_{i}"] for key in globals()[f"selected_cols_rec{a}_{i}_1_1"] if key in globals()[f"value_labels_{a}_{i}"].keys() }
     
        globals()[f"rec{a}_{i}_1"]['year'] = i
        print(f"After creating this new var, rec{a} from year {i}, has", {globals()[f"rec{a}_{i}_1"].shape}, "obs")
       
        # updating the new variable in the new_var_labels# dictionary

        globals()[f"new_var_labels{a}_{i}_1_1"].update({"Year": "Year of the survey"})
        globals()[f"new_var_labels{a}_{i}_1_1"].get('Year')
        
        # merge
            
        rec1_merge = globals()[f"rec1_{i}_1"].merge(globals()[f"rec2_{i}_1"] , 
                           on = [ 'CASEID'], 
                           how = "left", 
                           validate = "m:1" )
        globals()[f"endes_{i}"] = rec1_merge.merge(globals()[f"rec3_{i}_1"], 
                               on = [ 'CASEID']
                               , how = "left",
                               validate = "m:1" )
        print(f"Now, endes_{i} has", {globals()[f"endes_{i}"].shape}, "of dimension")
        
        # Unifying all the new_var_labels

        globals()[f"new_var_labels1_{i}_1_1"].update(globals()[f"new_var_labels2_{i}_1_1"])
        globals()[f"new_var_labels1_{i}_1_1"].update(globals()[f"new_var_labels3_{i}_1_1"])
        globals()[f"var_labels_{i}"] = globals()[f"new_var_labels1_{i}_1_1"]

        # Unifying all the new_var_labels
        
        globals()[f"new_value_labels1_{i}_1_1"].update(globals()[f"new_value_labels2_{i}_1_1"])
        globals()[f"new_value_labels1_{i}_1_1"].update(globals()[f"new_value_labels3_{i}_1_1"])
        globals()[f"value_labels_{i}"]  = globals()[f"new_value_labels1_{i}_1_1"]

        globals()[f"endes_{i}"].attrs['var_labels'] = globals()[f"var_labels_{i}"]
        globals()[f"endes_{i}"].attrs['value_labels'] = globals()[f"value_labels_{i}"]

 When we first import rec1 from year 2015, dimension's file was {(36655, 96)}
Once we do the filter task, rec1 from year 2015's new dimension is {(36655, 22)}
After creating this new var, rec1 from year 2015, has {(36655, 23)} obs

KeyError: 'rec2_2015_1'

In [ ]:
all_data = { 'year_2015' : { 'data' : endes_2015,
                          'var_labels' : var_labels_2015,
                          'value_labels' : value_labels_2015 },
           'year_2016' : { 'data' : endes_2016,
                          'var_labels' : var_labels_2016,
                          'value_labels' : value_labels_2016 },
           'year_2017' : { 'data' : endes_2017,
                          'var_labels' : var_labels_2017,
                          'value_labels' : value_labels_2017 },
           'year_2018' : { 'data' : endes_2018,
                          'var_labels' : var_labels_2018,
                          'value_labels' : value_labels_2018 },
           'year_2019' : { 'data' : endes_2019,
                          'var_labels' : var_labels_2019,
                          'value_labels' : value_labels_2019 }}

In [ ]:
# Now we are ask to compare endes_"year" with all_data_ta

output = urllib.request.urlopen(r'https://www.dropbox.com/s/dqv1d9of2uo6hul/all_data_ta.pkl?dl=1')
all_data_ta = pickle.load( output )

In [ ]:
all_data.values() == all_data_ta.values()

In [133]:
all_data.keys() == all_data_ta.keys()

AttributeError: 'list' object has no attribute 'keys'

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

In [134]:
all_data.values()

AttributeError: 'list' object has no attribute 'values'

In [135]:
all_data_1 = [] 

for i in range(2015, 2020):
    aux =  all_data[f"year_{i}"]["data"] 
    all_data_1.append(endes_data_2015_2019)

TypeError: list indices must be integers or slices, not str

In [88]:
endes_data_2015_2019_1 = pd.concat(all_data_1)
endes_data_2015_2019 = endes_data_2015_2019_1.reset_index( drop = True )

ValueError: No objects to concatenate

In [136]:
endes_data_2015_2019

NameError: name 'endes_data_2015_2019' is not defined

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`. Your final output should be equal to `endes_data_2015_2019_ta` object. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

In [90]:
all_var_labels = {}
all_value_labels = {} 

for i in range (2015, 2020):
    all_var_labels[f'{i}'] = all_data[f"year_{i}"]["var_labels"]
    all_value_labels[f'{i}'] = all_data[f"year_{i}"]["value_labels"]

TypeError: list indices must be integers or slices, not str

In [91]:
endes_data_2015_2019.attrs['var_labels'] = all_var_labels
endes_data_2015_2019.attrs['value_labels'] = all_value_labels

NameError: name 'endes_data_2015_2019' is not defined

In [139]:
output = urllib.request.urlopen( r'https://www.dropbox.com/s/oifvyjrr7s0e1md/endes_data_2015_2019_ta.pkl?dl=1')
endes_data_2015_2019_ta = pickle.load( output )

In [ ]:
endes_data_2015_2019.attrs['value_labels'] == endes_data_2015_2019_ta.attrs['value_labels']

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [ ]:
#'V201', 'V613', 'V715', 'V511'

In [260]:
# subsetting dataframe
endes_subset = endes_data_2015_2019_ta.loc[:, ['year', 'V024', 'V201', 'V613', 'V715', 'V511'] ]
endes_subset.shape

(182868, 6)

In [214]:
# checking for NaN values
endes_subset.isnull().sum()

year        0
V024        0
V201     5100
V613    12492
V715    50729
V511    50645
dtype: int64

In [221]:
# droping rows if either ['V715', 'V511'] columns have NaN values
#endes_key_vars = endes_subset.dropna( subset = ['V715', 'V511'], how = 'any' )

In [261]:
#endes_key_vars.isnull().sum()

In [259]:
endes_key_vars.shape

(132138, 6)

In [266]:
# grouping by by year and department 
key_vars_grouped = endes_subset.groupby( ['year', 'V024'], as_index = False)

In [267]:
key_vars_grouped.agg('mean')

     year          V024      V201       V511
0    2015      Amazonas  2.445515  19.014493
1    2015        Ancash  2.028594  20.587935
2    2015      Apurimac  2.415771  19.641466
3    2015      Arequipa  1.711661  22.038043
4    2015      Ayacucho  2.493585  20.037555
..    ...           ...       ...        ...
120  2019      Ayacucho  1.848787  20.340228
121  2019     Cajamarca  1.931559  19.610695
122  2019        Callao  1.567164  21.517241
123  2019         Cusco  1.894415  20.283154
124  2019  Huancavelica  2.083969  19.780769

[125 rows x 4 columns]

In [271]:
# couldn't agg for variables 'V715' and 'V511'
mean_key_vars = key_vars_grouped.agg(
    mean_total_children = ('V201', np.mean),
    mean_first_marriage = ('V511', np.mean))
    #mean_ideal_children =  ('V715', np.mean),
    #mean_hb_yr_educ = ('V511', np.mean))
mean_key_vars

     year          V024  mean_total_children  mean_first_marriage
0    2015      Amazonas             2.445515            19.014493
1    2015        Ancash             2.028594            20.587935
2    2015      Apurimac             2.415771            19.641466
3    2015      Arequipa             1.711661            22.038043
4    2015      Ayacucho             2.493585            20.037555
..    ...           ...                  ...                  ...
120  2019      Ayacucho             1.848787            20.340228
121  2019     Cajamarca             1.931559            19.610695
122  2019        Callao             1.567164            21.517241
123  2019         Cusco             1.894415            20.283154
124  2019  Huancavelica             2.083969            19.780769

[125 rows x 4 columns]

In [ ]:
#'V201', 'V613', 'V715', 'V511'

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. Your ouput should be equal to `final_result_ta`. **Hint: Use merge.**

In [252]:
output = urllib.request.urlopen( r'https://www.dropbox.com/s/ntor3jbpdxpj9u1/final_result_ta.pkl?dl=1' )
final_result_ta = pickle.load( output )

In [254]:
final_result_ta

,CASEID,V000,V001,V002,V003,V004,V008,V009,V010,V011,...,V512,V513,V525,V613,V714,V715,mean_total_children,mean_ideal_children,mean_hb_yr_educ,mean_first_marriage
0,000102701 1,PE6,1.0,27.0,1.0,1.0,1386.0,7.0,1985.0,1027.0,...,13.0,10-14,15.0,4.0,Yes,3.0,2.445515,2.556632,8.195632,19.014493
1,000104301 1,PE6,1.0,43.0,1.0,1.0,1386.0,4.0,1974.0,892.0,...,8.0,5-9,26.0,2.0,No,9.0,2.445515,2.556632,8.195632,19.014493
2,000104801 2,PE6,1.0,48.0,2.0,1.0,1386.0,1.0,1980.0,961.0,...,17.0,15-19,18.0,1.0,Yes,11.0,2.445515,2.556632,8.195632,19.014493
3,000104801 3,PE6,1.0,48.0,3.0,1.0,1386.0,11.0,1999.0,1199.0,...,NaN,Never married,Not had intercourse,0.0,Yes,NaN,2.445515,2.556632,8.195632,19.014493
4,000105001 3,PE6,1.0,50.0,3.0,1.0,1386.0,8.0,1993.0,1124.0,...,NaN,Never married,21.0,2.0,No,NaN,2.445515,2.556632,8.195632,19.014493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182863,325406201 2,PE6,3254.0,62.0,2.0,3254.0,1440.0,12.0,1971.0,864.0,...,34.0,De 30 a más años,12.0,3.0,No,5.0,2.012258,2.388399,10.709355,18.985481
182864,325406301 2,PE6,3254.0,63.0,2.0,3254.0,1440.0,6.0,1988.0,1063.0,...,17.0,De 15 a 19 años,12.0,3.0,No,7.0,2.012258,2.388399,10.709355,18.985481
182865,325407001 2,PE6,3254.0,70.0,2.0,3254.0,1440.0,7.0,1973.0,883.0,...,33.0,De 30 a más años,12.0,4.0,No,5.0,2.012258,2.388399,10.709355,18.985481
182866,325407201 2,PE6,3254.0,72.0,2.0,3254.0,1440.0,12.0,1994.0,1140.0,...,11.0,De 10 a 14 años,13.0,2.0,No,11.0,2.012258,2.388399,10.709355,18.985481
182867,325407401 2,PE6,3254.0,74.0,2.0,3254.0,1440.0,10.0,1996.0,1163.0,...,6.0,De 5 a 9 años,15.0,2.0,No,11.0,2.012258,2.388399,10.709355,18.985481

In [272]:
final_result = endes_data_2015_2019_ta.merge(mean_key_vars , 
                           on = ['year', 'V024'], 
                           how = "left", 
                           validate = "m:1" )
final_result

,CASEID,V000,V001,V002,V003,V004,V008,V009,V010,V011,...,V510,V511,V512,V513,V525,V613,V714,V715,mean_total_children,mean_first_marriage
0,000102701 1,PE6,1.0,27.0,1.0,1.0,1386.0,7.0,1985.0,1027.0,...,Month and year,16.0,13.0,10-14,15.0,4.0,Yes,3.0,2.445515,19.014493
1,000104301 1,PE6,1.0,43.0,1.0,1.0,1386.0,4.0,1974.0,892.0,...,Month and year,33.0,8.0,5-9,26.0,2.0,No,9.0,2.445515,19.014493
2,000104801 2,PE6,1.0,48.0,2.0,1.0,1386.0,1.0,1980.0,961.0,...,Month and year,18.0,17.0,15-19,18.0,1.0,Yes,11.0,2.445515,19.014493
3,000104801 3,PE6,1.0,48.0,3.0,1.0,1386.0,11.0,1999.0,1199.0,...,NaN,NaN,NaN,Never married,Not had intercourse,0.0,Yes,NaN,2.445515,19.014493
4,000105001 3,PE6,1.0,50.0,3.0,1.0,1386.0,8.0,1993.0,1124.0,...,NaN,NaN,NaN,Never married,21.0,2.0,No,NaN,2.445515,19.014493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182863,325406201 2,PE6,3254.0,62.0,2.0,3254.0,1440.0,12.0,1971.0,864.0,...,Tiene mes y año,14.0,34.0,De 30 a más años,12.0,3.0,No,5.0,2.012258,18.985481
182864,325406301 2,PE6,3254.0,63.0,2.0,3254.0,1440.0,6.0,1988.0,1063.0,...,Tiene mes y año,14.0,17.0,De 15 a 19 años,12.0,3.0,No,7.0,2.012258,18.985481
182865,325407001 2,PE6,3254.0,70.0,2.0,3254.0,1440.0,7.0,1973.0,883.0,...,Tiene mes y año,13.0,33.0,De 30 a más años,12.0,4.0,No,5.0,2.012258,18.985481
182866,325407201 2,PE6,3254.0,72.0,2.0,3254.0,1440.0,12.0,1994.0,1140.0,...,Tiene mes y año,13.0,11.0,De 10 a 14 años,13.0,2.0,No,11.0,2.012258,18.985481
182867,325407401 2,PE6,3254.0,74.0,2.0,3254.0,1440.0,10.0,1996.0,1163.0,...,Tiene mes y año,16.0,6.0,De 5 a 9 años,15.0,2.0,No,11.0,2.012258,18.985481