Assigment 2

In [19]:

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

(5, 15, 25)

Print the first item of the second item of tuple1 object. Hint: Use indexing

In [59]:
y=tuple1[2]
y
y.index ( 5 )

0

Print the last item of the tuple1 object.Hint: Use indexing

In [78]:
tuple1[2]

(5, 15, 25)

Change the value "orange" for "pink grapefruit". Comment the output. Hint: Is it possible?

Not possible because you cant change items in a tuple.

Print the length of tuple1. Hint: Length function

In [19]:
len(tuple1)

3

Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

In [26]:

x = map(tuple2, (7, 8, 9), (1, 10, 7))
print(x)

<map object at 0x000002187105C730>

In [31]:
#Primero convertimos la tupla en una lista para poder modificar (sumar) sus elementos, luego usamos la función map para "flatten"
#los elementos, es decir, que no estén separados por [] y, por lo tanto, no sean objetos distintos dentro de la lista, luego
#volvemos a convertir el elemento en una lista y finalmente sumamos todo. Cabe aclarar que la primera suma, suma lo elementos
#de los tres objetos que tiene la lista, que, posteriormente, dejarán de estar separados gracias a la función map,
#el resultado sería [15, 10, 17], pero si volvemos a sumar ahora sí nos da la suma total
new= sum(list(map(sum, list(tuple2))))
new

42

Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.

In [74]:
tuple3 = ([7, 8], [9])
tuple3

([7, 8], [9])

In [75]:
a=tuple2[0]
b=tuple2[1]
c=tuple2[2]

In [69]:
tuple3=a+b+c

In [72]:
tuple3=tuple3[0:3]
tuple3

[7, 8, 9]